[2016-03-07 14:01] jpfairbanks commented on #313
Sounds good to me. I have been using GraphLayout.jl so it would be nice if API/naming conventions could be similar to that Package as much as is practical.

[2016-03-07 16:08] sbromberger commented on #313
I'm ok with that as well. I've been using GraphPlots.jl - so it's as easy as
[code]

[2016-03-08 10:08] CarloLucibello commented on #313
wrote a proof of concept here,
https://github.com/CarloLucibello/GraphVisualize
 integrating it with GraphLayout.

Since I don't have the permissions, can someone open a repo in JuliaGraphs?

[2016-03-08 13:08] SimonDanisch commented on #313
Cool :)
I actually started rewriting GraphLayout a bit for [SignalView.jl](https://github.com/SimonDanisch/SignalView.jl), but then run out of time! I should open a PR at some point.
I wouldn't mind moving basic graph visualizations into GLVisualize itself.
Best would be, if we don't use any graphing package specific types but instead something that is defined in GeometryTypes. If types are missin

[2016-03-08 13:32] CarloLucibello commented on #313
Thanks for the response Simon.

I don't really see any problem in relying on GeometryTypes primitives, but what I'm optimistically envisioning for a package like GraphVisualization is a tight interaction beetween graph theoretical analysis and visualization, so that you can have a workflow like
[code]
To do this you have to relyi on a graph library such as LightGraph, and therefore I was thinking

[2016-03-08 13:38] SimonDanisch commented on #313
Whatever is the best in the end ;) Just wanted to let you know that it's an option. And I like to keep stuff package independent as much as possible. Would be sad if you come up with great code and it only works for LightGraph, event though that it doesn't strictly need it! :)

[2016-03-08 13:59] jpfairbanks commented on #313
Depending on an adjacency list representation should be enough to make things easy to be "package independent" once there is a demand to make that work. This is another data point indicating that we should introduce an `abstract` type for adjacency lists of which `LightGraphs.{Di,}Graph` would be subtypes. Not to re-litigate #227 now --- just adding a point of evidence for when we choose to reopen

[2016-03-08 14:51] sbromberger commented on #313
https://github.com/JuliaGraphs/GraphVisualization.jl

[2016-03-08 14:52] sbromberger commented on #313
@jpfairbanks and @CarloLucibello - you should both have write access to it.

BTW: are you guys ever gonna do something with Networks.jl or should we delete it?

[2016-03-08 15:07] jpfairbanks commented on #313
Hold on to the name!

James P Fairbanks
Ph.D Candidate
Computational Science and Engineering
Georgia Tech
On Mar 8, 2016 9:52 AM, "Seth Bromberger" <notifications@github.com> wrote:

[2016-03-08 15:17] sbromberger commented on #313
Well, we didn't register it in METADATA so it's not a huge deal to delete it. :)

[2016-03-09 06:12] sbromberger commented on #278
Just as another datapoint: the recent dependency on JLD cascaded into 5 new packages required for LightGraphs. This is getting crazy.

[2016-03-09 13:11] jpfairbanks commented on #278
yeah I was a little surprised you accepted that PR

[2016-03-09 13:20] jpfairbanks commented on #278
Maybe we want to spin off the IO stuff into its own module then package which would reduce dependencies for XML, GZIP, JLD. Then the next task would be clustering as I described above. My concern is that having a set of package that all depend on each other we have to start worrying about syncing versions.

[2016-03-09 14:41] sbromberger commented on #278
I have the same concern, but I think that keeping things in sync within JuliaGraphs is going to be much easier than keeping things in sync between LightGraphs and 20+ other packages.

[2016-03-09 15:21] jpfairbanks commented on #278
Haha keepin' it :100:

Yeah that is probably true. Do you agree that I/O aka Persistence is the right place to start?

[2016-03-09 16:25] sbromberger commented on #278
It's a place to start, which is ahead of where we are now. If you want to create a new repo for the persistence stuff, please do.

Quick bikeshed on the name, and for future things that get pulled out: I propose "LG" + whatever function group we're pulling out, so this would be "LGPersistence.jl". I'm open to alternatives but I think we should
1) mandate that all "official" LG extensions are kept

[2016-03-09 16:28] sbromberger commented on #313
Closing this out since we have GraphVisualize.jl now. :)

[2016-03-09 16:28] #313 closed

[2016-03-09 16:28] sbromberger commented on #303
Closing due to merge of #307.

[2016-03-09 16:28] #303 closed

[2016-03-09 16:31] sbromberger commented on #296
Closing this out now that we've merged #306. See also #278 for some discussion on planned direction.

[2016-03-09 17:12] CarloLucibello commented on #296
Can we reopen this? We don't support yet saving properties in the formats that allow it (graphml, gexf, gml,...)

[2016-03-10 12:39] diam opened #314 "Add NEWS.md file at root directory"
Bonjour,
It would be nice to have a NEWS.md file in root directory  with the date (or some version number) and the main modifications abstract, much like the JuMP.jl package.
-- Maurice

[2016-03-10 15:10] sbromberger commented on #314
Are you thinking this would be a changelog?

[2016-03-10 15:10] sbromberger commented on #288
Did we address this with one of the recent merges?

[2016-03-10 15:37] diam commented on #314
More or less yes, a changelog with the user level selected modifications.

[2016-03-10 15:39] CarloLucibello commented on #288
not yet, let me reopen and merge #297 first, then I'll file another PR addressing this and as many docs problem as I can

[2016-03-10 23:32] jpfairbanks commented on #314
@diam can you propose a format for the entries so that they can be generated by git-log. We can start from the git-log output and summarize into a human usable CHANGELOG.md file.

[2016-03-11 03:26] diam commented on #314
I agree that `CHANGELOG.md` would be a more adapted filename for a semi-automaticaly generated file, reserving `NEWS.md` for a higher level one.

`CHANGELOG.md` could be something like:

<pre>
## 0.0.8 - 2016-01-20
- some text for commit 5
- some text for commit 4
## 0.0.7 - 2016-01-01
- some text for commit 3
- some text for commit 2
- some text for commit 1
## 0.0.0 - ???
- first commit
</pre>

[2016-03-24 01:51] sbromberger commented on #278
A timely discussion with respect to overreliance on dependencies breaking things:

https://medium.com/@azerbike/i-ve-just-liberated-my-modules-9045c06be67c#.scu2wms85
http://www.theregister.co.uk/2016/03/23/npm_left_pad_chaos/
https://news.ycombinator.com/item?id=11340510
https://news.ycombinator.com/item?id=11343985

[2016-03-24 02:22] sbromberger commented on #278
Also: have you guys tried to build / precompile LG lately? It takes (literally) 15 minutes on my machine, and fails the first time because GraphMatrices requires Compat but LG `@require`s GraphMatrices, which apparently doesn't resolve the chained dependencies.

[2016-03-24 03:52] jpfairbanks commented on #278
Precompiling only takes a few seconds on my MacBook.

[2016-03-24 05:24] CarloLucibello commented on #278
Aldo for me takes a few seconda on linux

[2016-03-24 13:51] sbromberger commented on #278
Sorry, let me be a bit more clear: `rm ~/.julia/lib/v0.4/*.ji` (to remove all cached dependencies), then `julia`, then `using LightGraphs`.

[2016-03-25 13:51] jpfairbanks opened #319 "JuliaGraphs Logo"
This is a pseudoissue.
I just noticed the logo.
Who made it?

[2016-03-25 14:16] sbromberger commented on #319
I did. :)

[2016-03-25 14:25] sbromberger commented on #319
See also https://github.com/JuliaLang/Graphs.jl/issues/165

[2016-03-28 21:33] jpfairbanks commented on #314
That looks good, would you like to write up an example for some previous releases to get us started?

[2016-03-28 21:49] CarloLucibello opened #320 "New pages not showing up in readthedocs"
in #317 the new pages community.md and matching.md where generated. Why I cannot see them here http://lightgraphsjl.readthedocs.org/en/latest/ ?

[2016-03-29 20:45] sbromberger commented on #320
you need to make changes to `mkdocs.yml`, I think.

[2016-03-29 22:22] #319 closed

[2016-03-31 10:25] diam commented on #314
With the help of the following git command:
<pre>git log  --pretty=format:"%h%x09%an%x09%ad%x09%s" --date=short > all_git.log</pre>
I've started some `NEWS.md` file. It is mostly informative and I've not put the special prefix characters for the type of the commit.
Also there is no version number and the release date is purely arbitrary (I break the log about once a month).
Each item should probab

[2016-04-02 13:35] #320 closed

[2016-04-04 21:58] sbromberger commented on #296
Reopened. sorry for delay.

[2016-04-06 13:54] jpfairbanks opened #323 "Random Graph Generator Validation"
We should validate the random graph generation by sampling from them and asserting various properties. For ER graphs there is a long catalog of such properties. For the more complex models there should still be things to assert. All of the tests would need to reflect the fact that the properties are usually with high probability.

If someone wants to work on this I can help but I am not really an

[2016-04-07 07:18] CarloLucibello commented on #323
why you want to do this? the algorithms for random graph generation are usually quite simple, some basic tests and a careful review of the code should be sufficient....

[2016-04-07 08:11] CarloLucibello opened #324 "Betweenness centrality deceptive docstring"
The docstring of the function mention a non-existing

weights: AbstractArray{Float64, 2}, optional Matrix containing the weight associated with each edge (i,j)  ω[i, j] is the weight between vertices i and j. If no weights are specified, shortest paths are computed using equal weights. If values are missing, they are assumed equal to 1. Advice Use sparse matrices for better performances.

that is

[2016-04-07 08:35] CarloLucibello opened #326 "Fix Codecov"
I miss a lot the green marks, can we lower the codecov targets to 97.8 to have them back again? @sbromberger

[2016-04-07 15:02] #324 closed

[2016-04-10 06:25] sbromberger commented on #326
I do too, but...

...the reason we're at 97.x% is because of these darn conditional dependencies. I wish there were a way to resolve them :)

I'll move codecov target to 97%.

[2016-04-10 06:26] #326 closed

[2016-04-10 06:32] sbromberger commented on #290
Closing now that we've made some progress.

[2016-04-10 06:32] #290 closed

[2016-04-11 07:10] CarloLucibello opened #330 "traverse_graph is not pure and should end with !"

[2016-04-11 08:07] CarloLucibello opened #331 "missing edgecolormap in BFS traversal"
while it is present in DFS.

Maybe there is a way, to maximize efficiency, to choose if edge discovery has to be considered or not

[2016-04-11 11:09] jpfairbanks commented on #331
Do you have more details?

[2016-04-11 11:49] CarloLucibello commented on #331
on this?

no! just whishfull thinking :)

[2016-04-11 15:15] sbromberger commented on #331
I don't think this is correct. We have calls to `open_vertex`, `discover_vertex!`, and `examine_neighbor` in the BFS code. Am I misunderstanding your issue?

[2016-04-11 18:52] CarloLucibello commented on #331
@sbromberger you are right, actually I misundertstood the issue. Actually what is missing in BFS with respect to DFS is an edgecolormap, whose elements should be passed to examine_neighbor. At the moment `examine_neighbor` in BFS always takes a -1 dummy argument.

This could be fixed easily, I'll do it along the other changes in #332

@jpfairbanks For traversals not needing an edgecolormap maybe o

[2016-04-18 08:02] CarloLucibello opened #336 "define EdgeMap and VertexMap"
as standard maps used throughout LG, like edge weight/distances, vertex colormaps in traversal, communities, I/O funtions (see #296), and so on...

A simple proposal would be
[code]

and a simpler one is
[code]

[2016-04-18 08:03] #288 closed

[2016-04-18 08:07] CarloLucibello commented on #289
While we should always keep an eye on missing and ill formatted docs, I think this issue has been mostly addressed in #321 #325 #327

[2016-04-18 08:07] #289 closed

[2016-04-18 08:11] CarloLucibello opened #337 "Missing Dev and Docs guidelines"
Someone wants to take a stab at this?

[2016-04-18 11:38] jpfairbanks commented on #337
How do these sound?

# Contributing

Here are some guidlines for contributing code to this project.

## Bug reports
If you notice code that is incorrect/crashes/too slow please file a bug report. The report should be raised as a github issue with a minimal working example that reproduces the error message. The example should include any data needed. If the problem is incorrectness, then please pos

[2016-04-18 12:04] jpfairbanks commented on #336
I like this idea.

We could use a technique from http://docs.julialang.org/en/release-0.4/manual/interfaces/#abstract-arrays.

Using your first example.
[code]

Then we can use them as lazily initialized Arrays. Maybe we also want a default entry typically 0, 1, typemin(T), or typemax(T).

If you don't want to add the graph to the data structure. you could use this definition to get the sizes in t

[2016-04-18 14:10] sbromberger commented on #336
Why not
[code]
?

That way you can at least use something else if you want.

[2016-04-18 14:18] sbromberger commented on #337
Also something encouraging `foo && return` short-circuit syntax.

[2016-04-18 15:06] sbromberger commented on #337
@jpfairbanks I made some minor edits directly to your suggestion. It's great. Could you file a PR for this?

[2016-04-18 17:27] #337 closed

[2016-04-18 17:28] jpfairbanks commented on #336
Yay! @sbromberger is seeing the benefits of leveraging the julia type system.

There is a julia-users thread on this https://groups.google.com/d/msg/julia-users/hG_nXh5eRD0/523PvUtbAwAJ. I can release the code that results from taking Tim Holy's final comments.

I think it makes sense to define this in a simple package because it is reusable across many projects. I was thinking of releasing an Ass

[2016-04-18 21:20] sbromberger commented on #336
To be fair, I'm a huge proponent of the type system. I'm not a huge fan of parameterized types, especially within LG, since it tends to add more complexity and the goal of the package is to be as simple as possible (but no simpler).

For the record: I will cheerfully (at least initially; subsequent attempts may incur a bit of exasperation) deny any changes to core algorithms that require vertex or

[2016-04-19 09:33] CarloLucibello commented on #337
That was a quick! Very nice. Can we reopen this though, I want to add some guidelines for the docs too, and I could use this as a reminder.

Also, probably we will want the Contributing section to take its own page in the documentation

[2016-04-19 10:18] CarloLucibello commented on #336
I don't fill like inheriting AbstractArray is a good choice, at least for the edge map wich is more likely to be an associative collection. Let me focus on this case and try to draft some specs:

### EdgeMap specs
1. associative collection interface
1. inheritance from Associative
1. inheritance from Associative{Edge,T}
1. can use any associative collection Edge=>T  for storage
1. bidimensonal arr

[2016-04-19 13:11] jpfairbanks commented on #336
I generally agree with your requirements list.

## The Embedded Associative
We can make a type that gives us many of the benefits of `Array{T,2}` and many of the benefits of `Associative{Edge,T}`.

So one reason I like the form (or similar forms):
[code]
is that you can get the best of both worlds. If you want to use it like an array, then you can.
[code]
If you want to get the underlying Associat

[2016-04-20 08:41] mdpradeep opened #339 "Tag the latest version"
The tagged version of LightGraphs.jl fails while doing "using LightGraphs" because of pre-compilation. I believe that this is fixed with the latest version. Can the latest version be tagged ?

[2016-04-20 11:53] sbromberger commented on #339
Could you post the error?

[2016-04-20 17:57] mdpradeep commented on #339
Here's the error. But this could be because of bringing several other packages (before this) in to workspace. Will get back after some more investigation.

[code]

[2016-04-20 18:05] jpfairbanks commented on #339
Can you `using Clustering` in an otherwise blank repl?

[2016-04-21 00:20] sbromberger commented on #339
If you remove the Clustering.ji cache file, does it work?

[2016-04-21 08:07] CarloLucibello commented on #336
Last proposal has some downsides though, that algorithms can only assume an abstract array interface and cannot do thing as `edgemap[e]` but only `edgemap[src(e), dst(e)]`, and much more importantly they cannot ever test for the presence of a key in the map.

I'm coming to the conclusion that the safest, most robust and flexible thing to do is for each algorithm to accept exclusively objects of ty

[2016-04-21 11:40] jpfairbanks commented on #336
I don't think these are accurate.

If you define `@inline getindex(em::EdgeMap, e::Edge) = getindex(em.d, src(e),dst(e))` then you you use edges to access the data without any boxing/unboxing overhead. If you define `@inline in(em::EdgeMap, e::Edge) = in(keys(em.d), e)` you can test for the keys right? You can easily define that for the case `EdgeMap{T,Dict}`

[2016-04-21 12:54] mdpradeep commented on #339
@AndyGreenwell - Could you please comment on the above ?

[2016-04-21 13:22] AndyGreenwell commented on #339
The problem was related to attempting to perform `Pkg.add("LightGraphs")` and `using LightGraphs` prior to performing `Pkg.add` and `using` on some other packages that include LightGraphs (and Requires.jl) as a dependency within their REQUIRE files in association with a particular distribution of Julia being created that comes prepackaged with a large number of packages that have already been prec

[2016-04-21 14:11] sbromberger commented on #339
@AndyGreenwell @mdpradeep While I don't doubt that Requires.jl probably has some issues, it does not appear to be related to the error message above, since Clustering is explicitly listed in `REQUIRE`.

The error message above appears to be related to QuantEcon, which uses LightGraphs, but I'm not really seeing the connection to LG from that error message. Could you clarify where you believe the i

[2016-04-21 15:09] AndyGreenwell commented on #339
@sbromberger In my some testing I was performing with this particular distribution of Julia (not currently public) that comes with a set of existing precompiled packages, below is an example of a few operations that resulted in this error.

The commands added to a newly installed Julia (that includes this pre-built set of precompiled packages) are as follows:
[code]

Output is the following:

[cod

[2016-04-21 15:28] AndyGreenwell commented on #339
Here is the behavior of the same test using a version of Julia 0.4.3 that was previously obtained directly from www.julialang.org/downloads, and in which the operational environment did not have any existing packages present.

Essentially the same behavior is observed wherein the order in which packages are added, precompiled, added, and precompiled affects later precompilation.  Thus far, I have

[2016-04-21 15:33] jpfairbanks commented on #339
Are the compilation outputs "*.ji files" supposed to be portable? As in, compile on one machine run on another?

[2016-04-21 15:34] sbromberger commented on #339
It really looks like `C:\Users\andy\AppData\Local\JuliaPro\0.1.0\JuliaPackages\lib\v0.4\` is not empty. Can you clean that dir and remove all packages except for METADATA from C:\Users\andy\AppData\Local\JuliaPro\0.1.0\JuliaPackages\v0.4`, and then do a `Pkg.update()` followed by a `Pkg.add("LightGraphs")`?

[2016-04-21 15:37] jpfairbanks commented on #339
Also are you able to acutally use Clustering after you load it with using
or Pkg.test("Clustering")?

[2016-04-21 15:41] AndyGreenwell commented on #339
The test in my most recent [comment](https://github.com/JuliaGraphs/LightGraphs.jl/issues/339#issuecomment-212974172) above occurs in an environment where there were no pre-existing Julia packages and all precompilation occurs on the same machine. The directory `C:\Users\andy\.julia\v0.4\` did not exist prior to the first `Pkg.add` command added to that session.  So this is a test that anyone shou

[2016-04-21 15:44] sbromberger commented on #339
So, I'm a bit confused (perhaps because I haven't had my caffeine yet), but in our REQUIRE, we have

[code]

But at https://github.com/JuliaStats/Clustering.jl/tags, I only see up to v0.3.3.

What gives?

[2016-04-21 16:15] AndyGreenwell commented on #339
With regards to visible tag versions on GitHub, maybe the package authors are not always pushing their tags?

Something like the following situation:

http://www.thisprogrammingthing.com/2013/git-tags-not-showing-in-github/

[2016-04-21 16:17] sbromberger commented on #339
Yeah. I opened up an issue to ask about that. `Pkg.tag()` should do this, I think - that's how we're getting tags in LightGraphs - but perhaps Clustering is using a different release process.

[2016-04-21 16:24] sbromberger commented on #339
I'm getting the same failure but with a different warning:

[code]

[2016-04-21 16:38] AndyGreenwell commented on #339
I posted the failure from an installation of Julia 0.4.3, which is the same version currently present in that "special" build for which the initial terminal screen scrapes were produced.

You are likely using a more recent release of Julia.

[2016-04-21 17:58] CarloLucibello commented on #336
sure, that's exactly my point: we can do whatever we want with our EdgeMap type, while we have to take abstract array as they are.

So we can choose among 3 standards for LG algorithms conceptually accepting edgemap-like arguments:

1. they can accept only out EdgeMap type. in this case we make sure that `!(EdgeMap <: AbstractArray)
1. they all accept AbstractArrays. In this case we make `EdgeMap

[2016-04-21 18:43] jpfairbanks commented on #336
What is the goal of these types?

Is it to have `em = EdgeMap(data)` be a tag that says em is a collection that assigns values to edges and `vm = VertexMap(data)` be a tag that says vm is a collection that assigns values to vertices?

What is the practical goal? How will development be different with these types?

[2016-04-22 07:22] CarloLucibello commented on #336
to me the goal are consistency, clarity and flexibility. I'd like that when I'll write my new super cool algorithm I won't have to bother on whether accepting dicts, arrays, union of those, or some other fancy structure (for example there is also the Redis stuff Sethis using I think). I don't wont to write specializations, or to ask myself in which cases I can do  `edgemap[e]`, `edgemap[u,v]` or `

[2016-04-23 22:41] Ward9250 opened #340 "Other types are vertices."
Hi LightGraphs people. I'm a maintainer of the BioJulia org and am building the Phylogenetics module for BioJulia/Bio.jl.

Up until now I've been building the phylogenetic types with a linked-node like structure, but it's proving problematic having one type which contains both the phylogenetic structure, and the relationship information. To this end I'd like to investigate using LightGraph types t

[2016-04-23 22:59] Ward9250 commented on #340
I've just found Networks.jl, but saw there was still an issue discussing it's design and how it might involve changes in LightGraphs abstraction?

[2016-04-24 02:17] sbromberger commented on #340
Hi @Ward9250 -

The issue with arbitrary vertices is one of time and space. That is, right now, vertices are represented as an integer range, which means that they take almost no space (ranges are represented by a maximum of 128 bits). Also, indexing into a range is constant time.

If you're looking for metadata that can be attached to edges and vertices, there are a couple of things you might wan

[2016-04-24 02:21] #330 closed

[2016-04-24 02:27] sbromberger commented on #331
can we close this with the merge of #332?

[2016-04-24 08:41] CarloLucibello commented on #331
Yep

[2016-04-24 08:41] #331 closed

[2016-04-24 13:25] jpfairbanks commented on #340
I mostly agree with @sbromberger. Here is my perspective:

We have discussed the issue of storing vertex and metadata in the graph structure and outside of it.
While some tools try to be flexible and encourage storing everything in the graph structure (eg Networkx) the LightGraphs philosophy is that the data structure should be simple.

We have decided that supporting data in the nodes makes thing

[2016-04-24 14:50] Ward9250 commented on #340
Thanks guys, I've started a new PR over at Bio.jl https://github.com/BioJulia/Bio.jl/pull/157 which will have my progress. I'm looking at having Phylo assume that for a phylogeny with leaves 1..t, the vertices of the graph that represent them are vertices 1..t. The root vertex for the root is always vertex t + 1, and the internal nodes are everything after t + 1.

[2016-04-24 15:07] sbromberger commented on #340
If you can structure your data so that a `1..t` representation is meaningful then it's better suited for LG. No translation table needed.

[2016-04-27 18:03] sbromberger commented on #339
Not sure this fixes the underlying issue, but I just tagged 0.5.3. Closing out for now.

[2016-04-27 18:03] #339 closed

[2016-04-27 18:09] sbromberger commented on #278
OK, reviving the discussion because we've seen (thanks to @CarloLucibello ) that we actually CAN reduce dependencies when we want to 😄

What I propose as a starting point are some general rules:

1) Dependencies on core Julia packages (things under JuliaLang) are ok.
2) Dependencies on non-core leaf packages (0 subdependencies except for core Julia packages) are less ok, but still probably ok.
3)

[2016-04-28 01:50] sbromberger commented on #340
Hey @Ward9250 - are we good here, or is there something else you'd like to discuss?

[2016-04-28 08:30] Ward9250 commented on #340
@sbromberger I think we're good, I've made a start on Making Bio.Phylo use LightGraph types, and have come up with some indexing types that were originally designed for Genotype Count Arrays I've been building for the same project, which will help with associating data and so on. Thanks everyone. If I have more questions as I go along, I'll swing by the gitter!

[2016-04-28 09:13] CarloLucibello commented on #278
This maybe goes against the very title of this issue, but as a consequence of these rules (which I totally support) we could merge #277, which brings along DataStructures.

Also there was some discussion on Collections being factorized out from Base, so maybe we will have to depend on DataStructures in any case in the near future

[2016-04-28 14:04] jpfairbanks commented on #278
These rules look good. As long as they don't become dogma. I think DataStructures.jl in particular has some really useful stuff in it. Lots of other packages should be using it, so most people will already have it installed.

[2016-04-28 14:30] sbromberger commented on #340
Very cool. Feel free to open up other issues here if you're stuck on something LG-related.

[2016-04-28 14:30] #340 closed

[2016-04-28 14:49] sbromberger commented on #278
Well, what are rules but aspirational dogma? I think that we ought to have a very concrete way of evaluating the worth of changes that make LG more fragile. That is, rule 3 doesn't mean we'll *never* accept a PR that includes a non-core, non-leaf package, but it means that there had better be a very compelling reason we need to.

[2016-04-29 16:17] arekfu opened #348 "strongly connected components are not strongly connected?"
I generate strongly connected components of random graphs and subsequently check if they are strongly connected. The result is systematically `false`. Am I missing something?

[code]

[2016-04-29 16:25] sbromberger commented on #348
I can't reproduce this:

[code]

[2016-04-29 16:34] sbromberger commented on #348
Yup, this definitely smells like a bug, though it's not "systematically" false. I've got one graph that does it.

The graph: https://gist.github.com/sbromberger/af5912dd34190a8a2ed6e0ff9d0c0974

The subgraph that fails the check: https://gist.github.com/sbromberger/21bc112240f0308fc63de8e198fe2715

[2016-04-29 16:43] CarloLucibello commented on #348
Could this be a bug introduced in #332 ?

Can someone try the same test on a previous commit? I don't have time at the moment, but eventually I can get to it in the next days

[2016-04-29 16:44] sbromberger commented on #348
I can, but there are tons of warnings thrown on the new build: see https://gist.github.com/sbromberger/6a81432250b093b09d442a008177ab94. I'll file a new issue.

[2016-04-29 16:46] sbromberger opened #349 "what's up with warnings when using LightGraphs?"
See https://gist.github.com/sbromberger/6a81432250b093b09d442a008177ab94. This happens on a clean install.

[2016-04-29 16:47] sbromberger commented on #349
This is likely not directly LG-related, but it sure smells funny.

[2016-04-29 16:52] sbromberger commented on #348
@CarloLucibello looks like you may be off the hook - this problem existed in 0.5.2.

[2016-04-29 16:56] sbromberger commented on #348
[sccfail.jgz.zip](https://github.com/JuliaGraphs/LightGraphs.jl/files/242865/sccfail.jgz.zip)

[2016-04-29 17:06] juliohm commented on #349
@sbromberger this is because the `Combinatorics` package is being imported on Julia 0.4. We need to import inside a version check like here: https://github.com/juliohm/ImageQuilting.jl/blob/master/src/ImageQuilting.jl#L21-L23

I am getting the warnings indirectly when I load LightGraphs in my package.

[2016-04-29 17:12] CarloLucibello commented on #349
better tag a new version now that Cominatorics has been removed

[2016-04-30 08:54] arekfu commented on #348
Incidentally, I think it would be a good idea to make extensive use of the testing strategy in the example above (asserting invariants on several instances of random graphs) in the package tests. Do you currently do this?

[2016-04-30 13:13] CarloLucibello commented on #348
a smaller graph failing the test:
[code]

[2016-04-30 13:15] CarloLucibello commented on #348
We mostly do tests on handmade small graphs, and we certainly could check for more invariants. Would be nice to see more functions like `scc_ok` in the testsuite

[2016-04-30 13:26] CarloLucibello commented on #348
smaller
[code]

[2016-04-30 15:20] sbromberger commented on #348
No, because by definition they are not deterministic tests and can yield varying results. See #323 for more discussion.

[2016-04-30 19:35] arekfu commented on #348
They are deterministic if you specify the seeds, aren't they?

[2016-04-30 20:13] sbromberger commented on #348
I'm not sure determinism crosses system bounds.

[2016-04-30 20:31] arekfu commented on #348
Still (last comment about this side issue), testing on random graphs might be nondeterministic and you might run into false negatives now and then, but at the same time it would enormously improve your coverage. If your code works on thousands on random graphs, the probability that it contains a bug becomes negligible.

[2016-04-30 23:55] sbromberger commented on #348
That's certainly true, but the set of functions that we could run these on is limited to those that return boolean (or can be coerced to boolean) since we'd use `any` / `all`. Centrality measures, for example, won't be able to be tested this way. Balance this against the time it takes to run tests and it's not a straightforward "let's definitely do this".

That said, I do like the idea as long as

[2016-04-30 23:55] sbromberger commented on #348
This is still a bug.

[2016-05-02 08:25] arekfu commented on #348
Even smaller:
[code]

[2016-05-02 11:05] arekfu commented on #348
OK, so this is interesting:
[code]

The interesting point is that `g` and `g2` are isomorphic (`g2` is `g` with vertices 2 and 4 exchanged). So I instrumented the calls to the `TarjanVisitor` methods (forgive my OO jargon) and I got:

[code]

[2016-05-02 12:01] arekfu commented on #348
Pull request submitted.

[2016-05-02 12:48] arekfu commented on #348
@sbromberger concerning the general issue of testing on random inputs, I think the non-determinism is not really an issue if you can track which seeds caused the tests to fail. Also, in my domain (Monte-Carlo simulations), a pseudo-random number generator that yields different sequences for the same seed on different system would probably be considered to be buggy.

I have no idea how long your te

[2016-05-02 14:04] sbromberger commented on #348
@arekfu I like the idea of MC simulation. If you have some time, would you mind mocking up a few example tests?

[2016-05-02 19:39] devmotion opened #352 "degree_histogram doesn't include counts of vertices of degree 0"
I'm wondering whether it's a bug or a feature that `degree_histogram` doesn't include the counts of vertices of degree 0.

Simple example:
[code]

The reason for this behaviour is that in the definition
[code]
the lower bound of the bins is 0. This excludes all vertices of degree 0 from the histogram (see also the documentation of [`hist`](http://docs.julialang.org/en/release-0.4/stdlib/math/#Base

[2016-05-02 20:12] CarloLucibello commented on #352
I don't know if it is intended but I think it is safer to just remove this function from lightgraphs

[2016-05-02 20:34] jpfairbanks commented on #352
I think this function is important. Degree distribution impacts the performance of almost every operation on graphs.  You should always know the degree distribution of the graphs with which you are working.

I think we might want to report the number of 0 degree vertices. Does changing `degree_histogram(g::SimpleGraph) = (hist(degree(g), 0:nv(g)-1)[2])` to `degree_histogram(g::SimpleGraph) = (hist

[2016-05-02 21:23] devmotion commented on #352
Yes, `(hist(degree(g), -1:nv(g)-1)[2])` gives the right answer. That's my workaround so far.

[2016-05-02 23:14] sbromberger commented on #352
It was intended behavior. 0-degree distributions, where needed, can be determined by subtracting the sum of the others, as @jpfairbanks says. The reason we do / I did it this way is because it's a nice easy 1-indexed vector where the index corresponds to the bin.

[2016-05-03 02:33] jpfairbanks commented on #352
I really like that indexing justification. We should keep that and just
document for new users.

[2016-05-03 15:47] sbromberger commented on #352
Closing out in anticipation of a doc PR :)

[2016-05-03 15:47] #352 closed

[2016-05-04 01:47] juliohm commented on #349
Did you tag a new version? Waiting for the merge?

[2016-05-04 06:06] CarloLucibello commented on #352
issues should  not be closed until the problem is fixed

[2016-05-04 13:18] sbromberger commented on #352
I'm not aware that there is a problem to be fixed. The question in the original post was "is this intended behavior?" The answer is yes, it is intended behavior.

A workaround was suggested, and some discussion regarding the history of the design decision ensued.

I'm happy to continue discussion but I'm not sure there's anything to resolve.

[2016-05-04 13:22] sbromberger commented on #349
We tagged 0.5.3 but I haven't tested to see whether it actually resolved the problem. In any case, I closed out the issue because it seems as if it's not something LG can fix.

[2016-05-04 13:33] juliohm commented on #349
I'll wait for the tag to be merged, thanks.

-Júlio

[2016-05-04 13:34] sbromberger commented on #349
Not sure what you mean. 0.5.3 hit METADATA a few days ago.

[2016-05-04 13:37] juliohm commented on #349
The last time I updated I saw LG 0.5.2, will double check. I still see the
unconditional import of Combinatorics.jl

-Júlio

[2016-05-04 13:41] jpfairbanks commented on #352
#354

[2016-05-04 13:44] sbromberger commented on #348
Closed by #351

[2016-05-04 13:44] #348 closed

[2016-05-04 13:45] sbromberger commented on #323
See also discussion in #348 - merging the suggestion there for an MC-like test suite into this one since they're somewhat related. (hope that's ok, @jpfairbanks)

[2016-05-04 14:02] sbromberger commented on #349
See https://github.com/JuliaLang/METADATA.jl/pull/5056 - but yes. I don't think we changed the import of Combinatorics.

[2016-05-04 14:07] juliohm commented on #349
Combinatorics.jl should only be imported in Julia 0.5 and beyond. :)

-Júlio

[2016-05-04 14:44] sbromberger commented on #349
We're not importing Combinatorics now, yet I'm seeing the errors in 0.4. What am I missing? Is one of our dependencies importing it?

[2016-05-04 16:42] ivirshup opened #355 "using LightGraphs; using Gadfly; throws error"
On 0.5, I can't run `using LightGraphs` followed by using `Gadfly` it returns a `MethodError` for `module_uuid(::LightGraphs.#Grid)` ([gist](https://gist.github.com/ivirshup/53b1d142934d73c866b8e0b6d6484647)). This error might be caused by Requires, but I haven't been able to replicate it in a cut down example.

[2016-05-04 16:45] jpfairbanks commented on #323
Yeah @arekfu mentioned some of the Monte Carlo type things I was thinking.

[2016-05-04 17:51] CarloLucibello commented on #349
wasn't 0.53 tagged before the removal of Combinatorics? We should tag a 0.54

[2016-05-04 18:07] sbromberger commented on #349
We never included Combinatorics.

[2016-05-04 18:09] sbromberger commented on #349
Ah, yes. I see now. Let me go ahead and tag 0.54.

[2016-05-04 20:21] sbromberger commented on #355
Some troubleshooting steps:

1) Have you cleared your precompile cache?
2) Have you tried updating Requires.jl to the latest master?

[2016-05-04 20:46] ivirshup commented on #355
Yep, I think I’ve tried with most combinations of master and release from Requires, LightGraphs, and Gadfly.

[2016-05-04 20:48] sbromberger commented on #355
I note that the latest commit to Requires was an hour or so ago.

[2016-05-04 21:05] ivirshup commented on #355
Ran `Pkg.update()` again to be sure, and the error is still popping up. Can you not reproduce it?

[2016-05-04 21:21] sbromberger commented on #355
I don't use Julia 0.5. Just to confirm you've done a `Pkg.checkout` on these packages to make sure you're getting master?

[2016-05-04 21:26] ivirshup commented on #355
Yep.

[code]

[2016-05-04 21:30] sbromberger commented on #355
mmm. ok. Thanks. I'm afraid I don't have a 0.5 environment to test, but I'll leave this here in case some of the other regulars can check it out.

[2016-05-04 22:53] sbromberger commented on #278
Closing given the documentation update in #357. We have a stated direction.

[2016-05-04 22:53] #278 closed

[2016-05-05 00:01] jpfairbanks commented on #278
@sbromberger

`#progress`

[2016-05-05 11:19] afternone opened #360 "efficiency problem of random_configuration_model"
This example runs too long (longer than an hour, so I interrupt it). Why does this happen?
[code]
where `x` is an array draw from a power-law distribution.

[2016-05-05 11:41] jpfairbanks commented on #360
doc says runtime is O(n*mean(x)^2) is mean(x) large?
[code]

[2016-05-05 12:00] afternone commented on #360
mean(x) is about 6

[2016-05-05 12:27] jpfairbanks commented on #360
Then I don't know what's up, you can instrument the `random_configuration_model` function. Count how many times you go around the while loop. I would guess that the creation phase is unsuccessful.

If `_try_creation` is the function that isn't finishing, then count how many time you go around the while loop in that function. We should probably annotate every while loop with an iteration count and

[2016-05-05 14:21] afternone commented on #360
[code]
I add a line `println(length(stubs))` after `while !isempty(stubs)`, and found `length(stubs)` jumping up and down around 200. The length of `stubs` has no decreasing trend, thus the algorithm may not converge.

[2016-05-05 14:33] afternone commented on #360
There is a possible that the remaining stubs in `stubs` will never meet the condition `s1 != s2 && ∉(e, edges)` no matter how to connect.

[2016-05-05 15:28] CarloLucibello commented on #360
can you add a print here:
[code]
to check if it gets stucked inside _try_creation or outside of it?

Also could you try using different seeds?

[2016-05-05 15:51] afternone commented on #360
I add the line `println(length(edges))` in the place, and found that it always print 0.

[2016-05-05 18:01] CarloLucibello commented on #360
yes, that is normal, if it wouldn't be in the cycle if `length(edges)`. Do you have many prints during a single run or just one?

[2016-05-06 00:49] afternone commented on #360
Many prints, so I interrupt it.

[2016-05-06 00:54] afternone commented on #360
This is the elements of `x`
[code]

[2016-05-06 01:08] afternone commented on #360
doc of `sample_degseq` in R says:

[2016-05-06 08:25] CarloLucibello commented on #360
maybe the sequence you are trying is not graphical....
 You can test with
http://mathworld.wolfram.com/GraphicSequence.html

[2016-05-07 04:46] #349 closed

[2016-05-07 06:12] afternone commented on #360
May be the sequence is not graphical. I turn to the static scale free model to generate the network, so I will close this issue. Many thanks to all of you.

[2016-05-07 06:12] #360 closed

[2016-05-10 00:15] Ward9250 opened #364 "Removing vertices in phylogenies"
Hi,

I'm making progress over at Bio.jl creating phylogenies and I've got to the point where I'd like to code function that will prune a clade (vertex with one parent and multiple (typically two, children)) from a tree. I've had a look at the rem_vertex method and understand it swaps v with n and so you have to be careful with indexing. For the phylogenies it's slightly more complex as they have a

[2016-05-10 00:23] sbromberger commented on #364
If I understand it correctly you want to prune from a vertex all its dependents S well. I think the best way to do this is to use traversal (bfs or dfs) to enumerate all the children of this directed graph and then build an induced subgraph that does not include these nodes.

alternately you could remove vertex 7 and then rebuild the graph using a traversal or connected component from the root nod

[2016-05-10 00:32] sbromberger commented on #364
You could also remove the in_edges from vertex 7 and then grab the connected component of the root. In addition, if you can 'ignore' the disconnected subgraph centered at 7, you can use the main graph without renumbering.

[2016-05-10 07:26] CarloLucibello commented on #364
I like Seth's graph traversal solution, I think it could be implemented like this
[code]

[2016-05-10 09:27] Ward9250 commented on #364
Thanks guys, I'll try these solutions tonight. The only other way I could think of last night for doing this and maintaining the numeric order was something like:
[code]

I think something akin to this might work. Obviously there would need to be code to reindex the data-structures but I'll let the indexer types themselves handle that. At the end you just have to take care to remove any internal n

[2016-05-10 13:03] sbromberger commented on #364
In general you don't want to muck around with the internal data structures like fadjlist and badjlist. Lots of things depend on properties of those structures that, if they break or become nonconformant will cause undefined behavior in the rest of the module.

[2016-05-10 15:31] sbromberger commented on #364
If you want to preserve the order and know which vertices you need to prune (that is, you know the graph/tree layout in advance), you might also consider a traversal to ensure that the pruned vertices are indexed at the end. That way, when you remove them, you won't impact the other vertices.

I think I'd prefer just creating a series of disconnected subgraphs by removing edges instead of worrying

[2016-05-10 20:37] Ward9250 commented on #364
@sbromberger I'm begining to lean towards the ignore the nodes idea. You can still specify tips as vertices 1:n and the root as always vertex n+1. The only challenge then would be in adding tips, but you typically know the number of tips before tree construction, so it should not be an issue. Thanks for discussion, I'll see what kind functions I can come up with and try the different suggestions.

[2016-05-10 20:45] sbromberger commented on #364
Awesome. Mind if I close this out? You should always feel free to open new issues as you come across them.

[2016-05-10 22:38] Ward9250 commented on #364
I'm good for you to close. Thanks @sbromberger, @CarloLucibello !

[2016-05-10 23:59] sbromberger commented on #364
Thanks, @Ward9250 - again, feel free to open up new issues as needed.

[2016-05-10 23:59] #364 closed

[2016-05-13 08:13] arekfu commented on #340
Sorry if I jump in on this closed issue. In my LightGraphs-based projects ([depgraph](https://github.com/arekfu/depgraph.jl)), I implemented a type called `LabelledDiGraph`, which essentially is a `DiGraph` + a vector of metadata (strings) for vertices:
[code]
This essentially follows the recommendations above. However, I feel it was non-trivial to make `LabelledDiGraph` play nicely with functions

[2016-05-13 09:01] CarloLucibello commented on #340
it is highly unlikely that LG will support other graph types, this has been strongly debated in #227

To fill this gap https://github.com/JuliaGraphs/Networks.jl was recently created, with the scope to leverage LightGraphs capabilities on more complex data structures, but it never got out of its embrional phase. We could surely accomodate LabelledDiGraph over there, along any other contribution yo

[2016-05-13 13:20] Ward9250 commented on #340
I recently started phylogenetics in Bio.jl branch called phylo_rework,
which associates data with graph vertices and edges through a simple
Indexing data type which associates Labels with indices, if you wanted to
look at that.

On Fri, May 13, 2016 at 10:01 AM, Carlo Lucibello <notifications@github.com>
wrote:

[2016-05-20 09:11] arekfu opened #367 "examine_neighbor! signature"
The `examine_neighbor!` function is called with different method signatures depending on the traversal algorithm:
[code]
As a consequence, the visiting logic is not entirely decoupled from the traversal algorithm.

Is this done on purpose?

[2016-05-20 09:20] CarloLucibello commented on #367
definitely a bug

[2016-05-20 09:28] arekfu commented on #367
So which one is the buggy one? Note that the definition for the fallback implementation (the one with `SimpleGraphVisitor`) has 6 args, like BFS.

[2016-05-20 09:34] CarloLucibello commented on #367
I would keep the 6 arguments one, let's keep it general and flexible. I don't thing there is any performance difference between the two versions, most probably and especially in the simplest cases the code gets inlined over there

[2016-05-20 16:21] ivirshup opened #368 "`connected_components` dispatch too broad?"
`connected_components` doesn't seem to have a meaningful return when called on a directed graph.

[code]

Should it's dispatch be limited to undirected graphs where it has meaning? Or could the documentation change of 9873d0f6274e584359 be reverted to specify that's the type it works on?

edit: This is on julia 0.4.5 using LightGraphs master.

[2016-05-23 21:37] ivirshup commented on #355
I just started getting the same error on julia 0.4.5 with `LightGraphs` and `Plots`.

[code]

The same error gets thrown if I'm using `LightGraphs` master.

[2016-05-23 21:52] sbromberger commented on #355
I can't reproduce:

[code]
this is
[code]

[2016-05-23 23:32] ivirshup commented on #355
Huh. I was able to recreate on JuliaBox using stable versions of everything (same output as above). I've also been able to get this error on development Julia with development versions of everything(same error, waaay more warnings).

[2016-05-23 23:43] sbromberger commented on #355
I can't reproduce it on JuliaBox either:

[LightGraphs and Plots.pdf](https://github.com/JuliaGraphs/LightGraphs.jl/files/278480/LightGraphs.and.Plots.pdf)

[2016-05-23 23:46] ivirshup commented on #355
What version of julia is that?

[2016-05-23 23:50] sbromberger commented on #355
The PDF was from JuliaBox using the 4.5 kernel.

[2016-05-23 23:51] sbromberger commented on #355
Oh. do this. Get rid of all your precompiled `.ji` files and try fresh.

[2016-05-24 01:04] ivirshup commented on #355
Still happening locally, and I think is still happening on JuliaBox. On JuliaBox I keep getting intermediate (different) errors while precompiling various packages, so it's hard to get a clean example but [here's what I got](http://bl.ocks.org/ivirshup/raw/4c59b3065318e625b948505eb8ccf232/).

[2016-05-24 15:01] sbromberger commented on #368
`weakly_connected_components(dg)` is the same as `connected_components(Graph(dg))`, but yes - I'm not quite sure what value `connected_components` has with DiGraphs. Paging @jpfairbanks and @CarloLucibello .

[2016-05-24 20:53] sbromberger commented on #355
See these lines?

[code]

That suggests to me that the cache directory is not clean.

[2016-05-24 21:12] #367 closed

[2016-05-25 21:46] devmotion opened #372 "Make Barabási-Albert model more flexibel"
In the [paper](http://www.barabasilab.com/pubs/CCNR-ALB_Publications/199910-15_Science-Emergence/199910-15_Science-Emergence.pdf) where Barabási and Albert first proposed their scale-free model they write on page 511:

time steps, the model leads to a random  network  with t+m_0 vertices and mt edges.

The same definition can also be found in [another paper](http://www.barabasilab.com/pubs/CCNR-AL

[2016-05-25 22:34] sbromberger commented on #372
I'd be interested in seeing the code for this (and getting others to review it). Our priority is first on correctness, then on performance, so we'd want to make sure the tests work and we'd want to see benchmarks comparing the proposed changes to the existing code.

Let me know if you need guidance on developing a PR.

[2016-06-09 13:51] #372 closed

[2016-06-19 06:12] pranavtbhat opened #377 "ParallelGraphs"
Hi Guys!
I'm working on a GSOC project, [ParallelGraphs.jl](https://github.com/pranavtbhat/ParallelGraphs.jl), a general purpose graph library. The main goal is is to allow users to label vertices and assign key value pairs to vertices and edges. I aim to support the SQL-like queries provided by GraphFrames, and also hope to have distributed graph processing using [ComputeFramework.jl](https://git

[2016-06-19 07:05] sbromberger commented on #377
We are going to attempt to remove the dependence on `Requires.jl` at some point, but it will require us to refactor some of the code out of the core LightGraphs module. Ref the (very long) discussion in https://github.com/JuliaGraphs/LightGraphs.jl/issues/278.

Best of luck with your project. Parallelism is one of those things that is on the roadmap for LG but it's a challenge to beat the performa

[2016-06-19 18:03] jpfairbanks commented on #377
I think a PR that added 0.5 support would be merged pretty quickly. Good luck on your gsoc project. Imo It will be a killer app for Julia!

[2016-06-20 05:55] pranavtbhat commented on #377
Thanks!

[2016-07-15 17:00] juyeongkim opened #378 "triangles"
Has [triangles](https://networkx.readthedocs.io/en/stable/reference/generated/networkx.algorithms.cluster.triangles.html) implemented in LightGraphs.jl?

[2016-07-15 18:12] sbromberger commented on #378
Hi @juyeongkim - not yet. It would be a welcome PR though :)

[2016-07-16 15:06] CarloLucibello commented on #378
this is related to global and local clustering coefficients, that are already implemented in LG. It would be nice to have the triangle function as well though

[2016-07-16 18:23] juyeongkim commented on #378
@sbromberger here is my implementation of networkx's [triangles](http://networkx.readthedocs.io/en/stable/_modules/networkx/algorithms/cluster.html#triangles):

[code]
I am new to Julia and still learning, so I am not sure if this is the right way to do it in Julia... But thank you for encouraging me to try it out!

@CarloLucibello this is great! Thank you for pointing this out. According to the d

[2016-07-18 06:17] pranavtbhat commented on #377
Has the usage of `SparseMatrixCSC` over adjacency lists been considered?  Would this change too much in the package?

SparseMatrixCSC offers essentially the same asymptotic bounds, with better cache performance, since all the data is stored contiguously. Also subgraphing, and edge listing is much more efficient.

[2016-07-18 13:42] sbromberger commented on #377
@pranavtbhat

Yes - I tried an implementation a while back.

Yes. There were significant changes to the way even the most basic operations are performed. Edge insertion, for example, was horribly inefficient, as was any operation that required random access to edge data.

[2016-07-18 16:01] sbromberger commented on #378
So - do we have triangles via `local_clustering`?

[2016-07-18 17:29] juyeongkim commented on #378
@sbromberger I think so.

[code]

http://lightgraphsjl.readthedocs.io/en/latest/community/#clustering-coefficients

[2016-07-18 17:29] #378 closed

[2016-07-18 17:38] sbromberger commented on #378
@juyeongkim if you wanted to create a PR with an alias function for triangles, I'd be ok with merging it :)

[2016-07-19 04:39] juyeongkim commented on #378
Done! Pull Request #381

[2016-07-19 04:44] AStupidBear opened #382 "rand_binom not defined"
[code]

I have checked StateBase, there's no such a function called rand_binom.

[2016-07-19 13:31] Ward9250 commented on #382
I can confirm this:

[code]

I've opened an issue at StatsBase asking where rand_binom has gone!

[2016-07-19 14:29] #382 closed

[2016-07-25 07:47] CarloLucibello opened #386 "graph dismantling"
Some efficient and easy to implement algorithms have appeared recently for the problem of graph dismantling. We should implement them in LightGraphs

One is here

http://arxiv.org/pdf/1506.08326

and another here

http://arxiv.org/pdf/1607.03276v1.pdf

[2016-07-25 07:50] CarloLucibello opened #387 "community detection by Bethe Hessian"
Effective and easy to implement, definitely worth having

http://arxiv.org/pdf/1406.1880v2.pdf

[2016-07-25 07:54] CarloLucibello commented on #387
SPOILER ALERT:
[code]

[2016-07-25 13:35] jpfairbanks commented on #368
If I recall correctly, the algorithm we have for connected components is repeated BFS until you find everybody with care taken in the implementation so that you touch every edge at most once. Thus the output on directed graphs is currently "vertex sets reachable from some lower numbered vertex by (directed) BFS." That is not labeling independent which makes it not so useful for graph theory purpos

[2016-07-25 13:52] jpfairbanks commented on #368
The benefit of that is explicitness. A user should know the difference and should know which is right for their use case. They alone have the knowledge to make the right choice.

[2016-07-25 14:30] sbromberger opened #389 "Move functions using JuMP and GraphMatrices into separate packages"
Discussion on the best way to eliminate dependencies on complex (non-leaf) packages.

Also: whatever we decide, my strong opinion is that we should explicitly import functions from third-party packages: that is,

`using Clustering: kmeans`
vs
`using Clustering`

[2016-07-25 17:52] jpfairbanks commented on #389
I agree with explicit imports

James Fairbanks, PhD
Sent from my iPhone

[2016-07-25 18:21] CarloLucibello commented on #389
You are proposing to create another package, let's say LightGraphsExtras, containing the two or three functions relying on JuMP and GraphMatrices? maybe also MatrixDepot, Clustering, GZip, ParserCombinator,...

I don't think the situation is so ugly that it's worth the extra maintenance effort. Also, what about the docs, we would have to keep separate documentations?

In absence of user's explicit

[2016-07-25 20:10] sbromberger commented on #389
I am proposing to create multiple packages based on dependencies, so that folks who don't need specific functionality don't have to download and precompile all the cruft that comes with certain functions. JuMP and GraphMatrices are the first of two, but I'm really less concerned with GraphMatrices since it's small.

The other current advantage is that the viability of what I'm calling "LG Core" wo

[2016-07-25 21:20] sbromberger commented on #246
I'd like to do this now that we've got several more commits under our belt. Any objections?

cc @CarloLucibello

[2016-07-26 00:22] ivirshup commented on #368
I think I expected the behavior of `weakly_connected_components`. On realizing it didn't do what I thought, and seeing that `weakly_connected_components` existed, I thought it should return a method error.

[2016-07-26 14:51] tkelman opened #391 "Tests fail without an LP solver"
So, on PkgEval now - http://pkg.julialang.org/detail/LightGraphs.html

Rather than doing `Pkg.add("Clp")` in `.travis.yml`, it would be better to add it to a `test/REQUIRE` file.

[2016-07-26 15:03] sbromberger commented on #391
Yup, thanks. This has pushed me to implement #389 right away for `src/matching.jl`.

cc @CarloLucibello @jpfairbanks

[2016-07-26 15:27] #391 closed

[2016-07-26 15:32] sbromberger commented on #389
#391 has convinced me of the wisdom of this approach and has also caused me to look at our use of JuMP, which supports precisely ONE function.

[2016-07-26 17:37] jpfairbanks commented on #387
I think the code as written will be type unstable particularly the line `q > 2 && (whicheig=2:q)`
A simplified case is shown below. The type instability is that y can be either an int or range. Should be easy to fix by putting everything after the test into an if statement.
[code]

[2016-07-27 05:09] juliohm opened #394 "Tag version without Requires.jl as dependency"
Requires.jl is causing a build failure in my package on Julia v0.5. Could you please confirm that LightGraphs.jl is not using Requires.jl anymore? Is there a tag for the modification already?

[2016-07-27 05:12] sbromberger commented on #394
Make sure you're on 0.6.1.

[2016-07-27 05:16] juliohm commented on #394
Thank you @sbromberger, I should see a successful build soon. Closing the issue.

[2016-07-27 05:16] #394 closed

[2016-07-27 05:47] sbromberger commented on #394
Just FYI, it looks like GraphMatrices doesn't yet play well with 0.5.

[2016-07-27 06:10] sbromberger commented on #389
Closing this because we're doing it :)

[2016-07-27 06:10] #389 closed

[2016-07-27 06:49] CarloLucibello commented on #389
what about a unique package (e.g. LightGraphsExtras) wich contains
- matching (get rids of JuMP)
- community detection (Clustering)
- GraphMatrices stuff
- the submodule Databases (MatrixDepot)
?

also, I would not reccomend it, but notice that if we factorize out also
- randgraphs (Binomial)
- persistence (GZip, LightXML, ParserCombinator)

we would be dependence free

[2016-07-27 06:52] CarloLucibello commented on #394
@juliohm you may want to check #388

[2016-07-27 14:13] sbromberger commented on #389
I'd rather not have a "dumping ground" repo that contains everything. I think splitting them up into separate repos is the right way to go, so people can pick and choose which modules they want.

I like your list. matching is pending right now, and graphmatrices is probably next. Then community detection, and then possibly matrixdepot.

I also agree that randgraphs and persistence need some more t

[2016-07-27 15:30] CarloLucibello commented on #389
From JuliaGraphs/LGmatching.jl#1 and JuliaLang/METADATA.jl#5717 looks more like we are dumping and hiding functionalities

My preferences are in order

1) keep everything in LightGraphs, since the dependencies situation is not ugly at all, it is easier to mantain, and I don't know of any graph library which comes in chunks

2) have a LightGraphsExtras.jl, again easier to mantain  then multiple rep

[2016-07-27 15:52] sbromberger commented on #389
1) isn't viable given the problems of the last two days (and ongoing issues relating to 0.5 migration).
2) won't scale as we move stuff out of core LightGraphs.

We've discussed this for months. I'm surprised at the sudden objection now that we're actually executing.

[2016-07-27 16:20] CarloLucibello commented on #389
my objection is longstanding and never wavered :)
Any decision of the last two days has been taken hastily and unilaterally : whether to split or not, how to split (one or many), and even namings  (LGmatching )

why not? I can envision a much worse situation with many packages

[2016-07-27 19:52] sbromberger commented on #389
OK. What if we created a top-level Julia package called "LightGraphExtras" but have each of these things (matching, clustering, etc.) be separate modules within that package, sort of like how we're doing with LightGraphs.Datasets? Would that alleviate your objections?

[2016-07-28 09:19] CarloLucibello commented on #389
Yes it would but ... still I don't see the point in creating different submodules (we are talking about one or two functions each). If the same would have been done in LightGraphs we would have a dozens of submodules, and what for? In fact I would also remove the submodule Datasets once we move it to LightGraphsExtras, since it exports only three functions (smallgraph,MDGraph, MDDiGraph) it doesn'

[2016-07-28 14:19] sbromberger commented on #389
I think things like Matching will grow over time to be more than one function, and I'd like to have a modular design for that. My issue with this is that I want people to be able to use the parts of LightGraphs that they need without having to download a bunch of useless dependencies. That is, if someone wants Datasets, they shouldn't have to download JuMP.

[2016-07-28 14:33] CarloLucibello commented on #389
But if we don't use Requires.jl we would have to put in REQUIRE of LightGraphsExtras each of the dependencies of the submodules. Am I wrong?

[2016-07-28 14:34] sbromberger commented on #389
No, you're right - which is why I really prefer separate packages with their own REQUIRE files. But I'm willing to compromise a bit.

[2016-07-28 14:52] CarloLucibello commented on #389
ok, let's factorize at least matching, graphmatrices and community detection  into LightGraphsExtras right away, once done that the work to make LG compatible with 0.5 is already done, while LGExtras will need some extra care

[2016-07-28 16:34] sbromberger commented on #389
Sounds like a plan. We'll revisit once we get LG working with 0.5.

[2016-07-30 07:41] sbromberger commented on #355
@ivirshup can you try pulling the latest LG master?

[2016-07-30 16:22] sbromberger commented on #377
Hi all,

I'm closing this out since it seems discussion has run its course. @pranavtbhat - good luck on ParallelGraphs!

[2016-07-30 16:22] #377 closed

[2016-08-02 17:10] sbromberger opened #396 "possible memory issue... guesses?"
so,

[code]

results in an 8-gig Julia instance, while `whos` shows `g` using ~1.2 gigs. what's with the extra memory allocations?

[2016-08-02 21:30] jpfairbanks commented on #396
run gc() afterwards? to garbage collect some temporary arrays?

[2016-08-03 00:31] sbromberger commented on #396
Doesn't help. The issue, I think, is that Julia's zealousness in allocating memory on vector growth is hitting each vector in `fadjlist`.

[2016-08-03 00:37] sbromberger opened #398 "testing coverage for spectral"
@jpfairbanks I managed to clobber spectral.jl testing when we moved GraphMatrices out into LGE. Would you mind taking a look at the [coverage stats](https://codecov.io/gh/JuliaGraphs/LightGraphs.jl/src/45cbd00eedbaabd81f99e012b101ae598ba81da4/src/spectral.jl) and letting me know what we need to add / change to get things back to 💯%?

[2016-08-04 03:02] Azzaare opened #400 "Algorithms for other types of flows"
In NetworkFlows.jl, I have written (a long time ago), a couple of algorithms for variants of the max-flow problem. At that time, LightGraphs.jl was not as advanced. Instead of continuing the work on NetworkFlows, I would rather integrate the few algorithms specific to NetworkFlows.jl into LightGraphs.jl.

The algorithms are as follows:
- [x] Restricted max-flow : a max-flow f(x) where the capaciti

[2016-08-04 03:12] sbromberger commented on #400
So, we'd be happy to take these contributions - thanks! Couple of questions:

1) do the flow functions require any dependencies not already included in master?
2) is the network interdiction problem the same as described by [Gutfraind, Hagberg, *et al*](http://arxiv.org/pdf/1009.0556.pdf)?

[2016-08-04 05:09] Azzaare commented on #400
Nice, I will take care of it soon!

1) No, it only requires a max-flow function that is in master

2) Yes and no. It is the same family of problem (the interdiction works in the same way), but instead of minimizing the shortest path after some interdiction, the objective is to maximize the flow.
Also, it can be used to solve or approximate the Adaptive version of Network Interdiction (where the fl

[2016-08-04 08:58] CarloLucibello commented on #400
those seem nice additions to LG and LGE, a big :+1:

[2016-08-04 09:08] IssamT opened #401 "Edges are not necessarily Arcs"
In simple graphs :

An arc (directed edge) is an ordered pair of vertices  `u-->v`
A line (undirected edge) is a set of two vertices `u---v`

Directed graphs have arcs, while undirected graphs have lines(often called edges).

https://en.wikipedia.org/wiki/Glossary_of_graph_theory#edge

These two objects are not equal `u-->v , v-->u`
But these two are equal `u---v , v---u`

In both Graphs.jl and Li

[2016-08-04 11:59] IssamT commented on #401
Inconsistency example :

The following code

[code]

returns true

but this one

[code]

prints nothing

[2016-08-04 12:13] CarloLucibello commented on #401
for undirected graps edges are always returned such that x=>y has always x<y. This could be of some help

I'm in favor of having a type
[code]
also because I don't like for example having Base.show(p::Pair) overwritten and displaying "Edge 1 2" for hany pair.

I fail to see though how can this solve the problem of Arc/Edge comparison

[2016-08-04 13:18] IssamT commented on #401
Well i don't mind having two types that are exactly the same from a structural point of view.

[code]

As far as they are different types we can have different dispatching for both. For example

[code]

[2016-08-04 13:23] CarloLucibello commented on #401
we should check what impact this would have thoughout the library, in particular regarding code duplication and type instability

[2016-08-04 13:56] IssamT commented on #401
Sure and it would be better to keep all methods that do not make a difference between directed and undirected edges unique :

[code]

[2016-08-04 14:58] sbromberger commented on #401
It was an explicit design decision to keep the structure of the graph independent of the structure of the edges. That is, edges do not contain information relative to their graph. There are a few reasons for this, but the main one is that it really doesn't matter. We have an accepted interface for checking edge membership, and `e in edges` is not it. (This used to work, incidentally, before we mov

[2016-08-04 15:11] IssamT commented on #401
@sbromberger but for me it really does matter.

I wanted to write a mip that finds the shortest cycle in a graph using JuMP.jl

[code]

In JuMP when you declare your variable, you also declare the set of its indexes then you can do mathematic expressions over subsets in this set.

Since out_edges(v,g) is not a subset of edges(g) there are a lot of mathematical programs that can not be written in a

[2016-08-04 15:16] sbromberger commented on #401
the easiest ways to do this for undirected graphs is to just ignore edges that are not in vertex order, or explicitly `or` with `reverse(e)`.

[2016-08-04 16:27] IssamT commented on #401
Yes I saw noticed these solutions. but they have three drawbacks.

1) they aren't intuitive and require the user to know about the implementation details.
2) they can lead to bad performance.
3) they aren't useful to write concise code.

After thinking half an hour one way I found to fix this is to rewrite this

`    @constraint(m , adjacency[v in vertices(g)],  sum{c[e] , e in out_edges(g,v)} ==

[2016-08-04 16:47] sbromberger commented on #401
Collecting / set-testing edges like that is expensive, though it may be unavoidable given what you need to pass in to JuMP. If that's the case, then just union the edgeset and its reverse:

[code]

(there's an equivalent for `out_edges` but I'll leave that as an exercise for the reader.)

As far as the reasons for making `Edge` a typealias of `Pair`, you can check the commit history for `core.jl`

[2016-08-04 16:52] sbromberger commented on #401
Another option is to use `in_edges` as well as `out_edges` instead of `reverse`.

[2016-08-04 18:54] IssamT commented on #401
Thank you for providing such a long explanation for something that was already discussed in the past (I m sorry i didn't know about that ). I actually I did check all the issues posted even the closed ones before submitting this issue but i didn't check the commit history. I will go over it before eventually trying to submit a PR.

[2016-08-04 18:56] sbromberger commented on #401
To be fair, you wouldn't have known where to search in the commit history, nor what to look for, so no worries.

I look forward to your PR. When you get closer to finalizing it, reach out to us to make sure you've got the proper benchmarking information included - this will represent a MAJOR change to the codebase and will require a ton of scrutiny.

[2016-08-04 18:56] #401 closed

[2016-08-05 03:19] TotalVerb commented on #396
I believe the actual problem here is that there is a lot of memory overhead (about 80 bytes) to using an array structure, and the graph being tested is very sparse, so each individual vector is small. Compared to the 80 bytes of overhead per vector, the additional space allocated is very small.

[2016-08-05 07:22] CarloLucibello commented on #401
I changed the return type of in_edges in #403 , let me know what you think about it.

Another option is to define and export an `order` function in LG so that
[code]
would work correctly

[2016-08-05 08:04] IssamT commented on #401
@CarloLucibello I thought also about the same modification as what you suggested in #403 , but I didn't want to request it because, although it solves my issues, it could break some algorithms if they were relying on the fact that when looping thought `e in out_edges(g,v)`, `dest(e)` is a neighbor of `v`.

However I really like your idea of adding the function `order`. It is pretty safe and unlike

[2016-08-05 08:59] IssamT commented on #401
@CarloLucibello What do you think about leaving out_edges as it is and adding` incident_edges(g,v)` that would return edges as ordered Pairs ?

[2016-08-05 12:02] sbromberger commented on #401
wait. What does `order()` do? Does it rewrite an edge so that the lowest vid is first? If so, I am totally against this since there's no way to prevent it being used with directed graphs.

If you need this, then use `is_ordered()` and do it yourself so that it's at least explicit for your use case.

[2016-08-05 12:09] sbromberger commented on #396
Is there another data structure that would be better here? (I'm shuddering to think about how complicated a sparse matrix would be.)

[2016-08-05 13:17] CarloLucibello commented on #401
I don't see any problem with `order`, why preventing to use it on directed graphs since we can't prevent also to use `revert`?
The naming is bad though, a better one would be `sort`. Consider that `reverse` and `issorted` are already defined in Base for Pair, hence for Edge. These side effects advocate for Edge being its own type

[2016-08-05 13:18] IssamT commented on #401
You have asked about order() because the name was not appropriate.
This is the same problem a user of LightGraphs.jl faces since objects and functions do not have an intuitive behavior (respecting mathematical definitions) and require the user to refer to the doc/implementation continuously.

By the way is_ordered() is another exemple, it should be name is_sorted() in my opinion. All pairs are ord

[2016-08-05 13:41] sbromberger commented on #401
For the extremely simple reason that `order` has nondeterministic behavior on directed graphs only, while `reverse` has defined, consistent behavior on either type.

NOTHING is preventing you from doing this yourself. I have a stated objection to allowing this functionality in LG because *IT WILL CONFUSE PEOPLE*.

Bottom line: you can continue to debate the merits (or demerits) of having arcs, edg

[2016-08-08 11:54] datnamer commented on #396
Doesnt parallelgraphs have a sparse matrix backend?

[2016-08-08 14:03] sbromberger commented on #396
@datnamer It might. Insertions and accesses into sparse matrices are relatively expensive.

[2016-08-08 16:26] datnamer commented on #396
I wonder if this can be made better with the array buffer concept...Just have a contiguous block of memory that julia points to and use type information to carve it into virtual chunks.

[2016-08-09 05:50] sbromberger opened #407 "Binomial in randgraphs is causing tests to fail"
@Ward9250 - see https://travis-ci.org/JuliaGraphs/LightGraphs.jl/builds/150828065#L332-L352 - specifically, I think that Binomial is being called with (Float64, Float64) when it should be called with (Int, Float64). Could you check? Thanks.

[2016-08-09 05:59] sbromberger commented on #407
Broken in https://github.com/JuliaStats/Distributions.jl/commit/c3892d96ba6fb9c1c22d311d0a87778359c37b97#commitcomment-18569376

[2016-08-09 06:00] sbromberger commented on #407
cc @jmxpearson

[2016-08-09 08:48] #407 closed

[2016-08-14 18:43] sbromberger opened #410 "v0.3.7 failing tests"
@CarloLucibello - see http://pkg.julialang.org/logs/LightGraphs_0.3.log and https://github.com/JuliaGraphs/LightGraphs.jl/blob/v0.3.7/test/community/detection.jl#L9

Any ideas as to what changed?

[2016-08-15 12:58] juliohm opened #411 "Connected components as a Graph"
Given the vertices in a component, how to retrieve the subgraph as a Graph object?

[code]

[2016-08-15 12:59] juliohm opened #412 "Documentation is not searchable"
The documentation is currently not searchable: https://readthedocs.org//search/?q=test&check_keywords=yes&area=default&project=lightgraphsjl&version=docs&type=file

[2016-08-15 14:00] sbromberger commented on #411
`subG = G[comps]`

[2016-08-15 14:00] #411 closed

[2016-08-15 14:01] juliohm commented on #411
Awesome, so simple. Thanks.

-Júlio

[2016-08-18 04:30] Azzaare commented on #400
OK, I'm back on implementing the algorithms mentioned above. I edited some details on what to expect in the top post.

I have the code for the Kishimoto algorithm ready and tested. However I have some trouble with the doc. I thought the doc was automatically generated based (partially) on the markdown comment in the .jl files. Am I wrong? If not can I some indication on how to proceed to modify th

[2016-08-19 02:27] sbromberger commented on #400
The markdown in the .jl files is what is used when you do a `julia doc/build.jl`.

[2016-08-19 03:23] juliohm opened #414 "Helper function to construct graph from adjacency matrix"
Something like:

[code]

[2016-08-19 05:10] sbromberger commented on #414
You mean like this?

[code]

[2016-08-19 05:13] juliohm commented on #414
Missed that one too, sorry for the noise. The documentation needs improvements on these basic manipulations/constructions.

[2016-08-19 05:13] #414 closed

[2016-08-19 05:16] sbromberger commented on #414
No problem, and absolutely agree re: docs. Want to make a PR with improvements?

[2016-08-19 05:40] juliohm commented on #414
I'll try to find time tomorrow, just a few sentences on how to construct
and "slice" graphs.

-Júlio

[2016-08-21 22:07] juliohm commented on #296
How to add properties to a vertex/edge? I couldn't find an example in the docs.

[2016-08-21 22:08] sbromberger commented on #296
You don't. From the README:

[2016-08-21 22:11] juliohm commented on #296
Good design decision. Reading/writing from/to disk is useful though :+1:

[2016-08-21 22:12] sbromberger commented on #296
Check out graph persistence if you just need to read/write the graph structures. We support lots:

[2016-08-21 22:24] juliohm commented on #296
Thank you @sbromberger , I will check it.

[2016-08-22 04:31] juliohm opened #415 "Graph edit distance"
Is anyone working with graph edit distance? https://en.wikipedia.org/wiki/Graph_edit_distance

Where should this function go in the project tree? Can I create a new file in the source directory for distances between graphs?

[2016-08-22 05:48] Azzaare commented on #400
Thank you for the answer. One last question (sorry), do I need to call `julia doc/build.jl` before my PR or will the doc be updated automatically after being merged into LightGraphs.jl ?

That aside, all the functionalities for this issue are ready and tested. I will finish the documentation part tomorrow and issue a PR.

[2016-08-22 09:05] CarloLucibello commented on #415
really nice addition!

Maybe we should create a `distances` folder, move `distance.jl` to `distances/distance.jl`  and add `distances/graphedit.jl`

[2016-08-22 11:14] juliohm commented on #415
I'll research the algorithms out there and if I get something useful, I'll
add to LG.

[2016-08-22 14:33] sbromberger commented on #400
run the build.jl right before you do your commit.

[2016-08-22 14:37] #396 closed

[2016-08-22 14:41] jpfairbanks commented on #398
It is the tests for community detection with the nonbacktracking operator. We might want to put the nonbacktracking operator definition into GraphMatrices along with the Katz Centrality stuff. Do you want to bring All of GraphMatrices into a submodule of LG? LightGraphs.LinAlg for example?

[2016-08-22 16:30] sbromberger commented on #398
Yes - per discussion last week, I think that's a great idea. For others who are reading: the proposal is to deprecate GraphMatrices.jl and move the code directly into LightGraphs as a submodule.

@jpfairbanks - I'll leave it to you to organize the new LightGraphs.LinAlg submodule. Do what you think is most appropriate.

[2016-08-23 12:46] juliohm commented on #415
@CarloLucibello can I rename `distance.jl` to `morphology.jl` instead?

I think it is more intuitive to have graph edit distances in `distance.jl` and eccentricity, radius, diameter, periphery in `morphology.jl`.

[2016-08-23 13:07] juliohm commented on #415
Or perhaps geometry.jl

-Júlio

[2016-08-23 13:53] CarloLucibello commented on #415
I like  topology.jl more. Geometry.jl is my second choice

[2016-08-23 13:57] juliohm commented on #415
Perfect, topology.jl it is.

-Júlio

[2016-08-23 14:30] sbromberger commented on #415
erm, hold on a sec. I need to think about this a bit.

[2016-08-23 21:52] juliohm commented on #415
Hi Seth, what is your opinion on the naming? When I think of topology.jl I
remember of simplicial complexes, epsilon balls and very specific
calculations on graphs that have no much connection to diameter ,
eccentricity and so on. My opinion is that geometry.jl or morphology.jl are
more adequate names for these operations.

Do we all agree that graph edit distances and spectral distances should be

[2016-08-23 21:58] sbromberger commented on #415
@juliohm sorry, I may have misunderstood your proposal. Could you restate it? (Are you proposing to a) rename `distance.jl`, b) create a new `topology.jl` to hold your graph edit distance code + whatever else is appropriate, or c) something else?)

[2016-08-23 22:04] juliohm commented on #415
I'm proposing 1) the rename of distance.jl into geometry.jl and 2) the
addition of distances between graphs in distances.jl. Is it ok?

-Júlio

[2016-08-23 22:15] sbromberger commented on #415
perhaps. One thought: we're going to be creating a `linalg/` directory that will hold spectral stuff as well as the things that deal primarily with networks / matrices. Perhaps spectral distances go in there?

Give me a little bit to think about this and let me know what your opinion is on the above.

[2016-08-23 22:21] sbromberger commented on #415
PS: not that I know a whole lot about GED, but doesn't this require isomorphism detection?

[2016-08-23 22:23] jpfairbanks commented on #415
Am I right to understand the core of the issue is that we want to separate distances between graphs and distances within a single graph?

So that stuff like eccentricity and diameter which relate to metrics on the vertex set of a single graph are separated from properties like edit distance and spectral distance which are metrics on the set of all graphs?

I agree that topology is not a great name

[2016-08-23 22:25] sbromberger commented on #415
Thanks, @jpfairbanks. If all we're doing is bikeshedding on names, then my preference is to keep `distance.jl` as is and pick a suitable alternative for the new stuff. No point in changing two things if it's just a name.

[2016-08-23 22:38] juliohm commented on #415
When I think of a directory called linalg/, I remember of linear solvers
and numerical analysis, the name is too broad in my opinion. I'd say
spectral/ or something more specific? I personally avoid adding directories
in the source tree unless they are really necessary (lots of files).
Directories add an extra layer of complexity when it comes to adding new
code in the tree. Where should the code

[2016-08-24 00:01] sbromberger commented on #415
@juliohm thanks. I sort of understand the overbroad nature of LinAlg, but James and I had a chance to catch up in person with some other graph folks last week and this was the best we could come up with. "Spectral" doesn't really capture all the stuff we're going to put in there. Perhaps "network"?

I also hear you re: directories, but I like segregating the code this way. It makes it easy to figu

[2016-08-24 00:11] juliohm commented on #415
Thanks @sbromberger, you guys are doing a great job with LightGraphs.jl, it is being extremely useful in my research.

I really don't mind about the project tree, whatever you guys decide I will follow. Let me open a PR with a simple spectral distance to get it going. I will put `spectral_distance` in `spectral.jl` and will create a new file `graphdist.jl` with the GED algorithms if I come up with

[2016-08-24 00:13] sbromberger commented on #415
Thanks for your flexibility (and PRs!), @juliohm . Don't get settled on the file names - it's entirely possible that we'll change things around. For now, do what makes the most sense (that is, don't change any existing names!) and we'll figure out what's best in the long term once we get the most important thing done, which is increased functionality.

That said: does the GED stuff imply isomorphi

[2016-08-24 00:17] jpfairbanks commented on #415
T

[2016-08-24 00:32] juliohm commented on #415
There are many definitions out there for exact and error-tolerant matching, some of the distances I saw rely on finding the maximum common subgraph (MCS) between the two graphs and all that NP-hard stuff, I am not sure of how far these algorithms can get, but I am curious to give them a try.

In those definitions, finding the MCS is like testing for isomorphism.

[2016-08-25 05:32] juliohm commented on #394
My builds are failing on Julia v0.5 because of missing LightGraphs.jl tags: https://travis-ci.org/juliohm/ImageQuilting.jl/jobs/154944547. How to get it working?

Julia is getting close to release v0.5 (https://github.com/JuliaLang/julia/milestone/14), I am afraid this will cause trouble for my colleagues that are using my code.

[2016-08-25 13:13] sbromberger commented on #394
We have 0.5 support in the works. Please note that we're only committing to ensuring proper builds on whatever Julia version is stable. Until 0.5 is released, that means the 0.4.x branch.

[2016-08-25 13:19] juliohm commented on #394
This means that every package that depends on LG won't build successfully
on Julia nightly even if the developer is willing to maintain both builds?

-Júlio

[2016-08-25 13:20] sbromberger commented on #394
That's probably what it means. Unless we've got people willing to submit PRs to ensure compatibility with bleeding edge versions, there's not a whole lot we can do.

[2016-08-25 13:27] juliohm commented on #394
What is it that is breaking the build in Julia v0.5?

-Júlio

[2016-08-25 13:28] sbromberger commented on #394
see https://github.com/JuliaGraphs/LightGraphs.jl/pull/413

[2016-08-25 14:03] #400 closed

[2016-08-25 16:40] sbromberger commented on #394
@juliohm please check out the `bleeding-edge` branch for 0.5 and let me know whether it works.

[2016-08-27 17:26] IssamT opened #419 "function next(eit::EdgeIter, state) modifying state"
I think `state` should not be modified by the function `next`.

http://stackoverflow.com/questions/39181313/julia-iteration-start-next-done-side-effects

Fixing it requires a minor modification. I can suggest a PR if you don't mind.

[2016-08-28 00:04] sbromberger commented on #419
Please do. Thanks!

[2016-08-28 21:01] sbromberger opened #420 "Julia 0.5 roadmap"
From https://github.com/JuliaLang/METADATA.jl/issues/6155#issuecomment-242997676:

- [x] Tag 0.7.0 from branch `compat-0.5` with a lower bound of Julia `0.5-`
- [x] Keep LG master working on 0.4
- [x] when Julia 0.5 comes out, merge `compat-0.5` (via #428) into master and tag 0.7.1

[2016-08-29 03:25] sbromberger opened #422 "possible problem with contract / contract! in spectral.jl"
https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/src/spectral.jl#L247-L266

Note the following loop:

[code]

~~Creating the Edge(j,i) there doesn't guarantee that src < dest~~. In any case, I'm probably using it wrong, but:

[code]

@jpfairbanks

[2016-08-29 03:26] sbromberger commented on #422
All of this is just a longwinded way of saying we REALLY need tests for this stuff written by someone who understands what it's supposed to do :)

[2016-08-29 16:32] sbromberger opened #424 "move contributing section in README.md to CONTRIBUTING.md"

[2016-08-29 16:53] #424 closed

[2016-08-29 17:01] jpfairbanks commented on #419
Is the only argument against mutating the state variable is to allow caching the iteration state? Is there an example of code doing this? I can only recall seeing the start, next, done interface used in for loops, which do not cache the state variable.

[2016-08-29 17:25] sbromberger commented on #419
@keno - your input appreciated here, especially given http://stackoverflow.com/questions/39181313/julia-iteration-start-next-done-side-effects - see also the PR (#423).

[2016-08-29 17:28] Keno commented on #419
This capability is used extensively in some of the iterator wrappers e.g. those from https://github.com/JuliaLang/Iterators.jl. In general the state variable is not very large and immutable. If that's not the case, the trade-off needs to be carefully considered.

[2016-08-29 17:30] Keno commented on #419
In this case, I haven't looked at the code too much, but from that PR, it looks like `EdgeIterState` could be made immutable in which case the non-mutating version is probably better.

[2016-08-29 17:34] sbromberger commented on #419
the PR shows O(n) allocations with immutable state. This looks like it would be a big problem. Your thoughts?

[2016-08-29 17:34] Keno commented on #419
Did you change `EdgeIterState` to an `immutable`?

[2016-08-29 17:43] jpfairbanks commented on #419
PR #423 does not. In fact it creates a new instance and then mutates it.

[2016-08-29 17:57] IssamT commented on #419
I am sorry I just see that the conversation here and only read the messages in #423. I will try to use the immutable as @Keno suggests

[2016-08-29 18:14] IssamT commented on #419
I m surprised of the results from using immutable. To be honest I don't understand the reason behind that... I added the results in #423

[2016-08-29 19:48] sbromberger commented on #419
Closing via #423

[2016-08-29 19:48] #419 closed

[2016-08-29 19:50] sbromberger commented on #355
Hi @ivirshup - are you still seeing this problem?

[2016-08-30 01:23] #422 closed

[2016-08-30 01:23] jpfairbanks commented on #422
Oops. I did git branch instead of `git checkout -b`

[2016-09-04 08:07] juliohm opened #430 "Matching algorithms"
I cannot find the repository mentioned in `matching/README.md`, where are these algorithms implemented?

[2016-09-04 08:36] CarloLucibello commented on #430
The algorithm is in LightGraphsExtras. We should fix those references

[2016-09-04 17:34] sbromberger commented on #410
Closing because I think we're good.

[2016-09-04 17:34] #410 closed

[2016-09-04 17:34] #430 closed

[2016-09-04 19:51] sbromberger commented on #368
What have we decided to do? I'd like to get this resolved soon. :)

[2016-09-04 19:52] sbromberger commented on #246
I will be implementing this shortly.

[2016-09-04 23:07] sbromberger commented on #355
Closing this out as unreproducible. Feel free to reply if you're still having problems.

[2016-09-04 23:07] #355 closed

[2016-09-05 07:45] sbromberger commented on #412
Closing now that we've merged #399. :)

[2016-09-05 07:45] #412 closed

[2016-09-05 07:47] sbromberger opened #433 "Documentation cleanup"
I'm keeping a list of things we need to clean up now that we've moved to Documenter (#399):

- [x] remove references to readthedocs.
- [x] add Contributing.md into the docs.
- [ ] http://juliagraphs.github.io/LightGraphs.jl/latest/basicmeasures/ - the methods look funny.
- [ ] change the method names to remove `LightGraphs.` and `Base.`.
- [ ] some methods have signatures; others don't. Figure out

[2016-09-05 08:48] CarloLucibello commented on #433
also, CONTRIBUTING.md should be in the docs

[2016-09-05 15:40] sbromberger opened #435 "Documentation does not appear to be auto-building"
@MichaelHatherly sorry to pull you in, but I'm completely stuck. I've tried to model the setup on the one in Documeter.jl, but for some reason it's not working. Here's what's going on:

- docs appear to be created ok in master. When I run a manual `julia make.jl` things don't look strange.
- Travis looks like it's doing the right thing.
- However, the docs in the `gh-pages` branch are never update

[2016-09-05 18:46] MichaelHatherly commented on #435
No prob.

The latest commit to `gh-pages` is based on https://github.com/JuliaGraphs/LightGraphs.jl/commit/829317bff2f97559edd3418a2c62b1d71da01a8a, which was made in the last day, so not terribly old. Does that docs build contain outdated content?

Have you tagged any new releases since Documenter was added? If not, then there won't be any other docs other than `latest`. When you tag a commit tra

[2016-09-05 19:34] sbromberger commented on #435
Thanks! Let's see if this works :)

[2016-09-05 19:42] sbromberger commented on #435
@MichaelHatherly sorry,  I chose option 2 ("uncomment https://github.com/JuliaGraphs/LightGraphs.jl/blob/b38d1a7b1feda5bb838ac8110ac11c424f9b9d5f/docs/make.jl#L14") and pushed to master. gh-pages isn't being updated at all. I'll try the first option now.

[2016-09-05 19:43] #435 closed

[2016-09-05 19:47] MichaelHatherly commented on #435
Travis is failing with a missing `mkdocs` dependancy, namely `mkdocs-material`, so just change the `deps = ` line in `make.jl` to

[code]

which should do the trick.

[2016-09-05 19:48] sbromberger commented on #435
Weird - I didn't notice the travis failure. Sorry.

[2016-09-05 20:30] sbromberger commented on #435
cool - it's working. Thanks again!

[2016-09-05 21:02] sbromberger opened #437 "figure out why .codecov.yml isn't showing inline comments"

[2016-09-05 22:59] #246 closed

[2016-09-06 01:52] sbromberger commented on #433
I included it along with the license info using your copy-and-remove trick :)

[2016-09-06 04:44] Azzaare opened #438 "Infinite loop in push-relabel"
I found out a couple of instances where push-relabel enter an infinite loop. The loop in question is in the push_relabel.jl file around line 55.
[code]

Below is a small instance, with source = 1 and target = 1, that is enough to enter the infinite loop.
[0 1 0 0 1 0 1 0
 1 0 0 0 1 1 0 1
 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0
 1 0 1 0 0 0 1 0
 0 0 0 0 1 0 0 0
 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0]

[2016-09-06 04:46] sbromberger commented on #438
cc @pranavtbhat

[2016-09-06 04:54] Azzaare commented on #438
I did some testing with other flow algorithms, just in case, I can confirm it only concerns push-relabel.

[2016-09-06 06:08] pranavtbhat commented on #438
does it work fine when you don't have the same vertex as source and target?

[2016-09-06 07:04] Azzaare commented on #438
My bad, I have source = 1 and target = 2. Sorry for the typo

[2016-09-06 08:09] CarloLucibello commented on #433
As far as I know this cannot be done, I filed an issue JuliaDocs/Documenter.jl#253

this depens on whether the docstring contains the signature (as would be good practice) or not. We should insert into the Contributing section an encouragement to do it

What do you mean? Are you refferring to the index or the main part?

[2016-09-06 10:38] MichaelHatherly commented on #433
Note that https://github.com/JuliaDocs/DocStringExtensions.jl provides some basic "magic" to insert method signatures into docstrings without needing to manually sync them with the actual signature. It's pretty basic at the moment, but may be useful rather than having to write then all out by hand.

[2016-09-06 14:53] sbromberger commented on #433
They're prefixed by `#` which is a bit distracting. I guess that's the HTML anchor but it'd be nice to get rid of them.

[2016-09-08 01:16] jpfairbanks commented on #398
I added these test back with a recent PR right?
We could close this issue.

[2016-09-08 03:38] sbromberger commented on #398
Good idea, but I'd still love for you to merge GraphMatrices :)

[2016-09-08 03:38] #398 closed

[2016-09-08 03:42] sbromberger commented on #438
Wait - so is this still an issue (with s=1, t=2)?

[2016-09-09 07:03] Azzaare commented on #438
Hi, sorry for late answer, I still have no internet in my hotel …

So yes, it still an issue. The following code enter an infinite loop (killed it after 10 minutes):

[code]

ERROR: InterruptException:
 in gap! at C:\Users\jeanf\.julia\v0.4\LightGraphs\src\flow/push_relabel.jl:158
 in discharge! at C:\Users\jeanf\.julia\v0.4\LightGraphs\src\flow/push_relabel.jl:239
 in push_relabel at C:\Users\jea

[2016-09-09 11:49] jpfairbanks opened #439 "Graph Distance Testing"
This is a discussion issue to organize some thoughts about how to test graph distances, that is functions that measure the distance between graphs.

While full coverage is necessary as we have discussed before, for functionality as subtle as graph distances, it is not sufficient for confidence in the software. Any paper that introduces a graph distance should show some examples where the distances

[2016-09-09 16:36] sbromberger commented on #415
@juliohm is this issue / discussion still valid now that we've merged #418? If so, no worries. If not, can we close it out?

[2016-09-09 16:47] juliohm commented on #415
Hi Seth, I have many other distances on the way to add to LG. I'll close
the issue right after we merge other future PRs.

-Júlio

[2016-09-09 21:16] sbromberger commented on #415
Awesome - looking forward to more!

[2016-09-11 19:56] jpfairbanks commented on #415
@juliohm Do you want to make a checklist of the distances that you intend to add?
That will give us a scope for this issue and we can close it when the checklist is completed

- [x] Adjacency Matrix Spectral Distance #418

[2016-09-11 21:58] juliohm commented on #415
@jpfairbanks I will send a PR with the graph edit distance that I coded last week and close the issue. I will experiment with other distances depending on my research directions, I don't have a checklist in mind right now, sorry.

[2016-09-12 15:42] sbromberger commented on #415
So, what I'd like to do is close this issue out since there's no problem to be resolved or specific gameplan for enhancements. @juliohm - please feel free to open up new issues/PRs as you need them to discuss your upcoming work. I'm really looking forward to seeing it!

[2016-09-12 15:42] #415 closed

[2016-09-12 15:52] sbromberger commented on #438
@pranavtbhat are you able to look into this?

[2016-09-13 01:30] sbromberger commented on #437
Moved to `codecov.yml` - let's see if this works instead.

[2016-09-13 06:14] pranavtbhat commented on #438
I'm sorry I just started graduate school. I'll look into this in a while

[2016-09-13 15:22] sbromberger commented on #437
Closing since it works with `codecov.yml`.

[2016-09-13 15:22] #437 closed

[2016-09-16 00:02] Azzaare commented on #438
I have no time to look now either, but I wonder if it might be related to networks with (just?) a link between source and target. I will look into it next week if I find some time.

[2016-09-16 03:49] Azzaare opened #445 "Parallel Push-Relabel algorithm"
With the issue of Push-Relabel algorithm in #438 , I was thinking of ways to improve our max-flow algorithm. One of the reason to use Push-Relabel is its high degree of (possible) parallelization.

There are many things about it in the literature such as this article by [Anderson and Setubal](http://dx.doi.org/10.1006/jpdc.1995.1103).

If it is OK with you, I will give it a try next month. Someone

[2016-09-16 04:47] sbromberger commented on #445
Yes. See #41 and #150 for some previous efforts here. I think we're at the point where this deserves some further research. See also @pranavtbhat's work in https://github.com/pranavtbhat/Graft.jl which is an offshoot of his earlier ParallelGraphs package.

[2016-09-16 04:48] sbromberger commented on #445
PS: if you want a place to start, look at doing a parallel betweenness centrality measure. I'd love to use that as a benchmark :)

[2016-09-16 04:56] Azzaare commented on #445
OK, I will give it a try next month.

I think the members of a github group can open projects, maybe it is worth it to do it for parallel implementation (when relevant) of current algorithms in JuliaGraphs.

[2016-09-16 06:40] CarloLucibello commented on #445
Consider taking a look at
http://julialang.org/blog/2016/08/GSoC2016-Graft
which points to
http://www.frankmcsherry.org/graph/scalability/cost/2015/01/15/COST.html
before venturing into this

[2016-09-16 07:08] sbromberger commented on #445
I did some basic tests with parallelism on betweenness centrality a while back and was able to get 4.7x speedup (vs a single core) on 8 cores. I think it's worth another look.

[2016-09-16 14:04] jpfairbanks commented on #445
I think the parallel situation in 0.5 is much improved over 0.3/4 when you last tried this. It should be easier to get good speedup now.

[2016-09-16 21:52] jpfairbanks commented on #368
I think we decided to make it a methoderror with a reference to weakly_connected_components. Since it currently returns nonsense, I am not concerned with breaking legacy code. Such code is already broken. All we need to do is change the connected_components method from SimpleGraph to Graph right?

[2016-09-18 16:09] jpfairbanks opened #447 "Including GraphMatrices into LG"
I have removed the dependency on Factcheck from GraphMatrices.jl on this branch.
https://github.com/jpfairbanks/GraphMatrices.jl/tree/no_factcheck.

Do you want this code to go into Extras or a submodule of LG something like LightGraphs.LinAlg, which is consistent with Base.LinAlg?

[2016-09-18 16:24] sbromberger commented on #447
I think this belongs in LG proper, and I like LinAlg (can we move other things in there too? Perhaps the spectral stuff?). There are no other dependencies (once Compat and Docile are removed, which I think should be fairly straightforward). Go for it.

[2016-09-18 20:59] IssamT commented on #438
There is an error in counting the nodes at each height. In line 199 of `src/flow/push_relabel.jl` this
`count[height[v]] += 1`
should be:
`count[height[v]+1] += 1`

Fixing it solves the issue.

With the current code, the infinite loop can be also reproduced on a subgraph of the one provided by @Azzaare using:

[code]

[2016-09-18 21:03] sbromberger commented on #438
PR welcome :)

[2016-09-18 21:53] sbromberger commented on #438
Closing out thanks to @IssamT's great work in #448.

[2016-09-18 21:53] #438 closed

[2016-09-19 00:39] sbromberger commented on #447
I just saw your branch - it might be better to have `LinAlg` as a directory, with the module inside there.

[2016-09-19 22:49] jpfairbanks commented on #447
Sound reasonable. Do you want 3 files in that directory: what was graphmatrices, nonbacktracking, and the spectral graph distance?

[2016-09-19 23:50] sbromberger commented on #447
Yeah, I think that's right. The submodule can export all appropriate functions in each file, and we can have a separate test directory as well.

[2016-09-20 13:38] athulappadan opened #453 "Kruskal algorithm"
Can I send a PR implementing Kruskal's algorithm..?

[2016-09-20 15:02] sbromberger commented on #453
Sure! If it doesn't require any new dependencies, we can place it in LightGraphs directly under (um...) `shortestpaths/`.

[2016-09-20 19:08] sbromberger opened #455 "Randomized tests are occasionally failing"
I don't have a concrete example to reference, but it happened earlier with #454. This issue is to keep track of testing failures with randomized tests in randgraphs and community detection.

[2016-09-20 20:12] jpfairbanks commented on #455
One approach to solving this is to retry the randomized tests because we only have false positives, that is tests that fail when the software if fine due to chance. I would like to have a function that does this rather than ad hoc solutions for every test that has this behavior. So a function like run this test until it passes or until `n` failures would be good

[2016-09-22 12:06] sbromberger commented on #420
I'd like to keep this open until we've tagged a new version.

[2016-09-22 12:16] sbromberger commented on #453
Since we've got a PR / WIP now in #456, I'll close this out.

[2016-09-22 12:16] #453 closed

[2016-09-22 12:19] sbromberger commented on #387
Closing out due to merge of https://github.com/JuliaGraphs/LightGraphsExtras.jl/pull/19.

[2016-09-22 12:19] #387 closed

[2016-09-23 09:31] AsileBcd opened #463 "Cycles"
Hi everyone,
I am following the recommendation of one yours and post my issue  here, but I am not sure LightGraphs' core ideas is compatible with what I would like to do.
 Namely, I would like to compute cycles in a directed graph, using Johnson's cycles algorithm (as networkx's simple_cycles algorithm in Python, for those who know it). The theoretical paper is [here](http://www.cs.tufts.edu/comp/

[2016-09-23 12:01] CarloLucibello commented on #463
Hi,
maybe you could use `induced_subgraph!` here #464  that I pushed just for you :)

Also when dealing with directed graphs and connected components you may want to read the discussion here #368, and propose some changes if needed. Bye

Carlo

[2016-09-24 21:10] AsileBcd commented on #463
So fast! Thank you!
That's indeed something like that I need. I am not sure I understand the whole algorithm though ^^

[2016-09-25 15:53] sbromberger commented on #463
I think the best way to do this (once we merge #464) is to compute the strongly connected components, and then induce subgraphs for each component, using the new `vmap` vector that's returned from `induced_subgraph()` to map each "new" vertex to its original vertex index.

[2016-09-25 21:37] sbromberger commented on #463
#464 is now merged. Give it a try and let me know if we need to reopen.

[2016-09-25 21:37] #463 closed

[2016-09-25 23:49] tomyun opened #466 "DiGraph flipped when constructed from adjacency_matrix()"
A new `DiGraph` constructed from `adjancency_matrix()` returns a graph with all edge directions reversed. I wonder if this is an intended behavior.

[code]

Meanwhile, more elaborate construction gives you the same graph as expected.

[code]

I'm on Julia 0.5.0 with LightGraphs 0.7.0.

[2016-09-25 23:52] sbromberger commented on #466
Definitely not correct behavior, but I can't seem to reproduce it on 0.5/0.7.0. Let me try your specific example.

[code]

[2016-09-26 00:00] sbromberger commented on #466
This also affects full adjacency matrix creation. Patch incoming.

[2016-09-26 00:07] sbromberger commented on #466
Patch breaks distance calculations. Ugh.

[2016-09-26 00:10] sbromberger commented on #466
The issue is that adjacency_matrix is transposed:

[code]

[2016-09-26 00:28] jpfairbanks commented on #466
Yeah. We need to make a decision about which direction the adjacency matrix for directed graphs should point. Does A_ij = 1 mean that there is an edge from v_1 to v_j or from v_j to v_i? Both are equivalent, you can just transpose to get from one to the other. Consistency is definitely needed. So that DiGraph(adjacency_matrix(g) ) == g should be correct.

We can pick either direction for the adjac

[2016-09-26 02:43] sbromberger opened #467 "Bug with creating graph from digraph with self loops"
[code]

[2016-09-26 03:11] sbromberger opened #468 "Warning in euclidean graphs testing"
Got this when doing a test:

[code]

[2016-09-26 04:08] #467 closed

[2016-09-26 04:08] sbromberger commented on #466
A_ij = 1 means that there is an edge from i to j.

[2016-09-26 07:06] CarloLucibello commented on #468
it'ok, this is intended. unfortunately there is no @test_warning

[2016-09-26 11:20] joachimdahl opened #470 "problem with maximal_cliques"
On a chordal graph, maximal_cliques() does not return maximal cliques.

[code]

but the maximal cliques are easily identified as [1,3,4,7], [2,4,6], [3,4,6,7], [5,6,7].  I was hoping to replace the clique extraction in Polyopt.jl with the functionality in LightGraphs.

[2016-09-26 12:08] sbromberger commented on #468
Will users get this warning during normal use?

[2016-09-26 12:18] IssamT commented on #470
[code]

I am maybe missing something here but I don't think 4 and 7 can be in the same clique if they are not connected to each other.

[2016-09-26 12:24] joachimdahl commented on #470
You are right - what an embarrasment!  I am closing this ticket.

[2016-09-26 12:24] #470 closed

[2016-09-26 12:51] sbromberger commented on #470
Yeah, wait a second. Good catch. Is this in fact chordal, and what's with the self-loops?

[2016-09-26 12:53] sbromberger commented on #470
Ah, good. Very relieved since this was a function derived from Graphs.jl :)

[2016-09-26 13:17] CarloLucibello commented on #468
no no, just if they use the euclidean grap function in a way they should be warned about

I'm closing this, please reopen if you have any doubt left

[2016-09-26 13:57] sbromberger opened #471 "LG failing nightly in label_propagation"
https://travis-ci.org/JuliaGraphs/LightGraphs.jl/jobs/162684388#L681-L685

[2016-09-26 14:01] sbromberger commented on #471
cc @afternone

[2016-09-26 14:16] sbromberger commented on #468
Well hold on a second. I don't think our tests should throw warnings. If Base.Test can't accommodate warnings, we should change the test to something that exercises the desired functionality and passes  tests. Leaving it this way will be (has been) confusing to users.

[2016-09-26 14:35] CarloLucibello commented on #468
but the point of that test is exactly testing  the use-case that generates the warning! I don't see a solution around this

[2016-09-26 14:39] sbromberger commented on #468
Throw an error, then test it with test_throws.

[2016-09-26 14:44] sbromberger commented on #468
The other way to do it is println a message before and after saying "Warnings in this set of tests are expected" and then "End warnings" or something.

[2016-09-26 14:45] sbromberger commented on #466
@tomyun sorry - this is taking a bit longer than expected.

[2016-09-26 16:19] sbromberger commented on #471
also cc @jpfairbanks :)

[2016-09-26 22:58] AsileBcd commented on #463
I agree, that's normally the best strategy.
Thank you! I won't do that this week, but I will try to do it this weekend and tell you if it works.

[2016-09-27 00:10] afternone commented on #471
Due to the frequent tie-breaks and the random order update strategy, the label propagation (LP) algorithm could deliver multiple partitions in different runs. LP may merge two cliques even they are connected by a single edge. Thus, the test code some times pass and some times not pass. We should make a more appropriate test condition for LP. Do you have any ideas?

[2016-09-27 00:11] sbromberger commented on #471
This is so far outside my area of study that I can't comment intelligently :) Hoping @jpfairbanks or @CarloLucibello can weigh in here.

[2016-09-27 05:26] tomyun commented on #466
@sbromberger never mind. I could keep off adjacency matrix and still try what I'd like to do. Thanks for your prompt response and all these efforts from the community.

[2016-09-27 14:39] sbromberger commented on #466
Thanks - but this is definitely a bug that needs to be fixed. Give us a few days.

[2016-09-28 08:01] #468 closed

[2016-09-29 03:20] #420 closed

[2016-09-29 03:40] afternone commented on #471
May be we can use a kind of network made of some disconnected cliques to test the LP algorithm.

[2016-09-29 03:41] sbromberger commented on #471
It's easy enough to do, but is the behavior expected? That is:

is that a known property of LP or does it represent a bug in the implementation?

[2016-09-29 03:44] sbromberger commented on #471
to make disconnected cliques, just make a bunch of them and then use `blkdiag` to merge them into a single graph.

[2016-09-29 05:08] afternone commented on #471
Yes, it is the property of LP, not a bug.

[2016-09-29 14:22] sbromberger commented on #471
Ah, in that case can you see whether https://github.com/JuliaGraphs/LightGraphs.jl/issues/471#issuecomment-250363335 will provide deterministic tests?

[2016-09-29 23:29] jpfairbanks opened #475 "Travis using PR and push to run checks twice"
What is the difference between these checks, can we just use the PR one because nothing should be committed without going through a PR? seems like it should reduce our travis load.

[2016-09-29 23:29] sbromberger commented on #475
I think it allows us to run codecov on each so we have details of coverage for both the PR and the push.

[2016-09-29 23:36] sbromberger opened #476 "Improve codecov on LinAlg"
ref #473 - please do what you can to get coverage up on the linalg submodule :)

[2016-09-29 23:39] sbromberger commented on #336
Closing out now that we've got Networks.jl.

[2016-09-29 23:39] #336 closed

[2016-09-30 06:01] #466 closed

[2016-09-30 06:02] sbromberger commented on #466
@tomyun - should be fixed in latest master. Give it a try pleasE?

[2016-09-30 07:44] tomyun commented on #466
It works for the example I posted. Thanks!

[code]

[2016-09-30 17:16] #447 closed

[2016-09-30 17:18] jpfairbanks commented on #314
We could use https://github.com/skywinder/github-changelog-generator for this

[2016-09-30 17:34] jpfairbanks opened #479 "Extending Base functions in LinAlg"
Follow up to https://github.com/JuliaLang/METADATA.jl/pull/6587
@tkelman, @sbromberger

When I wrote this, these imports were necessary for the `eigs` function to work.

For example, this doesn't work in Julia v0.5.0

[code]

I can get rid of the `sparse` definition for `SparseMatrixCSC`, but how else can we avoid extending the base functions and still use `eigs` properly?

[2016-09-30 17:51] sbromberger commented on #479
I wonder whether this makes sense to add to Julia Base.

[2016-09-30 20:31] tkelman commented on #479
I would propose adding it to base first, then if it gets added there for 0.6-dev, the right place for it would be Compat to backport for 0.5 and 0.4 support.

[2016-09-30 21:07] sbromberger commented on #479
@tkelman - I am really trying to avoid using Compat. It caused no end of headaches in the 0.3 - 0.4 transition. Can we keep the function in LightGraphs until it becomes available in 0.5?

[2016-10-01 03:41] tkelman commented on #479
Exactly what problems did Compat cause? You're basically modifying Base without any discussion here for your users, in a way that won't alert them you're doing so.

[2016-10-01 05:17] sbromberger commented on #479
I don't remember the specifics - there should be several old PRs here with the gory details - but it resulted in us having to have multiple version checks inside of `LightGraphs.jl` to override some Compat statements, and it caused a major disruption in going from 0.3 to 0.4.

I'd rather not modify Base, but it seems to me that if this does deserve to go in Base, it should be included and cherry-p

[2016-10-01 11:58] tkelman commented on #479
If it deserves to go in Base, it needs an issue, pull request, discussion and code review first. Only after that process is finished should LightGraphs think about doing anything that modifies global Base method tables (and it doesn't belong in LightGraphs anyway). Until then, there are a few things you can do that won't modify other code: you can either define a local wrapper type, or write a mac

[2016-10-01 15:35] sbromberger commented on #479
@tkelman - Right - it will take some time and effort to get a suitable PR into Base. Meanwhile, we're stuck in LightGraphs because overriding `A_mul_B!` is apparently a new requirement for `eigs`, on which some of our functions rely, and without which things that used to work no longer work.

I just want to confirm that you / curators won't hold up a METADATA merge due to the inclusion of this ove

[2016-10-01 15:43] sbromberger commented on #479
@jpfairbanks - what would it take to wrap this in a dummy type for now?

[2016-10-01 17:42] athulappadan opened #481 "Prim's algorithm"
I am trying to implement Prim's algorithm but I am getting stuck on a few things. I posted my doubts in julia forums but got no response. It will be helpful if someone can clarify my doubts so that I could complete the implementation soon

[2016-10-02 17:23] sbromberger commented on #481
It would be helpful to post a link to your topic in julia-users.

[2016-10-04 06:40] athulappadan commented on #481
Is it okay to use Match package..?

[2016-10-04 14:45] sbromberger commented on #481
If you do it should probably go into LightGraphsExtras.

[2016-10-04 18:13] jpfairbanks commented on #479
I guess that is what I was doing with the Noop type before. I could
reintroduce that implementation from the 0.4 branch. I was using scale!
Which was deprecated in favor of multiplying by a Diagonal object. But
A_mul_B! Isn't defined for the appropriate types when you do that.

On Saturday, October 1, 2016, Seth Bromberger <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-10-05 15:03] jpfairbanks commented on #479
Does it make sense for A_mul_B! to have a very generic fallback implementation using * for types that don't define A_mul_B!? And should that definition go in base? Or is there some good reason to leave it undefined even for things that define *?

[2016-10-05 16:31] tkelman commented on #479
`*` isn't in-place. For types that don't support in-place operations, you can't really define `A_mul_B!`.

[2016-10-05 16:32] tkelman commented on #479
Or you could but it would be need more copies than just `*` anyway.

[2016-10-17 14:19] sbromberger commented on #479
@jpfairbanks where do we stand on this? Do we merge #480 and wait for `A_mul_B!` to be resolved, or do you want to create the wrapper (or do something else)?

[2016-10-17 14:37] tkelman commented on #479
Did anyone ever open a base issue on whatever the underlying missing functionality was?

[2016-10-17 14:55] jpfairbanks commented on #479
@sethbromberger I think we merge 480 and keep this open. I'll be able to
work on it soon. probably make a wrapper type. If that is a lot of code
then I'll look at getting it into base.

On Monday, October 17, 2016, Tony Kelman <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-10-17 15:03] sbromberger commented on #479
@tkelman not to my knowledge. The urgency right now is to get a new version of LG tagged so LightGraphsExtras can move to v0.5.0.

[2016-10-17 23:02] #479 closed

[2016-10-17 23:04] jpfairbanks commented on #479
Oops, I committed directly to master again. Is there a way to configure git to prevent that? Let's hope the build passes. I did run the tests locally before committing.

[2016-10-17 23:07] jpfairbanks commented on #479
woohoo, I didn't break the build. I was able to work around the need to extend the base functions using the Noop type and *. No need to extend Base.

[2016-10-18 00:28] sbromberger commented on #479
Awesome.

Yes, I think we can put restrictions on commits to master. Let me investigate :)

[2016-10-18 02:03] sbromberger commented on #479
Ref https://github.com/JuliaLang/METADATA.jl/pull/6787

[2016-10-18 18:23] sbromberger commented on #479
Closing out since we've worked around the issue.

[2016-10-21 04:10] Azzaare commented on #433
Hi there, I see we switch to another documentation hosting platform (that is github). In the process, my updates of the doc regarding flow algorithms disappeared.

1. Is it normal?
2. How do I fix that?

It is actually in a rush since I refer to that documentation in different things under review at the moment ...

Thanks in advance!

[2016-10-21 04:12] sbromberger commented on #433
We switched to Documenter / github pages a while back (see #399). Can you point me to your updates? I'll see what happened.

[2016-10-21 04:25] Azzaare commented on #433
I had some documentation changes going with the add of the multiroute_flow functions in #416 . I think the changes in the documentation were generated through `julia docs/make.jl`.

After checking, it seems the multiroute_flow.jl file is not included in the list of files to add to the documentation. Should I add it, run make.jl and make a PR?

[2016-10-21 04:29] sbromberger commented on #433
Ah, ok. Sorry about that. Yes. Add the files to the `Pages` statement in `docs/src/flowcut.md` - follow the existing format - and then make a PR. You don't have to build the docs - it should take care of it automatically.

[2016-10-21 19:18] rotten commented on #439
Did you mean distances within a graph between vertices, or differences between two graphs?  Or distances between two subgraphs within a graph?

[2016-10-25 02:10] sbromberger opened #487 "WIP / discussion: return types for functions"
Given that 0.5 allows return typing (that is,

[code]

), I propose to add these to all formal functions (excluding the `foo = bar` variety). I will be submitting a PR for this and will be working file by file. Please feel free to help :)

[2016-10-27 01:26] sbromberger commented on #433
OK, closing this out for now.

[2016-10-27 01:26] #433 closed

[2016-10-27 01:26] sbromberger commented on #481
ref: #488

[2016-10-27 01:29] sbromberger commented on #296
Closing this out since we don't seem to have any further action items. Feel free to continue discussion and if it needs to be reopened, I'm happy to do so.

[2016-10-27 01:29] #296 closed

[2016-10-28 01:35] jpfairbanks commented on #439
I was thinking of metrics on the set of all graphs of size n, but these remarks apply to to all three of the classes you mentioned.

[2016-10-28 01:36] jpfairbanks commented on #45
I think this is now the right way to solve this problem.
https://github.com/JuliaCI/BenchmarkTools.jl

[2016-10-30 03:44] sbromberger commented on #476
Nice start. There are a few more tests I think we could add - take a look at https://codecov.io/gh/JuliaGraphs/LightGraphs.jl/tree/6a00c854877b98b59ce354f55c6bb0fcd35d3e5e/src/linalg for the gory details.

[2016-10-30 23:38] bkamins opened #495 "Slow gdistances"
In Julia 0.5 when I found that `gdistances` function was relatively slow. I have manually written BFS finding geodesic distances in `g` from `source` and it is significantly faster than the current implementation. Here is the code and some tests:

[code]

The relative speedups are:

[code]

Do I miss something important in implementation of `gdistances` that is not covered in implementation of `ne

[2016-10-30 23:44] sbromberger commented on #495
Well, are we sure they're equivalent?

[code]

[2016-10-31 00:02] bkamins commented on #495
@sbromberger you are correct. I have copy-pasted wrong code I was experimenting with. Here is correct code:
[code]

[2016-10-31 00:03] bkamins commented on #495
I mistakenly set `dist[1]=0` instead of `dist[source]=0`

[2016-10-31 00:14] sbromberger commented on #495
That'd do it :)

Anyway - at first glance your code is much more efficient, even with preallocated distance matrices:

[code]

[2016-10-31 00:18] sbromberger commented on #495
Well, hold on a sec. This was changed in https://github.com/JuliaGraphs/LightGraphs.jl/commit/c571fdfdf9bee2a01c15dc989cdebfe750a9211f - let me see what happened before then.

[2016-10-31 14:42] sbromberger opened #497 "Rework bfs and dfs visitor framework"
Right now the bfs and dfs visitor framework is confusing and not terribly flexible. (It also may have some performance issues.)

Given that functions appear to be first-class now in Julia 0.5, I'd like to propose a rework of the traversals to simplify and perhaps streamline traversals.

What I'm currently thinking (in not-so-proper Julia pseudocode):

`function bfs(vertex_open_function = () -> tru

[2016-11-02 05:26] athulappadan commented on #252
Could you suggest an API..?

[2016-11-02 12:32] jpfairbanks commented on #252
I think the following is a good place to start.

[code]

If you want to do binconnected components too, I think the output should be an array of length nv(g) where `result[v] = index` of biconnected component that contains vertex v. This is how connected components provides its results. Then we convert them into a set of sets representation.

[2016-11-04 09:47] athulappadan commented on #481
Should I close this issue?

[2016-11-04 09:50] athulappadan commented on #252
What if the input graph is non-connected? Should it calculate the articulation points of individual connected components? If yes, what should be the return value (array of arrays..?).

[2016-11-04 12:11] jpfairbanks commented on #252
I think you can assume the graph is connected for the first implementation because that will make things easier. If it is not that much work to find the articulation points of each component, you can return them all in one array. If the graph has multiple components, the user is able to check which component each vertex belongs to separately.

[2016-11-04 12:12] jpfairbanks commented on #252
We can do this in two PR's the first one handling the single connected component case, and then another PR with the multiple connected component case. That will make it easier to review the code.

[2016-11-04 14:26] sbromberger commented on #481
Since we merged the code, I think so - unless you have something else to discuss :)

[2016-11-05 05:23] #481 closed

[2016-11-13 17:47] jpfairbanks commented on #497
Yeah that sounds better than the weirdly half-OO way of doing it now.

[2016-11-13 17:48] jpfairbanks commented on #497
All of the functions would need to get the state of the iteration, the graph and the visitor as arguments right?

[2016-11-13 17:52] sbromberger commented on #497
Yes - I think, off the top of my head, it looks like this:

[code]

where `state` contains (u, v, some mutable data structure, and the graph),
but I need to think about this some more.

[2016-11-14 19:20] mathtd opened #499 "Dijkstra finds wrong shortest distance"
[code]

This code returns
[code]

The distance from 2 to 3 is incorrect and should be 1. `bellman_ford_shortest_paths(b,2).dists` returns the correct vector.

[2016-11-14 19:39] sbromberger commented on #499
Support for self loops is sketchy at best, especially for shortest paths calculations. What happens if you get rid of the self loop?

[2016-11-14 19:41] mathtd commented on #499
Everything works fine without the self-loop.

[2016-11-14 20:19] pegger0709 opened #500 "Non-integer solution in maximal_weight_maximal_matching"
Hello,
I am trying to turn a 78x693 matrix with mostly NaN values (all entries except 7381 are NaN) into a bigraph so that every real number entry corresponds to an edge. Specifically, let the matrix be M and I want the bigraph G such that there is an edge between i and size(M,1)+j iff M[i,j] is a real number. I then want to take the bigraph G and find its maximal matching. However, when I do that

[2016-11-14 20:43] sbromberger commented on #499
Yup, that's probably it then. If you want to propose a patch, I'm happy to consider/merge it.

We used to error on self-loops, but the quantecon folks needed to use them for something, so we did a quick-n-dirty change to allow them to model using self-loops. We never really went back to ensure that the other algorithms worked, though.

[2016-11-14 20:44] sbromberger commented on #500
What happens if, instead of using a zero-based weights, you use `DefaultDistance()` which defaults to `1.0`?

[2016-11-14 20:48] sbromberger commented on #500
Also - what version of LG are you using? `maximum_weights_maximal_matching` was moved to LightGraphsExtras a while ago.

[2016-11-14 21:09] mathtd commented on #499
Thanks for the explanation. I'll see how robust the other algorithms are.

[2016-11-14 21:09] #499 closed

[2016-11-14 21:16] sbromberger commented on #499
If you want to make a PR that fixes this issue, please do. Otherwise I'll put in a check and a warning.

[2016-11-14 22:43] pegger0709 commented on #500
Dear Seth,
I am using LightGraphsExtras. When I try to use DefaultDistances, I get an
error:

julia> maximum_weight_maximal_matching(G,DefaultDistance())
ERROR: UndefVarError: DefaultDistance not defined

However, even if I try to have all weights be 1.0, as in

julia> for edge in collect(edges(G))
           weights[edge]=1.0
       end
julia> maximum_weight_maximal_matching(G,weights)

I still g

[2016-11-14 22:50] sbromberger commented on #500
Any way you can post your graph here?

[2016-11-14 22:54] sbromberger commented on #500
Also - this might be better off as an issue over in LightGraphsExtras - you might get the right people looking at it over there.

[2016-11-14 23:00] pegger0709 commented on #500
Hi Seth,
It's a pretty big bigraph, and I don't know how to visualize it in the
traditional way, with dots representing the vertices and lines representing
the edges. Here is the best I know:

julia> G
{771, 7381} undirected graph

julia> collect(edges(G))
7381-element Array{Pair{Int64,Int64},1}:
 1=>79
 1=>80
 1=>81
 1=>82
 1=>84
 1=>86
 1=>87
 1=>88
 1=>90
 1=>96
 ⋮
 78=>739
 78=>740
 78=>741
 7

[2016-11-14 23:05] sbromberger commented on #500
hm. The best way is
[code]

then paste the output into a gist and link it here.

[2016-11-14 23:17] pegger0709 commented on #500
Is it visible at this link?

https://gist.github.com/pegger0709/79ef4e97870a8a9d6fdb922add20ed9c/revisions

On Mon, Nov 14, 2016 at 6:05 PM, Seth Bromberger <notifications@github.com>
wrote:

--
Philip Egger, Ph.D.
Department of Mathematics
Pennsylvania State University
Tel: +1(847)868-2213
Skype: philip1297

[2016-11-15 01:31] sbromberger commented on #500
Yup, I can see it. I'll run some tests to see if I can pinpoint the error, but please know I'm not that familiar with the solvers used in the matching code.

[2016-11-15 01:54] pegger0709 commented on #500
Thank you, I really appreciate your help.
Philip

On Nov 14, 2016 20:31, "Seth Bromberger" <notifications@github.com> wrote:

[2016-11-15 02:51] sbromberger commented on #500
OK, I don't know what I'm doing here, but the problem is somewhere in vertex 206:

[code]

[2016-11-15 03:25] sbromberger commented on #500
vertex 136: WARNING: Not solved to optimality, status: Infeasible

[2016-11-15 03:37] pegger0709 commented on #500
Hm that's interesting. What does this mean and what can I do about it?
Thanks again.
Philip

On Nov 14, 2016 10:25 PM, "Seth Bromberger" <notifications@github.com>
wrote:

[2016-11-15 03:38] sbromberger commented on #500
I don't know. This looks like an issue between LGE and the solver, and I'm not really up to speed on either. I'd open up an issue over at LGE and point them here.

[2016-11-15 12:24] jpfairbanks commented on #500
Yes it is there.

[2016-11-15 15:23] sbromberger commented on #500
Closing in favor of https://github.com/JuliaGraphs/LightGraphsExtras.jl/issues/21.

[2016-11-15 15:23] #500 closed

[2016-11-26 23:03] jpfairbanks commented on #252
This is tied to PR #501

[2016-11-27 00:33] sbromberger commented on #252
ref #502

[2016-11-28 15:20] jpfairbanks opened #504 "using Test Sets"
We currently have informal test sets isolated into files, but they could be in TestSets http://docs.julialang.org/en/release-0.5/stdlib/test/#working-with-test-sets which seems to be a standardization of what we are currently doing.

[2016-11-29 01:21] jpfairbanks commented on #495
Can this be closed since #496 was merged?

[2016-11-29 01:31] jpfairbanks commented on #475
Based on reading [Travis Docs](https://docs.travis-ci.com/user/pull-requests):

I think the "Push" check is running on the commit as is, and the "PR" check is running on the commit after merging in to the target branch of the PR (in our case master).

Probably shouldn't disable either of those checks.

[2016-11-29 15:21] sbromberger commented on #504
This is pretty cool - are you suggesting one test set per file (which is, as you note, a collection of common tests)? Should be fairly easy to change.

[2016-11-29 15:24] jpfairbanks commented on #504
Yeah I think that is the easiest change.

[2016-11-29 16:08] sbromberger commented on #252
Closing with #505

[2016-11-29 16:08] #252 closed

[2016-12-01 09:49] bkamins commented on #495
@sbromberger The current solution is of course acceptable for me :). I do not know what is your policy who should close the issue (me or LightGraphs member).

And in general thank you again for your work. I am using LightGraphs in my research and it is fantastic.

[2016-12-01 09:52] athulappadan commented on #252
@jpfairbanks  For biconnected components, how about storing the edges instead of vertices?

[2016-12-01 13:59] jpfairbanks commented on #495
Thanks for the sign-off and the endorsement! Do you have a name and website for your research projects that use LG? We should curate a list of satisfied users.

[2016-12-01 14:09] bkamins commented on #495
When it goes public I will let you know. Thanks.

[2016-12-04 21:18] sbromberger commented on #495
I'm gonna close this out - feel free to continue discussion though. If we need to reopen it, just let me know.

[2016-12-04 21:18] #495 closed

[2016-12-05 15:06] jpfairbanks commented on #455
It looks like if you put a Base.Test.@test inside a try/catch block, the failure still goes on STDERR but you prevent the failing test from stopping execution. Is there a way to capture that output?

[2016-12-07 00:59] sbromberger commented on #475
OK :)

[2016-12-07 00:59] #475 closed

[2016-12-07 00:59] sbromberger commented on #471
Paging @afternone - should we address this or just close it out? Your call.

[2016-12-08 02:14] afternone commented on #471
@sbromberger How about setting a suitable random seed for the test?

[2016-12-08 08:59] AsileBcd opened #510 "Cycle detection, iterative version"
Dear all,
Following PR #486 and #509 , I open a discussion about using a formal iterative procedure to build the algorithm of cycle detection.
I know it does not work, but my work is in attachment.
[code]

[2016-12-08 14:40] jpfairbanks commented on #510
Hi @AsileBcd,

Thanks for the work on this. I think it was a good idea to split these up. I am glad that we are taking the time to get this designed right.

Do you have a specific question that you want answered?

When you say "Problem if acyclic digraph" what is the problem? Shouldn't the algorithm prove that there are no circuits and quit?

[2016-12-12 12:53] AsileBcd commented on #510
Thank you!
For the previous part, I have no specific question, it really does not work anyway. I have tried since to work only on one strongly connected component, here is the code:
[code]
I have one problem (bug?), the `return cycle, state` after the `if` does not seem to work (the cycle is not outputted, whereas the `println(cycle)` prints the cycle. Do you have any idea why?
Thank you!

[2016-12-12 15:56] jpfairbanks commented on #510
[code]
This part here? I think you want to remove the break keyword which terminates the loop immediately.

[2016-12-13 11:19] AsileBcd commented on #510
Thanks, I should have been more careful when copy/past, it does not work when I remove the `break` too.

[2016-12-13 14:09] jpfairbanks commented on #510
After a bit of modification, I got something reasonable. Here https://gist.github.com/jpfairbanks/9e2c104a87310f56959a0d47da07c811 is a gist with the code and output.

[2016-12-18 11:28] athulappadan commented on #252
ref #511

[2016-12-20 14:36] blegat opened #512 "Maximum/Minimum cycle mean of weighted digraph"
Is [Karp's algorithm](http://www.sciencedirect.com/science/article/pii/0012365X78900110) or [faster](http://ieeexplore.ieee.org/document/728912/?denied) implemented for Max/Minimum cycle mean on weighted digraph ?
If not, in which package of `JuliaGraphs` should this be added ?

[2016-12-20 14:41] jpfairbanks commented on #512
I don't think we have it. We should probably make a directory of cycle related algorithms. So a new file cycles/karp.jl would be a good place to start.

[2016-12-20 14:56] sbromberger commented on #512
We have Edmonds-Karp for flow, but not for cycle detection.

[2016-12-20 20:00] blegat commented on #512
Thanks for the quick answers ! I will probably not do the PR immediately but I need this functionality for the [SwitchedSystems](github.com/blegat/SwitchedSystems.jl) package so it will be submitted eventually.

[2016-12-20 20:01] blegat commented on #512
Shouldn't #486 and #509 also be in the `cycle` directory ?

[2016-12-20 20:29] sbromberger commented on #512
Probably.

[2016-12-23 17:23] AsileBcd commented on #510
I made some changes that avoid the problem that I had before, but I clearly have a problem once a cycle have been found to find the next one. Here is my new code (I have added a new element to the state).

[code]

[2016-12-30 11:22] dot-at opened #513 "StochasticBlockModel"
I may be mistaken, but I think the implementation of the **graph generator based on the StochasticBlockModel type is broken**. It looks like you have to give the number of edges to the Graph constructor. The effect is that the **events for the presence of edges are not independent**. However, according to the prevalent understanding of that model (e.g., wikipedia) the edges should be independent.

[2016-12-30 16:19] sbromberger commented on #513
The graph generator based on SBM is probably not what you're looking for then. You might want to use the raw `stochastic_block_model()` function. In any case, paging @CarloLucibello :)

[2017-01-03 02:16] jpfairbanks commented on #513
This is an implementation difference between the model and implemented code. This implementation represents a compromise between several considerations including performance. If you have an implementation that satisfies your need for independent edges and samples in O(ne) time, I will gladly take a look at it.

[2017-01-10 18:06] dot-at commented on #513
It's not an implementation of the stochastic block model. It's an implementation of something else, and that's fine.
Just don't call it StochasticBlockModel if it's something else.

[2017-01-10 18:22] sbromberger commented on #513
The `Graph` constructor is not advertised as being a pure stochastic block model constructor. That's what the `stochastic_block_model()` function is designed to be.

I guess I'm not seeing the issue if you're talking about the Graph constructor. Nowhere is it advertised that it's a pure SBM implementation; merely that it uses the SBM as an edge generator. What am I missing?

[2017-01-10 18:30] CarloLucibello commented on #513
hi, I missed the notification of last ping.

As Seth said the `stochastic_block_model` method is what you are looking for. The implementation is
O(ne), since the number of edges between blocks is generated in advance sampling from a binomial distribution. This ensures edge independence as well.

I agree that the StochasticBlockModel type could enjoy better docs and maybe a name changing. It should

[2017-01-10 18:53] sbromberger commented on #513
@dot-at - if you'd like to submit a PR to help clarify that the generator / type is not pure SBM, we'd certainly consider it (as @CarloLucibello said, the documentation is imperfect, and as you've demonstrated, it's confusing to the users). Thanks.

[2017-01-10 18:54] dot-at commented on #513
Cool, thanks.
I guess the point is that, as a user of the module, I want to trust that something called X is really X. I don't want to compare the fine print of X in the documentation to the Wikipedia definition of X, and realize that it's something else. Does that make sense? It makes using the module difficult.

The binomial and uniform Erdos-Renyi models are only similar if you set the number o

[2017-01-10 19:41] sbromberger commented on #513
I'm not sure this is a reasonable expectation across the entire codeset, especially where definitions are frequently in flux and technical decisions favor a specific set of design goals. If this were the case we would need no documentation. It's a nice aspirational goal, though, and therefore one we should TRY to meet. I'm open to ways of improving the documentation to get there.

A [pull request]

[2017-02-04 18:45] jpfairbanks opened #519 "Docs notebook"
This is a really good notebook introducing people to BayesNets.jl https://github.com/sisl/BayesNets.jl/blob/master/doc/BayesNets.ipynb it would be good for LG to have a similar one. This would be a great contribution for someone who uses LG or is learning it for the first time.

[2017-02-04 23:31] sbromberger commented on #519
Agreed. It might make sense to have something like this in advance of any JuliaCon presentation :)

[2017-02-16 14:49] Beatzekatze opened #520 "Bug (?) in dijkstra_shortest_paths implementation"
Following code is needed to reproduce what I think is a bug.

[code]

What happens (as far as I understood) is that the source pops up in own neigbour list and its shortest distance is set to the self-link distance (since the value of `visited[source] == false`). At the loop for the next neighbour the error propagates leading to wrong distances. That issue can be fixed by changing lines 43 - 45 fr

[2017-02-16 15:01] jpfairbanks commented on #520
Thanks for this really informative bug report!

Since you have a solution, can you file a PR with the proposed change?

[2017-02-16 15:16] sbromberger commented on #520
👍 on this great bug report. I think there are a couple of issues here that deserve further scrutiny:

1) self-loops are a recent addition and have not been fully tested with all methods. This should happen if we're going to keep them. (The original reason for self-loops was a request from the QuantEcon folks; I'm not even sure they need them anymore so we might consider just dropping support for s

[2017-02-16 15:24] jpfairbanks commented on #520
I think it is good to support self loops as much as is practical. We should just make it clear that support is not complete and that if they find bugs related to self loops they should open an issue about it. The two extremes of investing a lot of time in getting 100% coverage of self loops or drooping them are not appealing to me.

I am willing to pay the performance cost of the extra `nv(g)` sto

[2017-02-16 15:24] Beatzekatze commented on #520
Submitted the PR. I hope the PR is fine, it's my first one :)

[2017-02-16 15:25] jpfairbanks commented on #520
You made the PR on your fork, it needs to be on this repo and also add some tests.

[2017-02-16 15:28] jpfairbanks commented on #520
Actually, I have already written the tests, so you can just make a PR onto this repo with the fix

[2017-02-16 15:32] jpfairbanks commented on #520
I cherry picked it from your so you don't have to do anything else. Thanks for the fix.

[2017-02-16 15:34] Beatzekatze commented on #520
Okay, sorry; I am new to the whole git- story x.x

[2017-02-16 15:34] sbromberger commented on #520
That's the way I'm leaning as well. Self-loops were introduced over a year ago, IIRC; there's no way of knowing who's depending on them at this point. Agree about being explicit about their untestedness.

[2017-02-16 15:35] jpfairbanks commented on #520
No Problem @Beatzekatze see PR #521

[2017-02-16 15:49] #520 closed

[2017-02-17 16:58] sbromberger commented on #520
PS: @Beatzekatze and @jpfairbanks - congrats on making the 1100th commit :)

[2017-02-23 17:36] sbromberger opened #523 "Implement graph6 format"
Should be straightforward.

From https://discourse.julialang.org/t/any-julia-package-with-support-for-graph6-graph-encoding/1893

Spec here: http://users.cecs.anu.edu.au/~bdm/data/formats.txt

[2017-02-27 03:25] #523 closed

[2017-03-04 03:15] sbromberger opened #525 "induced subgraphs should take a vector directly."
[code]

The first one should likely work; I'm up in the air on the second one; and the 4th one seems silly.

[2017-03-04 03:19] sbromberger opened #526 "WIP: Abstraction"
cc @jpfairbanks @juliohm

Abstraction to-do list:
- [x] AbstractGraphs
- [x] AbstractEdges
- [x] **PREREQUISITE: #45. If we have no benchmarks, we cannot effectively test for performance regressions.**
- [x] Decide on scaffolding for abstraction (bikeshed names, figure out hierarchy) (#527)
- [x] Determine core API contracts for LightGraphs (this will be needed for traits and to ensure that new ab

[2017-03-04 03:30] sbromberger opened #527 "Scaffolding discussion"
Ref #526

Option 1:
[code]

We will need `index(V)` in order to store adjacencies efficiently, and `V` should have an efficient reverse function. (This argues for a Dict-like structure.)

[2017-03-04 03:53] sbromberger commented on #526
Core API:

`fadj::Vector{Vector{???}}`
`badj::Vector{Vector{???}}`
`nv::Int`
`ne::Int`
`vertices` (Iterable)
`edges` (Iterable)

[2017-03-04 04:07] juliohm commented on #526
Thanks for cc'ing @sbromberger, can you please share more details about the proposal? I am particularly curious about the item on GraphX-like parameterization, what do we gain by supporting arbitrary vertex and edge types?

Regarding the item on an `AbstractGraph` type, I always had this question in mind when I was reading the sources, thought there was a good reason for making SimpleGraph a Union

[2017-03-04 04:18] juliohm commented on #527
One of the lessons I learned from the Julia type system is that shallow hierarchies are preferred over deep hierarchies both from the designer perspective as well as from the user perspective. It is very hard to contribute to code with deep hierarchies.

What other types do you see fitting in this proposal besides Graph and Digraph?

[2017-03-04 04:31] juliohm commented on #439
I fully agree with this issue, if you have a paper in mind with a good benchmark case for testing distances, please let me know and I will read it and try incorporate the case into the tests.

[2017-03-04 04:34] juliohm commented on #314
Another alternative that is even easier and clean is to take advantage of GitHub release features. We can write a draft and update it whenever we make a change that we consider should be noted.

The downside is that we don't have the changes with the code, only on the website. I've adopted GitHub releases and attobot for my packages, it is been super productive.

[2017-03-04 04:42] juliohm commented on #519
Since I want to get closer to the current state of the project, I will try to solve this one in between my activities over the week.

[2017-03-04 04:43] sbromberger commented on #527
Well, what I was thinking is something like

[code]

to mimic what we have now for Graph.

This allows us to do, for example,

[code]
to specify a graph that has metadata for vertices, and

[code]

etc.

[2017-03-04 04:47] sbromberger commented on #526
Flexibility, for one. LightGraphs is and always will be primarily for users who aren't graph experts. That is, their core expertise is in Biology, or Economics, or ... and they just need a way to represent their domain-specific models as a graph. That's what we do / have done very well.

LightGraphs is stable enough now that it makes sense to branch out a bit and see whether we can make the packag

[2017-03-04 04:50] sbromberger commented on #519
@juliohm that is a great idea. Thank you for taking this on.

[2017-03-04 04:55] juliohm commented on #527
A question from someone that is still getting used to the Julia type system as it evolves... Why in the option you showed there are two abstract types instead of one? Maybe my question is more about what motivates the design with both `AbstractGraph` and `AbstractDiGraph`, couldn't we abstract a single base type like in the snippet below:

[code]

[2017-03-04 04:57] sbromberger commented on #527
Yes, of course - but I thought it might be interesting to explore having separate types. This solves a bunch of issues (#401, `is_directed` becomes simpler and "abstractable", etc). We don't *have* to do this; it's just a suggestion. :)

[2017-03-04 05:08] juliohm commented on #527
I need to use the type system more before I can counter argue, but my impression is that we could have the separation you mentioned with a single abstract base and dispatch on the concrete types as usual.

I am looking forward to see how the changes will unfold :blush:

[2017-03-04 05:09] sbromberger commented on #527
Yes, you can, except it would be a bit harder to have unique edge types for Graphs and DiGraphs without having different types for the graph structures themselves. There's more than one way to do this, and I'm not particularly worried at this point about getting it perfect.

[2017-03-04 05:17] sbromberger commented on #314
@Juliohm - in the past, releases were tagged automatically using the `Pkg` commands. Anything we can do to make it easier to provide change logs would be most welcome. Can you describe / provide a URL to an example of how this might be done with GitHub releases and attobot?

[2017-03-04 05:19] sbromberger commented on #45
@jpfairbanks I know you created some benchmarks for a recent PR. Do you have the bandwidth to get us started on a general benchmarking suite? (Right now there are only a few types of functions I think need to be benchmarked: the core functions and then selective advanced stuff that tests multiple core accesses.)

[2017-03-04 05:20] ChrisRackauckas commented on #519
FYI, you might want to put it in a different repo. Notebooks will quickly become huge in a git repo because of how the history works, and you cannot do repo cleaning for Julia packages since that changes the tag sha1s. You might want to create something like [DiffEqTutorials](https://github.com/JuliaDiffEq/DiffEqTutorials.jl) to host these.

[2017-03-04 05:21] juliohm commented on #526
Yes, this design will require some good thoughts and experimentation, hopefully we can make it work smoothly. One package that I came across some time ago is this one: http://julialang.org/blog/2016/08/GSoC2016-Graft

The idea is interesting, I wish the guy was contributing to the LG ecosystem instead of rewriting the whole thing from scratch as an independent package.

[2017-03-04 05:21] sbromberger commented on #519
Great call, @ChrisRackauckas - thanks. Proposal to the group: new repo called `JuliaGraphsTutorials`?

[2017-03-04 05:26] sbromberger commented on #526
I was watching that GSoC project a while back. It is an interesting idea, but it's stagnated - no updates for half a year or so. We can certainly take some ideas from it though :)

[2017-03-04 05:30] juliohm commented on #314
@sbromberger the [attobot README](https://github.com/attobot/attobot) and the [GitHub Releases](https://help.github.com/articles/creating-releases) are the only pages I used to get GitHub Releases working smoothly with Julia tags.

I don't know if it solves the NEWS.md issue in its entirety, but it definitely makes our lives much easier. We can all work on a draft release and release it when we ne

[2017-03-04 05:34] sbromberger commented on #314
Oh, shoot - yes. See https://github.com/JuliaGraphs/JuliaGraphs-meta/issues/4. Would you mind working on getting release notes integrated with this process?

[2017-03-04 05:34] juliohm commented on #519
Awesome idea @ChrisRackauckas , thanks for sharing. @sbromberger can I move ahead and create a `JuliaGraphsTutorials` repository in the organization?

[2017-03-04 05:35] sbromberger commented on #519
@juliohm Yes - please do. When it's created, feel free to close this issue out and open a new one in the new repo referencing this.

[2017-03-04 05:37] juliohm commented on #314
@sbromberger can you explain the level of integration you are expecting? I am not very familiar with web programming and webhooks on github to make it automatic, what I was thinking was just use the attobot to draft the NEWS when we are drafting the release, maybe that is not the issue that is being raised in this thread, please correct me if I am wrong.

[2017-03-04 05:52] #519 closed

[2017-03-04 05:59] sbromberger commented on #314
I'm not expecting much of anything :) How does attobot draft the NEWS?

[2017-03-04 06:05] sbromberger commented on #525
I'm closing this out due to existing consistency with `Array`:
[code]

[2017-03-04 06:05] #525 closed

[2017-03-04 06:25] juliohm commented on #314
It is just a simple draft on the GitHub Releases page, you can go to here: https://github.com/JuliaGraphs/LightGraphs.jl/releases and click in the button on the right top. We can then add bullets to the draft as we go. After we are done, we publish the draft and attobot does the magic.

[2017-03-04 14:12] sbromberger commented on #527
Thinking about this some more, I don't think we want to go away from the `UnitRange` Vertex indices. This means that

[code]

This looks complicated, and it is, but it would be easier if we could get rid of the `VI` parameter for the `Graph` concrete type by somehow inferring it from the supertype. Since there are no built-in traits, we might consider requiring them via SimpleTraits for `vertices`

[2017-03-04 16:16] jpfairbanks commented on #314
When you publish the release, attobot goes to METADATA and handles all the julia packaging stuff right? The process is still initiated by us writing the release, right?

[2017-03-04 16:18] juliohm commented on #314
Exactly, attobot will act only if we press the publish button. We can edit
the draft, save many times. When we are ready we press the button.

On Mar 4, 2017 8:16 AM, "James" <notifications@github.com> wrote:

[2017-03-04 16:42] jpfairbanks commented on #526
We should add this to the README.
Lets categorize the Core API.

# Core API
These functions are defined as the public contract of the LightGraphs.AbstractGraph interface.

## Constructing and modifying the graph

## Edge/Arc interface

## Accessing state

## Non-Core APIs
These functions can be constructed from the Core API functions but can be given specialized implementations in order to improve

[2017-03-04 16:57] jpfairbanks commented on #527
What about the following?

[code]

Then you could get the types from any implementation, but don't need to specify it with parameterized types at the AbstractGraph level.

[2017-03-04 17:03] juliohm commented on #527
We have to be careful with this constructs in Julia, at the moment they are not quite practical like C++ metaprogramming, I had issues trying to inspect the type at the time of usage and it seems a solution is still not implemented in the language:

https://discourse.julialang.org/t/recovering-parameter-type-from-parameter-list/1343/5?u=juliohm

[2017-03-04 17:52] juliohm commented on #527
One thing that we can do without any impact on the code is to replace every occurrence of `SimpleGraph` by `AbstractGraph`, make it an abstract type as suggested, and see if the tests pass. I can implement the replacement with regular expressions and submit a PR if you want.

[2017-03-04 19:16] jpfairbanks commented on #527
Yeah that would be good.

[2017-03-05 02:52] sbromberger commented on #527
@jpfairbanks

That won't compile as you haven't parameterized `AbstractGraph` yet you're referencing `AbstractGraph{VI}`.

[2017-03-06 00:50] sbromberger commented on #527
I've been playing around with this most of the day. Here's what I've found makes the most sense:

[code]

Rationale / explanation
1) This is the most generic abstract type. Straightforward.
2) This is an abstract type that indicates a general set of abstractions. Think `DictGraph`, etc.
3) These break out the abstract type into concrete Graph and Digraph.
4) Just for now, so we don't break existin

[2017-03-06 13:35] Beatzekatze opened #532 "Segmentation fault error when using workspace()"
Hi all!

Full (non)working example is:
[code]
This happens on a clean install of julia from git repo, Version 0.5.1-pre+55. I am using MacOS Version 10.11.5.
The error does not happen when LightGraphs was not imported before calling `workspace()`. This also does not happen with other modules(i get a bunch of warnings there, but no errors). So the issue is LightGraph specific, I think.

[2017-03-06 13:52] sbromberger commented on #532
Try `using StatsFuns` and then `workspace()`. Any segfault? The errors are pointing to that module but in any case this should probably be over in julialang/julia.

[2017-03-06 14:44] Beatzekatze commented on #532
`using StatsFuns` gives me warnings but no error. Thats why I decided to put it ehre rather then in julialang/julia. But I can post it there if you think it is rather more general julia issue.

[code]

[2017-03-06 15:07] sbromberger commented on #532
Yeah, sorry. Even if this *is* limited to LightGraphs, I wouldn't even know how to fix it... there's no native C code in LG - it's all Julia.

I would open up an issue at julialang/julia and point them here.

[2017-03-06 15:17] Beatzekatze commented on #532
Just realised there is a discussion going at https://github.com/JuliaLang/julia/issues/18646; will point it out there.

[2017-03-06 16:08] sbromberger commented on #532
Ah, good. Thanks. I'll close this out. (FYI - I was able to reproduce it as well.)

[2017-03-06 16:08] #532 closed

[2017-03-06 21:37] zenna opened #533 "Degree functions mis-documented"
Unless I am mistaken, some minimums and maximums are mixed up.

[code]

[2017-03-07 01:22] sbromberger opened #534 "Transient CI failures in spectral.jl"
@jpfairbanks any idea how to stop these? They're happening ~50% of the time on Travis:

[code]

[2017-03-07 01:34] sbromberger commented on #533
Can you give an example of where you think the error is, please?
[code]

[2017-03-07 01:36] sbromberger commented on #533
ah, are you referring to the docstrings? Yes - I see a problem with them (including a typo).

[2017-03-07 01:47] #533 closed

[2017-03-09 16:54] juliohm opened #539 "Test sets in LG"
This issue expresses our desire to make use of the test set feature introduced by recent versions of Julia.

The idea is to create at least one test set per file in LG's test suite. Please let me know if you have ideas of how you would like the test set boundaries to be defined.

[2017-03-09 19:43] jpfairbanks commented on #527
Does AbstractSimpleGraph mean anything that represents a graph with no multiedges?
Otherwise why  "Simple"?

[2017-03-09 21:05] sbromberger commented on #539
I think that, to start, each file should be its own test set. We can then look at what that does and make iterative improvements.

[2017-03-09 21:07] sbromberger commented on #527
That, and (possibly?) with a sparse adjacency list, and no vertex or edge metadata.

[2017-03-10 03:01] jpfairbanks commented on #539
yes each file as its own test set is a good start. The biggest potential roadblock is the possibility that a test in some file depends on variables defined in a different file.

[2017-03-10 12:53] jpfairbanks commented on #527
We should write down the names we will use for these types of graphs. Maybe these terms?

- simple:     no multiedges, no weights, or metadata
- multi:        with multiedges (unsupported)
- weighted: weights <:Number
- meta:        vertex or edge metadata

All graphs are accessed primarily through `neighbors` which provided an iterator over the set of neighbors of each vertex.

[2017-03-10 15:22] sbromberger commented on #527
or `edges`, right?

[2017-03-10 15:25] sbromberger commented on #526
So, there are two types of abstraction under consideration, and I want to make sure we're talking about the same ones when we comment here.

1) Index abstraction: that is, vertices and edges can be `<: Integer` to allow for smaller graphs. For simplegraphs, this means that you can have a `Graph{UInt8}(4,5)` that will have vertices in the range of `0x1:0x4` and edges that take `UInt8`s in their dat

[2017-03-10 17:44] jpfairbanks commented on #527
Yeah I was going to add that and then remembered that you can always build `edges` out of `vertices` and `neighbors`. We should provide that implementation for `AbstractGraph`

[2017-03-10 18:49] sbromberger commented on #527
We're doing that with Edgeiter now, right? That is, we're using the adjacency lists to generate the iterator.

[2017-03-10 20:55] henripal commented on #45
I recently ran some benchmarks comparing LightGraphs to the Python APIs of all big graph libraries, so it's easy enough for me to run some benchmarks for NX, iGraph, Snap & Graph-Tool. Let me know if you want me to run specific tests on these to add it to the repo?

[2017-03-10 23:04] sbromberger commented on #527
See #541 please.

[2017-03-10 23:30] sbromberger commented on #45
@henripal I'd love to see them. The benchmarks under discussion here are to make sure new code doesn't cause performance of LightGraphs to get worse, but it's always great to see what the competition is doing.

[2017-03-11 20:43] jpfairbanks opened #542 "Nonbacktracking matrix eigenvalues are sometime NaN"
Sometimes when you compute the eigenvalues of the Nonbacktracking matrix the leading eigenvalue comes out as NaN. This is happening on the explicitly computed matrix and happens on both 0.5 and 0.6. I need to investigate for changes to eigs that make it more common on 0.6.

[2017-03-12 01:01] jpfairbanks opened #543 "NormalizedAdjacency{Float64}(::CombinatorialAdjancy{Int}) on 0.6"
Changes to the inner constructors in 0.6 have exposed a lack of promotion in the constructors in graphmatrices.jl

The problem is that if you have ` M::CombinatorialAdjacency{Int}` and want to construct the `An::NormalizedAdjacency` matrix, then you need to decide what element type to store the `NormalizedAdjacency{T}` matrix in. You don't know what precision to use for `1/sqrt(degree(g,v))`. Or i

[2017-03-13 00:51] sbromberger commented on #542
Is it safe to ignore these errors for builds / PRs that don't touch this code? If so, perhaps we disable / make the tests optional until we fix this?

[2017-03-14 23:11] iamed2 opened #545 "[julia 0.6] LoadError: invalid subtyping in definition of Laplacian"
[code]

[2017-03-15 00:07] sbromberger commented on #545
Use the `compat-0.6` branch to test on 0.6.

[2017-03-15 00:07] #545 closed

[2017-03-15 00:27] iamed2 commented on #545
@sbromberger The branch is actually `sbromberger/compat-0.6`, but thank you

[2017-03-16 23:09] sbromberger opened #546 "Proposal: replace distmx with an accessor function"
Now that functions are first-class, I think it makes sense to pass an accessor function in wherever we now require a distance matrix. The accessor would take some input and would return a distance value.

For an example of a benefit, this would allow us to create a `WeightedEdge` type that contained
[code]
and then the accessor function would be
[code]

For Edges with no weights (the default), we

[2017-03-17 07:21] sbromberger commented on #527
I'm closing this out due to the advanced progress of #541.

[2017-03-17 07:21] #527 closed

[2017-03-18 02:19] juliohm commented on #539
I am closing this issue, but feel free to reopen it if you have something specific in mind. I believe we can have finer granularity in the test sets at any point if we find this is needed.

[2017-03-18 02:19] #539 closed

[2017-03-18 02:24] juliohm commented on #314
Will the `NEWS.md` file be added or are we sticking to the Attobot + GitHub releases approach?

[2017-03-18 02:26] juliohm commented on #504
This was solved by https://github.com/JuliaGraphs/LightGraphs.jl/pull/544

[2017-03-18 02:26] #504 closed

[2017-03-18 03:10] sbromberger commented on #314
I think we might consider a NEWS.md file for this abstract stuff. I don't know yet.

[2017-03-18 21:27] sbromberger commented on #455
Closing this out because it's old and we've resolved most of these, plus we've moved to testsets which might have different methods.

[2017-03-18 21:27] #455 closed

[2017-03-18 21:28] sbromberger commented on #487
given that we're actually *loosening* type restrictions now that we've got traits, I'm going to close this out.

[2017-03-18 21:28] #487 closed

[2017-03-18 21:32] sbromberger commented on #513
@dot-at just following up here. Were you going to take a shot at a documentation or code change? If not, I'll close this out. Let me know please?

[2017-03-18 21:35] sbromberger commented on #543
I appear to have fixed this by getting rid of the inner constructors and loosening the types for conversion. You no longer have to specify the type parameter when converting: that is,
[code]

will just work (tm).

[2017-03-18 21:35] #543 closed

[2017-03-19 18:30] #45 closed

[2017-03-19 18:42] sbromberger opened #548 "Proposal: eliminate nv as part of the SimpleGraphs datastructure"
Right now we have

[code]

We can simplify by simply redefining `nv` and `vertices` for simplegraphs as follows:

[code]

This doesn't do much in terms of savings, but it does simplify things a bit.

[2017-03-20 00:44] jpfairbanks commented on #546
yes I think this is a good idea. We should add it to the milestone for LGv1.0.0. Removing DefaultDistance is a breaking change so should not be done until LGv1.0.0. We could introduce the function versions and deprecate the matrix versions before then.

[2017-03-20 00:48] sbromberger commented on #546
OK. I think we can do this. Do you recommend making a new branch off of #541 for this work, since it looks like the majority of changes for 1.0 will be in that branch?

[2017-03-20 00:49] sbromberger commented on #546
or we could go ahead and do the deprecations now (for Julia v0.5)....

[2017-03-20 01:03] jpfairbanks commented on #546
Can we start it after merging #541? Or at least finishing the parts of #541 that affect these files?

[2017-03-20 01:04] jpfairbanks commented on #548
I think that vertices should be `indicies(fadj(g))` for types with non-one based indexing.

[2017-03-20 01:04] sbromberger commented on #546
we can wait, but my hope is that the time between merging #541 and tagging 1.0 will be very short.

[2017-03-20 01:06] sbromberger commented on #548
you mean `indices(fadj(g), 1)`? That makes sense.

[2017-03-20 01:07] sbromberger commented on #548
But this will probably break things mysteriously. I wonder where we've assumed vertex indices start at 1.

[2017-03-20 01:08] jpfairbanks commented on #548
Well all of our current types start at 1, so it should be fine.
The Julia Manual says that this kind of breakage is expected when you generalize libraries that assume that things start at 1. It says "these errors will help you find places to generalize the code" or something like that.

[2017-03-20 01:10] jpfairbanks opened #550 "Graph operators and integer overflow"
@sbromberger wrote:

on #541

We have decided to raise an exception for now and settle this issue with promotion later.

[2017-03-20 01:14] sbromberger commented on #548
It'll be fine for our current code, but do we really want to relax our design to allow vertex indices to start at other than 1?

[2017-03-21 01:16] sbromberger opened #553 "push_relabel() is not type stable"
[code]

[2017-03-21 01:37] sbromberger commented on #553
cc @pranavtbhat - would you mind taking a look at this? Thanks.

[2017-03-21 05:11] sbromberger opened #555 "graphmatrices: weird convert, and also tests required"
@jpfairbanks

in https://github.com/JuliaGraphs/LightGraphs.jl/blob/9dd2b872a7d8bd5355fc85daca96fd7a63d6670c/src/linalg/graphmatrices.jl#L234, the conversion to a `CombinatorialAdjacency` actually produces a `SparseMatrix`. Is this intended?

Also - see https://codecov.io/gh/JuliaGraphs/LightGraphs.jl/compare/9dd2b872a7d8bd5355fc85daca96fd7a63d6670c...faff97a7c5b7df545861afd4c5b344a5986a49f8/src/s

[2017-03-21 17:17] sglyon opened #557 "Lightening up LightGraphs"
I think we've arrived in a position LightGraphs with all of its dependencies isn't currently very "light".

I have in mind dependencies like GZip and JLD, that I believe are just used for graph persistence, not within algorithms.

How can we lighten up the core algorithms from extra features like persistence?

[2017-03-21 17:29] sbromberger commented on #557
PS: This should probably happen AFTER the big 1.0 transition.

[2017-03-21 17:29] sbromberger commented on #557
cc @jpfairbanks @juliohm

[2017-03-21 18:03] jpfairbanks commented on #557
I agree that we could move the persistence and some of the analysis codes into their own packages, this was part of the decision to make LightGraphsExtras into its own repo. The only downside is that we have a more complicated dependency graph where you need certain versions of GraphPersistence to be compatible with certain versions of LightGraphs.

[2017-03-21 18:06] sbromberger commented on #557
@jpfairbanks yes - that's true. Given the "heaviness" of persistence, though, perhaps we keep the standard lightgraph file format in "Base LG" and move the others into LGE?

[2017-03-21 18:34] sglyon commented on #557
I just took a look at GZip.jl and it looks like it doesn't have `deps/build.jl` file. Does that mean it doesn't have any binary dependencies above and beyond what it expects to find on the user system?

[2017-03-21 18:36] sbromberger commented on #557
I think it requires `zlib`.

[2017-03-21 18:37] sglyon commented on #557
From what I can see in `GZip.jl` it doesn't look like the julia package tries to download/install zlib. is that right?

If so, then yes, having a dependency on GZip.jl would work for my use case

[2017-03-21 18:38] sbromberger commented on #557
That's how I'm reading it too.

Awesome. That allows LG to have a native persistence method in Base, which makes things much better.

[2017-03-21 23:47] sbromberger commented on #557
Just FYI, here's the current dependency list on a fresh Julia install:
[code]

[2017-03-22 01:46] juliohm opened #558 "Infix operators for set interface"
In this proposal, I would like to ask if you like the idea of having infix operators as shortcuts for the set interface in LG:

[code]

I can submit a PR if you think it is a good idea, please let me know.

[2017-03-22 01:50] sbromberger commented on #558
We already have infix operators as a result of having `union` and `intersect`, but we don't have `×` yet. It's a good idea to implement, but is `cross()` the same as `cartesian`?

[2017-03-22 01:53] juliohm commented on #558
Where the infix operators for union and intersect are defined? Sorry, I missed them...

[2017-03-22 01:54] juliohm commented on #558
Oh, this is imported from Base, nevermind :blush:

[2017-03-22 01:54] sbromberger commented on #558
They don't need to be explicitly defined: like `issubset`, the unicode infix automatically get generated once you define `union` and `intersection`.

[2017-03-22 01:54] juliohm commented on #558
Julia is amazing, I sometimes forget, closing this.

[2017-03-22 01:55] sbromberger commented on #558
Well, we still have `cross` (`x`) to discuss.

[2017-03-22 02:01] juliohm commented on #558
The cross-product is a different concept, I think we are set in terms of infix operators, what do you think?

[2017-03-22 02:02] sbromberger commented on #558
If you say so. I like infix :)

[2017-03-22 02:04] juliohm commented on #558
It makes code look exactly like in textbooks, which is welcome. Since cross-product is different than cartesian-product, I think we have it all. Alternatively, we could define another unicode for cartesian, something not used in Base already.

[2017-03-22 02:05] sbromberger commented on #558
is there such a thing as a cross-product for a graph? If so, we should define it in `operators.jl`. :)

[2017-03-22 02:07] juliohm commented on #558
I don't think so, cross product is an operation performed between vectors instead of sets, I will close this, but feel free to reopen or continue the discussion :blush:

[2017-03-22 02:09] sbromberger commented on #558
We could always define `
◻` (`\square`)  as the cartesian product :)

[2017-03-22 02:11] juliohm commented on #558
I think that square on Wikipedia is some unicode issue, never seen this symbol used as cartesian product, only \times or \bigtimes

[2017-03-22 02:12] juliohm commented on #558
But we can use it, maybe it is standard?

[2017-03-22 02:13] sbromberger commented on #558
Is this a case where `x` is overloaded?http://www.cs.odu.edu/~cs381/cs381content/set/set_operations.html

[2017-03-22 02:15] sbromberger commented on #558
also: via http://mathworld.wolfram.com/CartesianProduct.html

so I guess they *are* the same?

[2017-03-22 02:18] juliohm commented on #558
The term cross-product is widely used for another operation: https://en.wikipedia.org/wiki/Cross_product

I don't know why that wolfram link is calling these two operations the same name, I don't see a relation, at least for now.

[2017-03-22 02:19] sbromberger commented on #558
Let's do it. all we have to do is import `Base.cross`, and then, in `operators.jl`, add

`cross(g::G, h::G) where G<:AbstractGraph = cartesian_product(g, h)` and a test or two.

[2017-03-22 02:22] juliohm commented on #558
I still think cross and cartesian are very different beasts in the literature, let's get input from @jpfairbanks ?

[2017-03-22 02:22] sbromberger commented on #558
well:

[2017-03-22 02:24] juliohm commented on #558
The square would be safer :+1: but cross != cartesian, almost 100% sure.

[2017-03-22 02:24] sbromberger commented on #558
Turns out we also have `tensor_product` defined.

[2017-03-22 02:24] sbromberger commented on #558
let's do the square for cartesian, and the `x` for tensor :)

[2017-03-22 02:25] sbromberger commented on #558
I will leave these to you to implement :)

[2017-03-22 02:32] juliohm commented on #558
Ok, I will wait a little to see if someone jumps in with a different opinion :+1:

[2017-03-22 16:32] jpfairbanks commented on #558
"Introduction to Graph Theory" by  Douglas B. West says square for cartesian product. No notation for tensor product. I think we can move ahead on square for cartesian product.

The authors of Base thought there was a good enough reason not to make \times to cartesian products of sets and I think we should follow their lead.
[code]

The also did not use `\otimes` for `kron(A,B)` which makes me thi

[2017-03-22 16:34] juliohm commented on #558
Awesome, I will submit a PR with the \square cartesian product soon.

[2017-03-23 01:28] jpfairbanks opened #559 "Set of dependency versions that work on 0.6"
Is there a set of dependency versions that we need to be using for testing on 0.6 without errors or warnings?

[2017-03-23 01:28] sbromberger commented on #559
Good question. I'm using the latest versions. I was just going to require the latest of everything before tagging.

[2017-03-23 01:34] jpfairbanks commented on #559
I am getting a lot of warnings from ParserCombinator.

[2017-03-23 01:35] sbromberger commented on #559
Yup. They're still using tasks :)

[2017-03-23 01:43] jpfairbanks commented on #559
I also got an error from GZIP even though I am on master of that package.

[2017-03-23 01:44] sbromberger commented on #559
error, or warning? Paste here?

[2017-03-23 01:51] sbromberger commented on #559
ah, the reason I'm not seeing the warnings anymore is because the code is already compiled. When I delete the `.ji` files I see them again.

Most of these deal with persistence.

[2017-03-23 01:52] jpfairbanks commented on #559
[code]

[2017-03-23 01:53] sbromberger commented on #559
Move to v0.3.0

[2017-03-23 01:55] jpfairbanks commented on #559
Of Gzip?

[2017-03-23 01:55] jpfairbanks commented on #555
The tests on #541 sbromberger/simplegraphs are working for me. Is there anything still broken there?

[2017-03-23 01:56] sbromberger commented on #559
Yeah, wait. Now I'm getting that error.

[2017-03-23 01:57] sbromberger commented on #555
they're working but I'd like the conversion issue fixed, and more tests, in graphmatrices. I'm not knowledgeable enough to fix this myself.

[2017-03-23 01:59] jpfairbanks commented on #555
So the problem as I understand it is that if you have a
[code]

Is that what you are concerned about?

[2017-03-23 02:01] sbromberger commented on #555
Yes. Is this significant? You're converting to a `CombinatorialAdjacency` which implies that you should be returning a `CombinatorialAdjacency`, but instead you're returning a matrix.

[2017-03-23 02:03] jpfairbanks commented on #555
Yeah the current behavior is incorrect. `CombinatorialAdjacency(CombinatorialAdjacency(g)) == CombinatorialAdjacency(g)` should be true for all g.

[2017-03-23 02:05] jpfairbanks commented on #555
This never came up in my usage because I never tried to use it like that.

[2017-03-23 02:08] sbromberger commented on #555
That's what you get when you put someone who doesn't know what he's doing in charge of moving your code to 0.6 :)

[2017-03-23 02:08] sbromberger commented on #559
Just fixed the `readall` issue - new pull available.

[2017-03-23 02:09] jpfairbanks commented on #555
PR incoming.

[2017-03-23 02:16] jpfairbanks opened #561 "0.8 Milestone"
We should plan to hit v0.8 soon.
What are the things we need to do to get there.

- [x] 0.6 Compatability
- [x] AbstractGraphs / SimpleGraphs
- [x] Deprecations
     - [x] nv field of SimpleGraph (#548)
- [x] NEWS.md / list of changes.
- [x] Make sure documentation is consistent
- [x] Merge into master
- [ ] Find a nicer way to alias `Graph`/`DiGraph`/`Edge` (moving to 0.8.1)

[2017-03-23 02:17] sbromberger commented on #561
Do we want to deprecate `nv`? That's a quick fix. I can do that tonight.

[2017-03-23 02:17] sbromberger commented on #561
I'd like to move persistence out to LGE if we can, but it can wait until 1.1.

[2017-03-23 02:19] jpfairbanks opened #562 "Parallel Execution of tests"
We have a lot of tests. 7 idle cores when running the tests makes me sad.

[2017-03-23 02:20] sbromberger commented on #562
hahaha. Yes. `Tasks.@tasks`? How do we do that without having to hit every file?

[2017-03-23 02:25] jpfairbanks opened #563 "self loops as a trait"
Here is a discussion from #541 pulled out to be settled later:
[code]
Some graph implementations support self loops and some don't. I think we should provide a mechanism for implementers of subtypes of AbstractGraph to tell the algorithms this fact.

[2017-03-23 02:27] sbromberger commented on #563
I agree, but I don't think this is necessary for 1.0. Thoughts?

[2017-03-23 02:33] sbromberger commented on #561
Ref https://github.com/JuliaLang/METADATA.jl/issues/8454

[2017-03-23 03:00] jpfairbanks opened #564 "Deprecated GraphMatrices functions"
These functions are deprecated
[code]

[code]

[2017-03-23 03:01] sbromberger commented on #564
Are you creating a PR to deprecate them?

[2017-03-23 03:17] sbromberger commented on #564
I'm on it.

[2017-03-23 04:34] sbromberger commented on #548
We can't use `indices` in any case, because there's no way to change the type of the `Base.OneTo` that it creates. It's always an `Int64`, and we assume that both `nv` and `vertices` will yield integers of the same type as the graph vertex indices.

[2017-03-23 04:36] sbromberger commented on #548
Leaving this open for further discussion, but I just merged the original code into #541. I found a couple places where we were relying on the internal data structures of Graph and DiGraph, so I fixed them up.

[2017-03-23 04:39] #564 closed

[2017-03-23 04:39] #555 closed

[2017-03-24 22:08] juliohm commented on #558
Apparently we can't define custom infix operators in Julia yet, please let me know if I am wrong.

[2017-03-27 14:34] attobot opened #566 "Error tagging new release"
The tag name "0.7.4" is not of the appropriate SemVer form (vX.Y.Z).
cc: @sbromberger

[2017-03-27 15:50] #566 closed

[2017-03-27 18:13] jpfairbanks commented on #561
According to the [Semantic Versioning definition](http://semver.org/) removing persistence would be a breaking change that would require a major version number bump, unless you think that telling people to import LGE to use persistence is not breaking. All the functions will stay the same right?

The problem is that we put stuff in LGE that needs a lot of binary dependencies people will need that

[2017-03-27 18:37] sbromberger commented on #561
I think in 1.1 we can `@deprecate` the functions we move into LGE. I understand this might be a semver violation but I'd really rather not hold up 1.0 for the persistence changes, especially since we've got such a huge change in the pipeline already with #541.

LGE was originally supposed to be a stopgap measure for things that were too heavy-weight for LG. My long-term goal for that package was t

[2017-03-27 20:00] jpfairbanks commented on #561
That is what I recall

GraphPersistence.jl? Where it works for any graph type?

James Fairbanks
james.fairbanks@gatech.edu

[2017-03-27 21:20] sbromberger commented on #557
@sglyon we're planning on moving persistence out of LG core by v1.1.0.

[2017-03-27 21:22] sbromberger commented on #559
Closing this - will add an issue for v1.1.0.

[2017-03-27 21:27] sbromberger commented on #561
This is an important bikeshed, actually. `LightGraphs` used to refer to what are now called `SimpleGraphs` (I got tired of waiting for https://github.com/scheinerman/SimpleGraphs.jl to be registered, so I took the name for use as a type). It now refers to just the package, and not necessarily the type of graph.

When you say "any graph type" do you mean other graph packages? (How would we do that?

[2017-03-27 21:32] sglyon commented on #557
Great! Thanks for the heads up!

[2017-03-27 21:43] sbromberger opened #568 "1.1 Milestone"
Forking this from #561 so we can track 1.0 better.

v1.1.0: added this as a project, so we can test that out.

[2017-03-27 21:46] #568 closed

[2017-03-27 21:48] sbromberger commented on #559
For 1.1.0, modify REQUIRES so that versions of deps don't throw warnings / are built for 0.6.0

[2017-03-27 21:48] sbromberger commented on #548
Closing this out since it works / passes all tests.

[2017-03-27 21:48] #548 closed

[2017-03-27 21:50] sbromberger commented on #476
Done for v1.0.0, so closing.

[2017-03-27 21:50] #476 closed

[2017-03-27 21:51] sbromberger commented on #513
I'm closing this out in an effort to get the slate clean for v1.0.0 and beyond. @dot-at , let me know if you'd like to discuss further and we can reopen.

[2017-03-27 21:51] #513 closed

[2017-03-27 21:51] sbromberger commented on #471
Haven't seen this in a while so closing out.

[2017-03-27 21:51] #471 closed

[2017-03-27 21:53] sbromberger commented on #497
@rohitvarkey I heard you might have some improvements here? Let me know, please!

cc @jpfairbanks

[2017-03-27 21:56] sbromberger commented on #512
Closing this out for now since the PRs are still outstanding. @blegat, if you'd like to make a PR for this, please do so! We'd love to have your contribution.

[2017-03-27 21:56] #512 closed

[2017-03-27 21:57] sbromberger commented on #558
Crud. OK. Closing this out until we can :)

[2017-03-27 21:57] #558 closed

[2017-03-27 22:19] sbromberger commented on #368
Question: should `is_bipartite` work for directed graphs?

[2017-03-28 00:40] sbromberger commented on #368
OK, so after talking with @jpfairbanks I've done the following:

1) removed `is_connected` for digraphs (must use `is_strongly_connected` or `is_weakly_connected`).
2) removed `connected_components` for digraphs (must use `strongly_connected_components` or `weakly_connected_components`).
2) test for directedness in `is_bipartite` - will use `weakly_connected_components` for digraphs or `connected_

[2017-03-28 14:19] jpfairbanks commented on #561
I think that packages that are data structure independent, that is provide functionality for any subtype of `AbstractGraph`, do not need LightGraph in the name. So GraphVisualization.jl, and GraphPersistence.jl make a lot of sense to me.

These packages would look like

[code]

Then when you go to use them you do

[code]

If you have a package that defines its own subtypes of AbstractGraph you wou

[2017-03-28 14:52] sbromberger commented on #561
@jpfairbanks saving works well since the arguments can be abstract, but what do we do about loading?

[2017-03-28 15:01] jpfairbanks commented on #561
Can we pass an empty graph of the given type and have the loading routines fill it in?

These packages would look like

[code]

Then when you go to use them you do

[code]

If you are writing a package that defines its own subtypes of AbstractGraph you would write:

[code]

[2017-03-28 15:33] sbromberger commented on #561
That means we can't use `FileIO`, which I really want to do.

The whole persistence functionality needs to be reworked. My preference is to get it out of core (per #557) and then figure out a good way of doing things.

(My other preference is to keep the LightGraphs persistence functionality inside core since 1) it only depends on GZip and 2) it gives at least one way to load/save graphs without h

[2017-03-28 15:52] rohitvarkey commented on #497
I have a pretty straightforward implementation of bfs without using the visitor framework. The basic code is something like
[code]
In my benchmarks, I find that this version turns out to be around 3x faster than the current bfs implementation. I can whip up a PR if you'd like!

[2017-03-28 17:04] jpfairbanks commented on #497
What about the state being

[code]

And then when you go to call the bfs function you give it a visit function like this:

[code]

That way you only need to define one function for the interface.

[2017-03-28 17:17] jpfairbanks commented on #561
Based on the description here: https://github.com/JuliaIO/FileIO.jl#implementing-loaderssavers
Can't we define a keyword argument and have the user provide an empty graph using that keyword argument?

I tested the ideas here:
[code]

[2017-03-28 17:33] sbromberger opened #569 "Rework persistence"
Followup discussion from https://github.com/JuliaGraphs/LightGraphs.jl/issues/561#issuecomment-289568154 - my preference is to keep the native LightGraphs format inside LG core, but move all other graph format loaders/savers to an external package, and move to [FileIO.jl](https://github.com/JuliaIO/FileIO.jl).

[2017-03-28 17:33] sbromberger commented on #561
Yup, I guess that would do it, but man. Having `load!` as a mutating function really doesn't sit well with me. In any case, we should move this discussion to #569.

[2017-03-28 17:35] jpfairbanks commented on #569
We can have load(file, T::Type) and use the constructor T() to make an empty graph, then fill that graph in with the edges from the file.

[2017-03-28 17:37] iamed2 opened #570 "Upper bounds on supported Julia versions"
Right now LightGraphs supports `julia 0.5`, which means any Julia release greater than or equal to the first 0.5 release. Therefore, 0.7.X versions declare that they work on 0.6, which they do not. It's probably too complicated to both edit METADATA and the repo's REQUIRE file, but this might be a good idea for future versions like #541 .

[2017-03-28 17:37] sbromberger commented on #569
I like that, but we'd need two types: one for graph, the other for edges.

[2017-03-28 17:39] sbromberger commented on #570
The thing is, we don't know when LG will break on an unsupported version of Julia. The way we handle this is to be explicit in `README.md` that we support the latest release, but that YMMV on unstables / prereleases, and then we tag a new version that drops support for older releases once we've got fixes. This is what we're planning to do with Julia 0.6 and LG 0.8.

[2017-03-28 17:41] #550 closed

[2017-03-28 17:41] #534 closed

[2017-03-28 17:48] tkelman commented on #570
Once at least one tagged version is available that does work on nightly, it could make sense to upper-bound all the past tagged versions at whichever first Julia release they won't work on. If there isn't at least one version available without an upper bound, then the package (and all its dependents) won't be installable at all on nightly.

[2017-03-28 17:51] iamed2 commented on #570
@tkelman is it okay to only do that with a PR to METADATA and not go back and edit REQUIRE in the repo?

[2017-03-28 17:55] tkelman commented on #570
Yes, bounds do need to be updated retroactively once in a while, but sha's should be left alone. For registered packages at a tagged version, the METADATA requires file content takes priority over the package REQUIRE file content.

[2017-03-28 18:06] sbromberger commented on #570
OK, so I think the plan you're implying is this:

1) merge #541 and followon PRs
2) tag LightGraphs 0.8 (we're moving away from calling it 1.0, btw) with `julia 0.6` in `REQUIRE`
3) open up a PR (or multiple PRs?) in METADATA to fix the previous versions at a given version number

Does that sound right?

[2017-03-28 18:10] tkelman commented on #570
One PR for adding upper bounds to all the past versions would be preferable. I can help out with that when you're ready. That plan sounds good to me.

[2017-03-28 18:11] tkelman commented on #570
Though for step 2, what you put as the lower bound of an 0.6-only tag will depend on when it comes out relative to when Julia 0.6.0 final comes out. If you're ready before Julia is, you could set an alpha or rc as your minimum.

[2017-03-28 18:12] sbromberger commented on #570
Got it. We are ready now, but the issue is that there's really no guarantee that what works on the alpha version will work on the release, right? That seems to argue for putting the alpha version in the LightGraphs 0.8 REQUIRE and making any adjustments necessary when Julia 0.6 is released.

[2017-03-28 19:59] sbromberger commented on #497
I'd prefer to have `state.status` be some sort of enum instead of checking two booleans. You want to prevent `open` and `close` from both being true at the same time.

Plus I'm not quite sure how this would work. Need to think about it.

Also, @rohitvarkey - it looks like you need two sentinel values. Consider using a `bitarray` for `-2` and `0` for `-1`; this will allow you to use the eltype of `

[2017-03-28 20:06] juliohm opened #571 "Random walk with optional transition probabilities"
Would you be interested in having a random walk with optional transition probabilities?

Currently, the random walk is performed with uniform transitions until a predetermined maximum number of vertices is reached.

What do you think of passing an additional (sparse) transition matrix initially, and maybe later on also generalize the stop criterion? Maybe we can leverage Julia syntax to pass in an

[2017-03-28 21:35] rohitvarkey commented on #497
I'm not sure I understand how to use a `bitarray` here. I didn't use `0` for `-1` to consider the possibility of a graph representation that uses a 0-based index that wants to use this code.

Would `fill(eltype(g.vertices)(-2), nv(g))` work for this?

[2017-03-28 22:05] sbromberger commented on #571
yes. I like this idea, but have an alternative idea: two methods.

One takes an `AbstractMatrix` of transition probabilities. The other (main method) takes an accessor function that, given an edge, returns a transition probability. See #546 for the original idea. If you did this quickly, you'd be in a position to help guide resolution of #546 in the long term :)

[2017-03-28 23:20] sbromberger commented on #497
Then you can use two bitarrays, `notfound` and `issource`. `notfound[i]` would be `true` if `parents[i]` would equal `-2` in your code above, and `issource[i]` would be true if `parents[i]` would equal `-1`.

not if the eltype is unsigned.

[2017-03-29 12:18] sbromberger opened #573 "post-merge of #541"
Post merge:
- [x] merge fix for #368 (`sbromberger/fix368`)

For 8.1:
- [ ] tag upper bounds on previous releases (#570 and https://github.com/JuliaLang/METADATA.jl/pull/8817)

[2017-03-29 17:33] jpfairbanks opened #576 "Large PRs"
We had the huge abstraction PR (#541) that was a lot of work. This is a place for people to comment on how to avoid such giant PRs in the future.

The PR grew because there were a few changes that needed to happen at the same time.

- **Abstraction of the interface**
This was always going to take a lot of lines but most of the changes would have been simple changes to the type constraints on funct

[2017-03-29 17:46] sbromberger commented on #576
One issue that I ran into is that it made sense to update the docs as I went through the abstraction. There were tons of errors in the docs, and we changed a bunch of stuff with traits, and it all needed notes.

I suppose I could've kept two copies of the repo - one for abstraction work, and one for docs - but that seems like a recipe for merge conflict disaster.

[2017-03-29 17:49] sbromberger commented on #576
Benchmarks were actually introduced in #538, so any changes to `benchmark/` were to support 0.6 or abstractions.

[2017-03-30 16:30] rohitvarkey commented on #497
Oh. Okay! So the function would return `parents`, `notfound` and `issource` and the user has to check the 2 bitarrays before reading the value from `parents`?

[2017-03-30 16:41] sbromberger commented on #497
No, it would just return `parents`. `notfound` will not have any `true` values at the end of the BFS, since when it's `true` inside the function you replace the parent with the current source vertex, and you'd then set it to `false`. Similarly, `issource` doesn't need to be returned since you will set the `parents` value to 0 for all sources.

[2017-04-02 22:29] #189 closed

[2017-04-04 13:17] jpfairbanks commented on #571
Would it be better to use and Algorithm type so that you can have complete freedom in the sampling strategy?

[code]

Then the generation of the transition weights and the stopping criterion could be controlled by the implementation of Algorithm?

[2017-04-05 15:04] juliohm commented on #571
That is a very good idea @jpfairbanks, I will sketch a first implementation soon I find some time.

[2017-04-07 17:44] #368 closed

[2017-04-07 22:49] jpfairbanks commented on #562
The file level would be a good start for parallelization. Each test file should be independent in terms of not sharing state.

[2017-04-08 00:30] sbromberger commented on #562
`@parallel` or `@threads` ?

[2017-04-08 01:47] sbromberger commented on #573
@tkelman - could I ask you for your help here? I would like to tag upper bounds on previous LightGraphs releases as follows:

 LG version | Julia upper bound
-----------|--------------------
 <= 0.3.7 | 0.3
0.3.8 - 0.6.3 | 0.4
0.6.4 - 0.7.5 | 0.5

What needs to be done to make this happen?

[2017-04-08 03:47] tkelman commented on #573
Are those respective version combinations known to be broken even at the very earliest possible version? For upper bounds it's usually a better idea to choose a known-broken specific release version, rather than a pre-release that would rule out the very first commit after the previous commit branched even though it would likely work fine.

[2017-04-08 03:49] sbromberger commented on #573
I don't know. All I have for history is that we switched to the new versions upon the Julia release. I don't think we ever really tested against pre-release versions, but my guess is that things broke at least somewhere in the pre-release cycle, necessitating the minimum bound change.

[2017-04-08 03:55] sbromberger commented on #573
So, if we want to pick a known-broken, then we should remove the `-` from each of those versions - but there's no guarantee that the version won't have broken at a pre-release. (That is, even if v0.6.0 is known to be broken on Julia 0.5, it might have broken earlier (that is, it works on all Julia 0.4 but breaks at some unknown place in the `0.5-` prerelease cycle.)

I'll defer to your judgement o

[2017-04-08 03:59] sbromberger commented on #573
Also - we should probably merge https://github.com/JuliaLang/METADATA.jl/pull/8739 before we do anything with upper bounds here.

[2017-04-09 19:13] sbromberger commented on #557
Making this a list:

28-element Array{String,1}:
- [ ] "LightGraphs"
- [ ] "DataStructures"
- [ ] "Compat"
- [ ]  "StatsBase"
- [ ]  "SpecialFunctions"
- [ ]  "Distributions"
- [ ]  "QuadGK"
- [ ]  "Calculus"
- [ ]  "StatsFuns"
- [ ]  "Rmath"
- [ ]  "BinDeps"
- [ ]  "SHA"
- [ ]  "URIParser"
- [ ]  "PDMats"
- [ ]  "JLD"
- [ ]  "FileIO"
- [ ]  "HDF5"
- [ ]  "WinRPM"
- [ ]  "Libz"
- [ ]  "BufferedStr

[2017-04-10 04:27] sbromberger commented on #561
Closing now that v0.8.0 has been tagged and released.

[2017-04-10 04:27] #561 closed

[2017-04-10 04:28] sbromberger commented on #314
Attobot and release notes seems to be the best way to do this for now, so closing out.

[2017-04-10 04:28] #314 closed

[2017-04-10 16:53] sbromberger opened #584 "Just a note re: documentation and updates"
I will be committing directly to `master` for documentation fixes during the early days of v0.8.0. This is for documentation fixing only; any code will go through the standard PR process.

[2017-04-10 16:54] sbromberger commented on #584
@jpfairbanks - feel free to make direct changes to docstrings as well :)

[2017-04-11 18:52] rohitvarkey opened #586 "Are in_edges and out_edges part of the interface?"
`in_edges` and `out_edges` are mentioned as part of the LightGraphs interface in the README, but they show up as deprecated in `deprecated.jl` in favor of `in_neighbors` and `out_neighbors`.

[2017-04-11 19:32] sbromberger commented on #586
They are deprecated. Good catch on the README. I'll make an edit there.

[2017-04-11 20:03] #586 closed

[2017-04-11 22:18] sbromberger commented on #557
Down to 8.

[2017-04-11 23:38] sbromberger commented on #573
@tkelman I think we're ready to go with upper bounds here. What do I need to do?

[2017-04-12 00:38] sbromberger opened #590 "Verify new binomial random generator code"
Following a failure of erdos renyi graph test (mean degree slightly less than the test expected), I think we should make sure we haven't botched binomial randomness. @jpfairbanks has graciously offered to test the new code against the Distributions code so assigning to him.

[2017-04-12 00:39] rohitvarkey opened #591 "Implementing the is_directed trait correctly"
I've been trying to get the abstraction to LightGraphs working with an `AbstractGraph`. But I've have not been able to get the `is_directed` trait to work. I was following the example from the [SimpleDiGraphs](https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/src/graphtypes/simplegraphs/simpledigraph.jl#L106-L108) implementation. I keep getting an `Not Implemented` error.

This is an minim

[2017-04-12 00:57] sbromberger commented on #591
That's pretty strange. The only thing I can think of is to remove the method definitions at L116.

[2017-04-12 01:03] sbromberger commented on #591
That's non-intuitive. Paging @mauro3 for some assistance here.

[2017-04-12 03:15] sbromberger commented on #591
see https://github.com/JuliaLang/julia/issues/21356 and https://github.com/mauro3/SimpleTraits.jl/issues/38 as possibly related.

[2017-04-12 19:54] tkelman commented on #573
Can modify the requires files in-place in a branch of your metadata fork and submit a PR, we'll look at the details there. I do recommend using actual releases for upper bounds rather than prereleases, since upper bounds are exclusive and prereleases include the very first commit after branching.

[2017-04-12 21:22] sbromberger commented on #573
Got it. Thanks. I'll try to get to this soon.

[2017-04-12 21:35] sbromberger commented on #573
See https://github.com/JuliaLang/METADATA.jl/pull/8817

[2017-04-15 15:07] sbromberger commented on #570
Closing this out in favor of #573 and https://github.com/JuliaLang/METADATA.jl/pull/8817.

[2017-04-15 15:07] #570 closed

[2017-04-15 15:43] sbromberger opened #592 "should is_cyclic return true on a 2-node PathGraph?"
[code]
returns `true`.

This seems possibly correct but not useful. What is the correct behavior for cycles in undirected graphs?

[2017-04-15 18:37] sbromberger commented on #266
I've given this some thought lately, and I'm not sure I want to do this after all. It's recursive and will only really work for small graphs. Please feel free to continue the discussion but I'll close this out until someone can persuade me this is generally useful.

[2017-04-15 18:37] #266 closed

[2017-04-18 11:52] gmarcais opened #595 "Adjacency matrix, DiGraph and self-loops"
For a node which has a self-loop, the diagonal element of the adjacency matrix is set to 2. This convention is fine for undirected graphs. On the other hand, for directed graphs, I think the value on the diagonal should be 1.
In particular, setting the diagonal to 2 for a directed graph breaks the property that the row-sum is the out-degree of a node, and the column-sum is the in-degree.

[code]

[2017-04-18 12:45] mauro3 commented on #591
Let's re-check this after the fix of https://github.com/mauro3/SimpleTraits.jl/pull/39, which should hopefully be done very soon.

[2017-04-18 14:42] sbromberger commented on #595
This should be an easy PR if you'd care to give it a shot (should be a one-line change). The relevant lines are in `linalg/spectral` around line 55.

[2017-04-18 17:02] gmarcais commented on #595
OK, I did create PR #596. Hopefully done correctly. I wrote it agains v0.7.4 as it is the newest version that worked with Julia 0.5.1.

[2017-04-18 22:00] sbromberger commented on #595
Closed via #596.

[2017-04-18 22:00] #595 closed

[2017-04-20 15:12] IssamT opened #597 "Shortest paths enumeration"
The doc states:

But I get a vector of length 1 when the path doesn't exist. Am I doing something wrong?

The following code

[code]

Outputs on the console:

[code]

[2017-04-20 15:47] sbromberger commented on #597
That looks like a bug.

[2017-04-20 16:42] sbromberger commented on #597
See #598

[2017-04-20 18:58] #597 closed

[2017-04-21 15:06] ghost opened #599 "all_simple_paths in Julia"
Are there any existing functions to compute all simple paths between any two vertices in an undirected graph? If not, could we have one in Julia similar to a function in NetworkX package?

[2017-04-21 15:31] sbromberger commented on #599
See #266. My previous efforts involved recursion which caused massive allocations even on moderately-large, moderately-dense graphs. If you have a method that scales, it'd be great to get a PR.

That said, you can check the  `dijkstra_shortest_paths(u,  allpaths=true)` output - specifically, the `predecessors` field of the `DijkstraState`, and you should be able to reconstruct all simple paths (ag