[2018-07-28 02:35] sbromberger commented on #942
@mlubin Unfortunately, yes. At this time the latest tagged version of LG (0.13.1) doesn't work with -nightly, since it still references `IterativeEigensolvers`. I cannot test the new version that uses `Arpack` because I cannot get `Arpack.jl` to build in any of my environments, so if we were to tag 0.13.2, it'd be without my verification, which is a deviation from all other releases (I manually ve

[2018-07-28 20:09] sbromberger commented on #942
@ufechner7 we've just released LG v0.14.0, which explicitly requires Arpack. This won't help you if you're building Julia from source with a compiler that's not GCC7, but if you've gotten things to work with LG master and your Julia installation you now have a tagged version that should continue to work.

[2018-07-29 23:55] elchiconuevo commented on #938
Sorry about the delay. I have some pending tasks at the chair to complete and I wouldn't be able to work on the tests for the function.

[2018-07-31 16:41] sbromberger opened #955 "Move parallel functions into a LightGraphs.Parallel module"
@jpfairbanks had a great suggestion:

* create a LightGraphs.Parallel module
* move all parallel functions into this module (mirroring the file layout in LightGraphs)
* rename all parallel functions to mirror the original names (`dijkstra_shortest_paths()`, etc.)

This way, users can
[code]

[2018-07-31 17:18] somil55 commented on #955
I agree with this.
While writing parallel functions multiple helper functions have to be written. This clutters present sequential version files. Apart from this `Parallel.` seems to be a better syntax than `parallel_`.

[2018-07-31 17:18] sbromberger commented on #915
Closing out - we're relying on Arpack for 0.14 but will be exploring @haampie's IRAM.jl as a native Julia option.

[2018-07-31 17:18] #915 closed

[2018-07-31 17:19] sbromberger commented on #932
@matbesancon if you'd like to work on this soon, we can get it into 1.0.

[2018-07-31 17:34] jpfairbanks commented on #955
See PR #957

[2018-07-31 18:53] sbromberger opened #958 "race condition in parallel betweenness centrality"
[code]

[2018-07-31 19:11] somil55 commented on #958
[code]

[2018-07-31 19:12] somil55 commented on #958
This is happening with the sequential version also.

[2018-07-31 19:30] sbromberger commented on #958
oh, crap. Of course!!!

[2018-07-31 19:30] sbromberger commented on #958
😳

[2018-07-31 19:30] #958 closed

[2018-07-31 19:51] matbesancon commented on #932
yes I'll have time to suggest a change somewhere this week

[2018-08-01 09:03] matbesancon opened #963 "Documentation disambiguation"
In *docs/src/developing.md*:

[code]

I find it unclear to know if one needs to implement **both** types or **any** of them

[2018-08-01 09:19] matbesancon opened #964 "Ref to eltype broken"
Clicking on `eltype` from https://juliagraphs.github.io/LightGraphs.jl/latest/developing.html fails

[2018-08-01 09:24] matbesancon commented on #964
One fix would be to link to the Julialang corresponding page
https://docs.julialang.org/en/stable/stdlib/collections/#Base.eltype

[2018-08-01 17:25] sbromberger commented on #963
@matbesancon - thank you for your tireless work on the docs. If you're going to fix them via PR (and please continue to do so!), there's no need to open up an issue to discuss – you've been around here long enough that your judgement as to what needs fixing is not in question. Just make the PR and we can hash it out there :)

[2018-08-01 18:33] matbesancon commented on #963
yes I wasn't sure if I was gonna do the PR straight away, so this serves both as a personal reminder and as a signal that we've seen the issue and that we'll take care of it at some point.
In that case, I completed the doc here with **any** of the two is good

[2018-08-01 20:13] sbromberger commented on #963
Actually, I think you need *both* :)

[2018-08-02 11:54] matbesancon commented on #963
woops, I'll update the PR

[2018-08-02 16:29] #963 closed

[2018-08-03 11:25] simonschoelly opened #968 "Functions that return or change a graph often only work with SimpleGraphs"
This mainly concerns the functions in `operators.jl` but also crops up in some other places. I think this is something that should be fixed before a 1.0 release.
At the moment some functions that return another graph don't really work for general graph types even if their method signature suggests otherwise. Here are some examples:

* `complement` is just implemented for `Graph` and `DiGraph`
* `r

[2018-08-03 15:34] sbromberger commented on #968
This definitely won't be fixed by 1.0. I've been thinking about moving the operators into SimpleGraphs, since it'a going to be impossible to deal with all the metadata on changed graphs in a consistent manner.

[2018-08-06 15:51] sbromberger commented on #968
That was my thinking as well.

Not at all. Just be aware that we're in a 1.0 sprint right now so responses might be delayed :)

[2018-08-07 16:56] jpfairbanks commented on #968
The problem of correctly and efficiently implementing all the operators for arbitrary combinations of types is definitely out of scope for 1.0

So I think we will go with a resolution where these troublesome operators raise a method error. Then if you want to get the current behavior where G op H returns a simplegraph. You would convert G and H to simple graphs.

Then if you want to combine your g

[2018-08-07 20:22] sbromberger opened #970 "inconsistent results in greedy_color (serial vs parallel)"
@SohamTamba -

[code]

[2018-08-07 21:19] jpfairbanks commented on #970
It makes sense to get different answers because of benign race conditions. We just need to make sure that the output is a valid coloring

[2018-08-07 21:49] sbromberger commented on #970
It appears to be - that is, you can reduce the larger coloring to a smaller one without an issue - but I don't like the idea of "benign race conditions", especially where they lead to suboptimal results (4 colors instead of 3, for example).

I'll close this out but I wonder if there's a way to eliminate the discrepancy.

[2018-08-07 21:49] #970 closed

[2018-08-08 17:12] sbromberger commented on #789
Keeping this open as a placeholder to discuss issue in https://github.com/JuliaGraphs/LightGraphs.jl/pull/962#discussion_r206963708

[2018-08-08 21:00] jpfairbanks opened #977 "Does LG work on Julia 1.0?"

[2018-08-09 12:42] jpfairbanks commented on #977
![image](https://user-images.githubusercontent.com/2753998/43899506-0e8b117c-9bda-11e8-8bec-1b3cdb345a6b.png)

[2018-08-09 12:42] #977 closed

[2018-08-09 12:47] matbesancon commented on #977
So great, I'm crying

On Thu, Aug 9, 2018, 13:42 James <notifications@github.com> wrote:

[2018-08-09 13:19] simonschoelly commented on #977
I tried
[code]
but then there are some errors when precompiling (no function `srand`, `SimpleTraits` is not found). Then I tried
[code]
and that works. So I think it somehow does not download the newest version when using `add`.

[2018-08-09 14:03] sbromberger commented on #977
Yes. The latest master works on 1.0. Patience! :)

[2018-08-09 22:12] #955 closed

[2018-08-09 22:14] sbromberger commented on #940
Closing out to clean up a bit.

[2018-08-09 22:14] #940 closed

[2018-08-09 22:17] sbromberger commented on #932
@matbesancon - do we need to keep this open, or can it be closed with #965? Is there more work you'd like to do?

[2018-08-09 22:34] matbesancon commented on #932
The issue as written can be closed yes. If we or other people find
something unclear we'll re-open.

Cheers from London!

On Thu, Aug 9, 2018, 23:17 Seth Bromberger <notifications@github.com> wrote:

[2018-08-09 23:18] sbromberger commented on #932
Rub it in! :)

Seriously, great presentation today.

[2018-08-09 23:18] #932 closed

[2018-08-11 14:43] SohamTamba commented on #970
There aren't any race conditions here.
`vertices(g) ` are iterated in a random order.

[2018-08-11 14:44] sbromberger commented on #970
Gotcha. Thanks for the clarification.

[2018-08-11 15:50] bovine3dom opened #982 "Problem interface proposal"
Disclaimer - @jpfairbanks came up with most of this, but the bad ideas are all mine :)

`Experimental/isomorphism.jl` is really quite long for what it does. It has 10 separate isomorphism functions:

[code]

Having just gone through and refactored these, I can vouch for the fact that they share a lot of internal code.

I think these functions can be split up into three parts - the kind of result w

[2018-08-11 17:17] bovine3dom opened #983 "count_*isomorphs counting convention"
The isomorph counting is a bit strange to me:

`count_induced_subgraphisomorph(g,g) == 1 # false, for all sane graphs`

I'm wondering if the default behaviour should be to normalise by this, e.g:

[code]

or include the `_unique_` as yet another set of isomorphism functions, or, `uniquify(f,g1,g2) = f(g1,g2)÷f(g2,g2)`.

I don't know what the convention is.

[2018-08-11 21:14] BoundaryValueProblems opened #985 "Pkg.test failed on Julia v1.0.0 on a 32bit machine"
I could successfully added LightGraphs.jl on my laptops after upgrading Julia from v0.6.4 to v0.7.0/v1.0.0. Then, I tried ```Pkg.test("LightGraphs")```, and it completed without any error on my MacBook Pro (64 bit, OS X 10.11.6). However, on my 32 bit Linux machine (Ubuntu 16.04.4 LTS), the test failed with the following errors, which all seems to me related to Int32 vs Int64 mismatches.
[code]
Th

[2018-08-11 21:57] sbromberger commented on #985
Yeah, I suspected we'd have an issue with this. I think the best (easiest) course of action is to change all the `Int`s to `Int64`s.

@jpfairbanks - aside from killing performance on 32-bit machines, do you see any other drawbacks?

[2018-08-11 21:58] sbromberger commented on #983
cc @simonschoelly

[2018-08-11 22:00] #928 closed

[2018-08-12 05:37] sbromberger commented on #985
On second thought, these just look like errors in the test code. Let me look into this a bit more.

[2018-08-12 10:16] simonschoelly commented on #983
So right now, `count_induced_subgraphisomorph(g1, g2)` corresponds to `length(all_induces_subgraphisomorphism(g1, g2))`. Furthermore, right now we have `count_induced_subgraphisomorph(g1, g2) == count_isomorphism(g1, g2) ` whenever `g1` and `g2` have the same number of vertices.
It counts how many injective functions are there from `g2` to `g1` that are compatible with the edge relation.
For me th

[2018-08-12 14:03] simonschoelly commented on #982
`any`, `size` and `iterate` are all functions that are already defined for other argument types, so I think they should do roughly the same for graph problems. `any` seems to be a good name. `size` usually only works for Arrays and returns a tuple, therefore I  think it would be better to use the name `count` that usually returns a number.
For a vector you have
[code]
so this does something comple

[2018-08-12 19:29] sbromberger commented on #968
@jpfairbanks describes the current behavior and makes a good case for not moving these out to `LightGraphs.SimpleGraphs`, so I think I'm going to close this out as a "wontfix" for now. Please feel free to keep discussing it here, though.

[2018-08-12 19:29] #968 closed

[2018-08-13 16:13] sbromberger opened #989 "possible optimization: `Base.OneTo(n)` vs `1:n`"
https://discourse.julialang.org/t/why-is-eachindex-faster-than-1-n/13366

We might be able to take advantage of this in vertices.

~~I'll try to get to some benchmarks later, but I'm stuck trying to fix SimpleWeightedGraphs today.~~

@somil55 will be testing this :)

[2018-08-13 19:34] sbromberger commented on #938
I'd prefer to see this take an `AbstractPathState`.

[2018-08-14 16:15] sbromberger commented on #985
@BoundaryValueProblems - we're working on this. sorry for the delay.

[2018-08-14 16:53] m4rku5-5 opened #990 "LightGraphs.Parallel on Julia 1.0.0"
I'm trying to use the parallel version of LightGraphs diameter method with Julia v1.0.0 (stable release from the homepage). Below is a minimum working example.

[code]

When executing this, then I'm getting this beautiful error:

[code]

Am I missing something or did I just found a bug? Thanks in advance.

[2018-08-14 17:12] sbromberger commented on #990
Yes. You have to `addprocs` before `using LightGraphs` so that the module is loaded on the remotes. This works:
[code]

(The diameter of an empty graph currently gives an error due to `infinite path length detected`; we might want to change this for the corner case but it's unrelated to this specific issue.)

[2018-08-14 17:12] #990 closed

[2018-08-15 22:13] bovine3dom commented on #983
I've left this for a while in the hope that I'd come up with a better name for `count_unique_isomorphs`. I don't think I have. Perhaps `distinct` is slightly better?

I think I would prefer it as a flag for both operations as there are a very large number of functions already.

[2018-08-15 22:27] bovine3dom commented on #982
Another benefit to this kind of interface is that we can have mutating versions of the functions, such as `collect!(p,alg)`, which could store the results somewhere in `p` making subsequent calls to, e.g. `count` quicker.

When I thought of these `!` versions a few minutes ago I thought it was a great idea, but now I am less sure. There's probably some non-trivial use case where it does make sense

[2018-08-16 16:17] bovine3dom opened #991 "Zenodo out of date"
The [Zenodo page](https://zenodo.org/record/1297490) points to an old release of LightGraphs.

It seems quite straightforward to set up a web-hook so that the process is automatic - https://guides.github.com/activities/citable-code/. If you had already set that up in the past, it is plausible that it broke when the `JuliaGraphs` organisation was created.

[2018-08-17 12:31] jpfairbanks commented on #982
As represented as a table

|function|Description|
|--------|-----------|
|any| is there a match |
|count| how many matches |
|enumerate| iterate over a sequence of matches |
|**Type** | **Description** |
|IsomorphismProblem | Is there a bijection between vertices of `V(g)` and `V(h)` preserving all edges |
|InducedSubgraphIsomorphismProblem | Subset `g'` of vertices of `g` so that `g'` is isomorph

[2018-08-18 22:38] sbromberger commented on #991
@bovine3dom - yeah. The update process has failed for months, but definitely after the JuliaGraphs migration. If you have any ideas on how to fix this, I'm all ears.

[2018-08-19 08:27] bovine3dom commented on #991
I can't find any information about how to deal with a migrated repository.

Zenodo's FAQ https://help.zenodo.org/ suggests

If that ends up giving you a second DOI I think my next guess would be to make sure the webhook on GitHub (which lives [here](https://guides.github.com/activities/citable-code/webhook-view.png)) points to the right (i.e old) place.

If that didn't work I'd give up and file a

[2018-08-19 19:36] sbromberger commented on #991
Zenodo's been down for a while due to database failure, so I can't check it now anyway, but I've opened up multiple tickets and they haven't been able to fix it.

[2018-08-19 19:36] sbromberger commented on #989
Closed via #992

[2018-08-19 19:36] #989 closed

[2018-08-21 01:17] jpfairbanks opened #996 "TransposeGraph for Lazy Transpose"
We could support lazy transpose of a graph by switching in and out neighbors. This would be useful for users where you want to look at some algorithms that assume the edges are oriented one way and some algorithm which assumes the edges are oriented the other way.

https://docs.julialang.org/en/stable/stdlib/LinearAlgebra/#Base.transpose

If anyone thinks that a `TransposeGraph{G}` type would be u

[2018-08-21 01:34] simonschoelly commented on #983
I we use the proposed interface, then we could have a flag in the constructor of the problem that indicates if we are are interested in grouping the automorphisms of `g2` together, i.e we could have
[code]

[2018-08-21 01:41] simonschoelly commented on #982
I think `enumerate` is not the best name, as it already has some kind of purpose in the Julia library. That is, we have
[code]

Is `TopologicalIsomorphismProblem` referring to topological graph minors?

[2018-08-21 01:53] simonschoelly commented on #996
A while ago, I started creating a Julia package that does graph operators lazily.
If you want to have a look at that: https://github.com/simonschoelly/ImplicitGraphs.jl
What you would call `TransposeGraph` is called `ReverseImpDiGraph` here.
I haven't worked on it for a while but I think it still should be able to run on 1.0

[2018-08-21 03:11] sbromberger commented on #996
Wouldn't this just be a `SimpleWeightedGraph` with an extra field that denotes the transpose?

[2018-08-22 00:35] sbromberger commented on #996
Because it's already using sparse matrix transposes (well, `permutedims`):

[code]

[2018-08-22 07:27] skleinbo opened #997 "Add constructor `SimpleGraph(::SimpleGraph)`"
`SimpleGraph(g::SimpleGraph) = copy(g)`

The analogous constructor exists for `SimpleDiGraph`.

[2018-08-22 14:44] sbromberger commented on #997
I swear I had this in some PR. I don't know what happened.

[2018-08-22 15:47] sbromberger commented on #997
Closed via #998

[2018-08-22 15:47] #997 closed

[2018-08-24 09:12] ChrisRackauckas commented on #985
32-bit tests are passing in https://github.com/JuliaGraphs/LightGraphs.jl/pull/999 . It is a bit more complicated than making everything `Int` since overflow seems to be possible as indicated by some failing accuracy tests, so there are some hardcoded default upconversions to `Int64` in that PR in places which are required. In addition, the `splitrange` issue is a bad interaction in the Julia stdl

[2018-08-24 14:33] jpfairbanks commented on #982
I agree on enumerate. maybe we just implement the iterator interface and then `collect` and `enumerate` would work as expected.

Yes I was thinking of topological graph minors. I guess you wouldn't call that an isomorphism, `TopologicalMinorProblem` would work there too.

[2018-08-24 15:51] sbromberger opened #1000 "docs for graph generators are broken"
See, e.g., http://juliagraphs.github.io/LightGraphs.jl/latest/generators.html#Graph-Generators-1

[2018-08-24 15:52] sbromberger commented on #991
I sent another ticket and am awaiting a response. It usually takes a couple of weeks.

[2018-08-29 23:06] sbromberger commented on #1000
Closed via #1003.

[2018-08-29 23:06] #1000 closed

[2018-08-30 19:50] BoundaryValueProblems commented on #985
@ChrisRackauckas and @sbromberger , I just want to point out that the current master branch still gives me one error on my 32 bit linux machine as I reported at https://github.com/JuliaGraphs/LightGraphs.jl/pull/999#issuecomment-416012707
Thanks for your help!

[2018-08-31 15:36] ChrisRackauckas commented on #985
This should fix it https://github.com/JuliaGraphs/LightGraphs.jl/pull/1004 , but it's hard to test since CI doesn't have 32-bit Linux. Can you test that PR locally?

[2018-08-31 18:32] BoundaryValueProblems commented on #985
@ChrisRackauckas , I just tested it, and it worked, i.e., the test passed without any error! Thanks a lot!!

[2018-09-06 14:46] simonschoelly commented on #982
From looking at the cycle algorithms, I think these might also be a good fit for such an interface.

[2018-09-07 22:46] sbromberger commented on #991
Update: received a response:

I responded that it's ok to proceed, and that we'd be fixing the .json issue for a go-forward solution.

[2018-09-09 23:38] sbromberger opened #1010 "Proposal: move default graph persistence to graph6 from custom LG mode"
Right now, our default persistence model is basically an enhanced edgelist (see https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/src/persistence/lg.jl for the format specification). The default is to compress this edgelist using `CodecZlib`, which introduces a binary dependency.

My proposal is to replace the default persistence model for SimpleGraphs and SimpleDiGraphs with the [Graph6](

[2018-09-11 00:57] sbromberger commented on #991
All fixed! Previous versions will be fixed by Zenodo over the coming week or so. Thanks for bringing this up.

[2018-09-11 00:57] #991 closed

[2018-09-19 11:41] simonschoelly opened #1015 "Internal function eigs fails if there are no eigenvalues"
In some cases `ArnoldiMethod.partialschur` fails to converge and then does not return any values. In that case, `LightGraphs.LinAlg.eigs` tries to access a vector of size 0.

Here is an example. Why `partialschur` fails to converge on zero matrices is another issue..
[code]

[2018-09-19 12:54] sbromberger commented on #1015
Cc @jpfairbanks @haampie

[2018-09-21 17:52] SimonEnsemble opened #1020 "Add properties to edges?"
I need to store graphs that have edges:

[code]
and I need `add_edge!(graph, Edge(1, 2, (1, 0, 0)))` and `add_edge!(graph, Edge(1, 2, (0, 0, 1)))` to actually add two edges to a directed graph that are considered different even though source and destination are the same. But walking through the graph to find cycles, that should depend on the source `src` and destination `dst` only, as in the usual

[2018-09-21 18:12] simonschoelly commented on #1020
I think what you want is called a multigraph (a graph that can have multiple edges between the same set of vertices). `LightGraphs` currently does not have something like that. I see two ways of faking something like that:
1) Using `MetaGraphs`, attach a vector as a property to each edge. Then in the property associated to each edge you would track the multiple instances of that edge, i.e in your

[2018-09-24 17:32] bovine3dom commented on #982
Has anyone been working on this? I have some spare time tomorrow so I was thinking of looking into it.

[2018-09-24 18:05] SimonEnsemble commented on #1020
@simonschoelly Thank you, idea #2 is very clever!

So in my example above, instead of:
[code]

I create artificial vertices which each have a property associated with them:
[code]
and so now I can look for simple cycles and these simple cycles will involve the same sequence of 'real' vertices, just that the artificial vertices will be every other step along the cycle.

[2018-09-24 18:05] #1020 closed

[2018-09-29 19:20] kadir-gunel opened #1028 "Creating Neural Network Graphs"
Hello,

I am trying to draw a simple RNN image. Is it possible to draw reflexive edges by using LightGraphs ?

B.R.

[2018-09-29 19:40] sbromberger commented on #1028
If you mean graphs with self loops, in general, yes - those are representable in LG but not all analytics will work.

There is an open issue in GraphPlot, the visualization package, dealing with self loops. You might check over there for the latest status.

[2018-09-29 21:30] adamglos92 opened #1029 "multilayer network"
Hello,
Is there any implementation multilayer networks (or multiplex, hypergraph, etc.)? I would really appreciate such.

[2018-09-29 23:07] sbromberger commented on #1029
Unfortunately not natively. You might be able to cobble something together using metagraphs though.

[2018-09-30 21:06] sbromberger commented on #1029
Closing this out, but feel free to continue discussion here, or on Discourse.

[2018-09-30 21:06] #1029 closed

[2018-09-30 21:07] sbromberger commented on #1028
Hey @kadir-gunel , I'm cleaning up open issues today and will close this out. If you have any other questions, please don't hesitate to continue here or on Discourse. Good luck!

Seth.

[2018-09-30 21:07] #1028 closed

[2018-10-01 07:40] adamglos92 commented on #1029
It should be sufficient for multiplexes, as in each node I can have a additional graph defined over the layers. As right know it is more than enough for me, I am satisfied with that. Thanks!

Just in case, if the code would be good enough, will You be interested in including it into JuliaGraphs?

[2018-10-01 12:46] sbromberger commented on #1029
We are always open to new functionality. This sounds like a good addition. You should start thinking now about whether you will be able to maintain the code / repo in the long term. If so, it makes this a much easier decision. (We need to make sure all JuliaGraphs code is maintained / maintainable.)

[2018-10-02 07:48] mcognetta opened #1030 "Adding new graph generators"
As (very briefly) discussed on Slack, there are several graph generators present in [NetworkX](https://networkx.github.io/documentation/networkx-2.0/reference/generators.html) and [SageMath](http://doc.sagemath.org/html/en/reference/graphs/sage/graphs/graph_generators.html) that are not in LightGraphs.

This issue is to facilitate progress towards adding new graph generators to LightGraphs (note t

[2018-10-02 14:19] simonschoelly commented on #1030
Some of these suggestions are quite easy to implement with what we already have in LightGraphs, but maybe not as efficient as possible, so you could improve that:

[code]
The `Dorgovtsev-Goltsev-Mendes` graph sounds quite interesting, in case we will add some planarity algorithms one day.

[2018-10-03 06:40] mcognetta commented on #1030
It seems there are two definitions of the `Dorogovtsev-Goltsev-Mendes` graph, one random and one deterministic.

- Random: https://arxiv.org/pdf/cond-mat/0106144.pdf - page 24 (this one should probably only be called `Dorogovtsev-Mendes`)
- Deterministic: https://arxiv.org/pdf/cond-mat/0112143.pdf - page 1 (this one may be called `Dorogovtsev-Goltsev-Mendes` or `pseudofractal`)

[2018-10-04 00:50] jpfairbanks commented on #1030
I think all of these are great additions.

Also, @mcognetta, go jackets 🐝

[2018-10-04 06:02] simonschoelly opened #1035 "Function transitiveclosure could be faster"
The algorithm that we have at the moment is quite slow. We should implement the algorithm that they use for the Boost Graph Library [1] as this one is much faster. It works similar to the algorithm that we already have for the function `transitivereduction`.

[1] https://www.boost.org/doc/libs/1_68_0/libs/graph/doc/transitive_closure.html

[2018-10-04 06:05] simonschoelly opened #1036 "Function edit_distance should consider edge costs."
Right now, `edit_distance`, does not consider edge costs. This makes this function useless, as the outcome does not in any way depend on on what edges the two graphs have.

[2018-10-05 09:33] oxinabox opened #1037 "define `convert`er for graph types?"
I was trying to workout how to convert a `SimpleWeightedGraph` into a `SimpleGraph`.

I expected
`convert(SimpleGraph, myweightedgraph)` to work

but no such method exists.

What I ended up doing was `SimpleGraph(adjacency_matrix(myweightedgraph))`

Which seems like it should generally work.

[code]

Or something like that?

And then the reverse could be defined too in SimpleWeightedGraphs.jl

[2018-10-05 16:01] sbromberger commented on #1037
[code]

[2018-10-05 16:21] oxinabox commented on #1037
Yes, so adding that as a `convert` overload

[2018-10-05 16:39] sbromberger commented on #1037
There's a bit of a gotcha there with explicit zeros in SWGs though: they'll be counted as edges. I'm not sure I'm in favor of a `convert` or a constructor at this point.

[2018-10-05 17:00] oxinabox commented on #1037
`convert`   falls back onto constructers, right?

Thing feels more like a conversion than a construction.
Idk if this is a reasonable rule of thumb but saying

"I am converting this weighted graph into an unweighted graph"

Than

"I sm contructing a new unweighted graph, based on this weighted graph"
I feel more natu

[2018-10-05 17:03] sbromberger commented on #1037
Convert is not standard within LightGraphs. We typically construct new graphs from different graph types. Conversion implies no loss; there is definitely a loss here as we're removing metadata.

If we add this – and I'm still not yet in favor – then it belongs in SimpleWeightedGraphs in any case.

[2018-10-05 18:39] jpfairbanks commented on #1037
I'm generally not clear on when to use a constructor and when to overload convert. What is the pro/con for that one decision?

We should definitely provide a constructor for SimpleGraph from every other AbstractGraph type.

I think the better fallback would be
[code]

And graph types that are matrixlike, for example SimpleWeightedGraph could use your `SimpleGraph(adjacency_matrix(g))` approach.

[2018-10-05 18:41] sbromberger commented on #1037
My opinion is that `convert(typeof(b), convert(typeof(a), b)) == b` is axiomatic. That doesn't work here.

I do not agree at this point.

[2018-10-08 06:28] oxinabox opened #1041 "define `weight(::AbstractEdge)` here?"
It seems that `weight` is only defined for `AbstractWeightedEdge`,
But `weights` is defined for `AbstractGraph`.

It seems like `weight` should be defined to be consistent with `weights`.

[2018-10-08 10:43] oxinabox opened #1043 "Function to delete a bunch of vextexs at once"
`rem_vertex!` can remove 1 vertex.
Which is fine.

But if you want to remove more than one vertex then it is really annoying to do so.
Since the ids will all change every time you remove one.

[2018-10-08 10:47] oxinabox commented on #1043
I am currently using code like

[code]

Output:
[code]

[2018-10-08 11:00] simonschoelly commented on #1043
Probably not the solution you are looking for, but you could just build the subgraph of non-isolated vertices. Something like
[code]
A `rem_vertices!` function might still be nice - we also have an `add_vertices!` function

[2018-10-08 11:27] oxinabox commented on #1043
Nice, I didn't know indexing did that.

[2018-10-08 12:08] sbromberger commented on #1041
I'm not sure what you're looking for. `weights` defaults to `DefaultDistance` for graphs that do not support weighted edges, or you can pass in a "matrix-like" to any algorithm (e.g., Dijkstra) that can use weights.

[2018-10-08 12:09] sbromberger commented on #1043
The proper way to get rid of a bunch of vertices at once is to use induced subgraphs, as @simonschoelly shows.

[2018-10-08 12:54] #1043 closed

[2018-10-08 13:02] sbromberger commented on #1037
Why? The idea is that every algorithm in LightGraphs should work with any graph `<: AbstractGraph`. I can't think of any use case where it's desirable to create a `SimpleGraph` once you have another type. (Perhaps if you don't care about the metadata any more?)

That said: If there's an easy way to do this universally, then I'd be open to reviewing a PR. But my opinion is that there are way too ma

[2018-10-08 16:01] juliohm commented on #1036
Indeed, it would be nice to have this in addition to the vertex costs :+1:

Please let me know if you have any questions about the current implementation, and I can try take a look at it again. It is been a while.

[2018-10-08 16:16] sbromberger commented on #1036
@juliohm I was confused by the result of

[code]

[2018-10-08 16:39] juliohm commented on #1036
@sbromberger you mean that it should give 0 distance? I will review the algorithm in the book, it may be a corner case that we are missing.

[2018-10-08 16:49] sbromberger commented on #1036
I’m not sure what it should return. The graphs are identical except for an edge between 1 and 5.

[2018-10-08 17:18] juliohm commented on #1036
The second output of the algorithm is a sequence of vertex operations to convert the first graph into the second. Let's do a few examples to illustrate this.

[code]
Imagine that graph `g` is made of blue vertices, and graph `h` is made of red vertices. The edit path to convert `g` into `g` is trivial. We just need to replace each vertex by itself, one by one. Now, the edit path to convert `g` int

[2018-10-08 17:32] sbromberger commented on #1036
I’m a bit confused then. Since LG vertices are a `1:n` range, can’t edit distance (at least as currently implemented) simply be derived from the difference in the ranges’ upper bounds? That is, if edges aren’t taken into account, then it’s just up to the vertex set.

What am I missing?

[2018-10-08 18:09] juliohm commented on #1036
@sbromberger the edit path is a function of the cost functions we specify. The sequence of edit operations with minimum cost is not only about counting the number of vertices, the cost functions can be more complex than the default constant cost functions. For example, we can say that it is much more expensive to replace 1 by 10 than it is to replace 1 by 2.

Adding the edge costs like proposed in

[2018-10-08 19:53] simonschoelly commented on #1043
The problem with the induced subgraphs that we have right now, is that they copy the graph which for large graphs uses a lot of memory. I see a legit use case for a function `rem_vertices!`: A user loads or creates a large graph and then removes all the vertices that they don't need, such as isolated vertices or vertices that do not belong to the largest component.

We even could have a flag `rem_

[2018-10-08 20:28] sbromberger commented on #1043
PRs welcome.

[2018-10-09 16:56] SohamTamba opened #1046 "Cache-Efficient Parallel BFS"
Serial BFS is optimised using a `bitArray` instead of a `Vector{Bool}` to represent the `visited` array and hence, reduce the number of cache-lines to store the array.

This is not possible for parallel implementations as modifying a `bitArray` is not thread-safe. I thought I found a work around for it but there doesn't seem to be much performance improvement for the parallel implementation. The i

[2018-10-09 17:02] sbromberger commented on #1046
That’s a 15% improvement in serial, and it will likely improve with larger graphs. If you can post the benchmark code I can run it locally on large graphs and will report back.

[2018-10-09 17:28] SohamTamba commented on #1046
Thanks

Here's the [code](https://gist.github.com/SohamTamba/c3a4578bbd07dc2d9034992117422347).

It creates a graph `static_scale_free(10000000, 1000000000, 3)`.

While benchmarking, I created the graph only once and stored it on the disk.
You might want to do the same.
There's a `load(TT)` function in the script but you could probably use `GraphIO` instead.

Make sure to set the value of `nthread

[2018-10-10 15:04] oxinabox commented on #1041
The fact that `weights(g::SimpleGraph)` is basically  `fill(1, (nv(g), nv(g)))`  (without bounds checking)
is also pretty surprising.

I really expected
`weights(g::SimpleGraph) == adjacency_matrix(g)`

It is really weird to me that in the matrix form for edges that **don't exist** in a `SimpleGraph`, have weight `1`.
But in a in a `SimpleWeightedGraph` they have weight `0`.

I thought using `weig

[2018-10-11 16:40] jpfairbanks commented on #1041
I see why you would think that the weights of an AbstractGraph should be the adjacency matrix. The idea is that you wouldn't iterate over weights(g), but would iterate over the graph with `edges(g)` or `neighbors(g,v)` and then index into weights(g) to get the appropriate weight.

For your code that wants to use `weight(e::AbstractEdge) = 1` can you define your method locally?

[2018-10-11 17:36] sbromberger commented on #1041
Another idea is to simply do `adjacency_matrix(g) .* weights(g)`.

[2018-10-12 16:02] sbromberger commented on #1041
We can certainly put something like

[2018-10-12 16:16] sbromberger commented on #1041
ref #1048

[2018-10-12 16:48] sbromberger commented on #1041
Closing via #1048.

[2018-10-12 16:48] #1041 closed

[2018-10-12 17:20] sbromberger commented on #1015
This appears to still be an issue.

[2018-10-12 19:02] sbromberger commented on #1015
The above exercises it, I think:
[code]

[2018-10-12 23:58] jpfairbanks commented on #1036
Can we define a useful an edge cost function to add as an option?

Also this discussion would make a good notebook documentations.

[2018-10-15 22:41] #789 closed

[2018-10-19 09:39] simonschoelly opened #1061 "Feature request: Eulerian trails and circuits"
I surprised that LightGraphs doesn't have that yet. Should no be to difficult to implement.

[2018-10-19 20:52] #938 closed

[2018-10-19 22:01] Shushman opened #1062 "Strange error with loadgraph?"
With the latest versions, running the following script:
[code]

I get the following error:
[code]

[2018-10-19 22:14] simonschoelly commented on #1062
I looks like LightGraphs/SimpleWeightedGraph is unable to detecet the correct graph type and tries to load a graph without weights. I think that might be a bug. In the meantime, you can use `gprime = loadgraph("testgraph_1.lg", SWGFormat())` to load your graph, that seems to work.

[2018-10-21 06:28] SohamTamba commented on #996
Just a thought: It would be more efficient to represent `CompleteGraph{T}(n::Integer)` as
`Complement( SimpleGraph([Edge{T}(v, v) for v in OneTo(n)]) )` rather than the current method.

Also, efficiency of `neighbours(g::complement(type_G))` it would be much better if `neighbours(g::type_G)` returns integers in a sorted order. The implementation would look something like

[code]

Is it possible to

[2018-10-26 17:10] vgauthier opened #1066 "Function modularity should consider directed graphs"
The definition of the modularity could easily be extended to directed graphs (cf. ref. [1]) with minor tweak of the original algorithm.

[1] E. A. Leicht and M. E. J. Newman. Community structure in directed networks. Physical Review
Letter, 100:118703, 2008. ([PDF](https://arxiv.org/pdf/0709.4500.pdf))

[2018-10-26 18:34] jpfairbanks commented on #1066
This would make a good hacktoberfest PR.

[2018-10-28 13:41] simonschoelly commented on #1066
Would it be a good idea to also add optional weights to this algorithm?

[2018-10-28 13:57] vgauthier commented on #1066
I would be nice addon indeed, but LightGraphs is not suppose to handle weighted graphs right ?

How do you propose to handle the weighted case: by the SimpleWeightedGraphs or by passing an array of weights to the function ?

[2018-10-29 13:51] jpfairbanks commented on #1066
You would take a keyword argument with the weights which would default to weights(g).  For SimpleGraph the weight(g) is a struct that represents the matrix `ones(Int, nv(g), nv(g))`.

[2018-10-29 13:53] vgauthier commented on #1066
I am almost done with the implementation of the modularity for directed and weighted graphs. However,
for the weighted case I need to compute the sum of the weight of a graph. This operation is okay when I use ``SimpleWeightedGraph``

[code]

However when I do the same operation with ``SimpleGraph`` I get a weird answer (the sum of a matrix where all elements are equals to 1) instead of getting a

[2018-10-29 14:02] jpfairbanks commented on #1066
yeah that is the expected behavior. It is a little non-intuitive, but the idea was that you are only supposed to use `weights(g)[u,v]` for known edges in `g`. We might want to override the definition of sum for that struct.

[2018-10-29 20:23] vgauthier commented on #1066
@jpfairbanks okay, thanks for the explanation. I finished the implementation of the modularity for directed and weighted case. Do you want me to open a new PR or update the PR I already opened about the modularity ?

[2018-10-29 20:26] jpfairbanks commented on #1066
I just reviewed the other PR. I'll merge it into master and then you can base your new PR against master.

[2018-10-31 06:09] sbromberger opened #1069 "Code coverage down to 66%"
Likely related to https://github.com/JuliaLang/julia/issues/28192

Also ref https://github.com/JuliaCI/Coverage.jl/issues/187

[2018-11-02 15:27] Stachu270 opened #1070 "erdos_renyi(n, p) method runs forever when p = 1.0"
It would be great to have an ability to perform erdos_renyi function with p=1.0.

[2018-11-02 15:34] simonschoelly commented on #1070
Well that's just a complete graph. But I have to agree, that this should not happen. I have some improved (faster!) Erdos-Reniy functions for LightGraphs, but they ready for a pr yet. If it is important to you, I can work on them.

[2018-11-02 17:20] Stachu270 commented on #1070
It is not really important to me. Just fount it while doing some assignment and thought that there is no reasonable explanation why it should not work.

[2018-11-02 19:16] jpfairbanks commented on #1070
The problem is almost certainly a corner case for this loop. https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/src/SimpleGraphs/generators/randgraphs.jl#L97

We didn't think to test `er(n,1)` because it is `CompleteGraph(n)`

[2018-11-09 10:31] #1066 closed

[2018-11-23 22:35] bovine3dom commented on #982
I was even working on this yesterday - https://github.com/bovine3dom/LightGraphs.jl/tree/problem-interface : )

Don't look at that branch unless you want to see a lot of commented out code.

[2018-11-23 23:43] simonschoelly commented on #982
Some premature code review:
Stuff such as `(typeof(problem) == IsomorphismProblem ` could be replaced with `problem isa IsomorphismProblem`

Also you seem to replace structs such as `struct SubGraphIsomorphismProblem <: GraphMorphismProblem end` with structs that have actual data. This is a bit of a problem with the vf2 algorithm, because the recursive algorithm copies this structure for every fun

[2018-11-24 00:29] bovine3dom commented on #982
Ah, I thought that typeof stuff was a bit ugly. Thanks.

I'll look into the copying.

The stack overflow is perhaps my fault from the previous refactoring -

[code]

If the second line doesn't find a more specialised function it will just hammer itself. Which seems like poor design on my part - you'll only get a stack overflow if you try to use an broken implementation of the interface, but it isn

[2018-11-26 23:08] jpfairbanks commented on #1070
[code]

makes sense to me, I would also be fine with

[code]

because p>1 could only mean CompleteGraph or error, and I would rather not error when the right answer is unambiguous. I guess that is the WWW philosophy of robustness https://en.wikipedia.org/wiki/Robustness_principle.

[2018-12-02 17:47] sbromberger commented on #1070
Yeah, I agree with not erroring on > 1.0. Let me propose a PR today.

[2018-12-02 23:19] #1070 closed

[2018-12-03 00:01] sbromberger commented on #1069
still problematic.

[2018-12-03 01:14] sbromberger commented on #1069
See #1073

[2018-12-07 17:56] ChamanAgrawal commented on #1061
Hi! I am new to Julia, This issue seems interesting to me and I wanted to start my Julia journey with this. Can I work on this? Any advice?

[2018-12-07 18:35] sbromberger commented on #1061
@ChamanAgrawal :
- In general, you may work on any open issue you'd like! We welcome all contributors, especially new ones.
- Please read through [the contributor guide](https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/CONTRIBUTING.md) and make sure you understand it. Feel free to ask any questions; we're a pretty friendly bunch. We also hang out on Slack, in the #graphs channel.
- Open u

[2018-12-09 11:37] ChamanAgrawal commented on #1061
I am working on this.

[2018-12-10 17:13] #1035 closed

[2018-12-12 00:50] mcognetta commented on #1030
(So this doesn't get closed) I will add the last two on this list in the next day or so.

[2018-12-12 03:00] jpfairbanks commented on #1036
@juliohm, how are things in Rio? Stalebot bumped this today.

[2018-12-12 08:53] juliohm commented on #1036
Life is good James! Thanks for asking. :) Working on some new features for
GeoStats.jl but can try find time to extend the edit distance next week. If
anyone wants to work on it please go ahead.

Cheers,

On Wed, Dec 12, 2018, 01:01 James <notifications@github.com wrote:

[2018-12-12 19:02] ChamanAgrawal opened #1079 "degree() returns incorrect value in case of self-loops"
[code]
But the desired result is 2.

[2018-12-12 20:39] sbromberger opened #1080 "proposal: Add LoopyGraph type and deprecate self-loops in SimpleGraph."
This has come up because #1079 results in a fix that changes a basic measurement, `degree`, from O(1) to O(log(deg)), just so we can return the correct results for undirected graphs with self-loops.

Self-loops also add inefficiency to `adjacency_matrix`.

The original impetus for adding them was a request from the QuantEcon folks, but I don't think they ever used this functionality.

It arguably

[2018-12-12 20:57] jpfairbanks commented on #1080
Well it would definitely be a 2.0 release if we got rid of self loops.

[2018-12-12 21:00] sbromberger commented on #1080
If we decide *not* to get rid of self-loops, then we need to make an effort to make them first-class citizens.

[2018-12-12 21:06] jpfairbanks commented on #1080
Yeah, I'm not sure that degree should be 2 for vertices with self loops. That would break the invariant

`degree(v) == length(neighbors(g, v))`. Maybe we have a new function `loopdegree(g,v)` which takes log(degv) time and gives the right answer.

[2018-12-12 21:08] sbromberger commented on #1080
so, `adjacency_matrix` treats self-loops with entry `2`, and Wikipedia (yeah, I know, sue me) [has this to say](https://en.wikipedia.org/wiki/Loop_(graph_theory)):

[2018-12-13 13:07] jpfairbanks commented on #1080
Does it make sense to have

[code]

Then `LoopyGraph` will take the loops as first class citizens and get the degree and everything else right.

And `SimpleGraph` doesn't have to worry about it. We can still allow them in `SimpleGraph`, in order to avoid breaking the API, but the degree will be the +1 for a loop in a `SimpleGraph` and +2 in a `LoopyGraph`. Our API contract around loops in `SimpleG

[2018-12-13 15:38] sbromberger commented on #1080
I was thinking about a separate graph type for self loops and came up with a similar data structure (I was thinking `L` could be a bitset or a standard set; we'd need O(1) membership check), but it doesn't  solve the underlying issue that self-loops are tolerated but second-class citizens in `SimpleGraph`s.

Adding this type will help in some ways but will sow confusion in others. If we do this th

[2018-12-13 18:22] jpfairbanks commented on #1080
I think we can

1. Deprecate Self Loops in SimpleGraph
2. Add `LoopyGraph{G,L}`
3. Update the docs to include the deprecation and new type
3. Tag a new minor version

Then when we are ready to go for 2.0, we can make self loops in `SimpleGraph` an exception.

On the choice of `L`, I think it makes sense to leave that generic because some users will have graphs with mostly no loops, and some with h

[2018-12-14 13:13] #1037 closed

[2018-12-14 16:31] jpfairbanks commented on #1080
I'll edit the title to reflect this consensus.

[2018-12-15 19:12] #1046 closed

[2018-12-18 09:45] simonschoelly opened #1083 "New Feature: Line graphs"
Here is a proposal for people looking for issues to work on.
It would be great, if LightGraphs had support for [line graphs](https://en.wikipedia.org/wiki/Line_graph).

##### Things to do:
In a first step, one should implement a function `linegraph` that creates a line graph from undirected and directed graphs. There should also be an option for getting the mapping from the new vertices to the old

[2018-12-18 14:40] jpfairbanks commented on #1083
I agree this would be a good idea. This is a perfect opportunity for an "implicit graph" implementation. By that I mean, you can construct a type that represents the linegraph, but only uses storage for the original graph.

[2018-12-18 22:44] #1015 closed

[2018-12-19 13:53] abhinavmehndiratta commented on #1083
I implemented a function linegraph but under what directory should it go

[code]

[2018-12-19 14:10] simonschoelly commented on #1083
Maybe `src/operators.jl`? Also consider if it would not be better to implement James suggestion instead.

[2018-12-19 14:18] jpfairbanks commented on #1083
if instead of calling `add_edge!` and creating a new graph, that for loop was an implementation of `edges(g::LineGraph{G}) where G<:AbstractGraph`, then you would have most of the implementation of

[code]

[2018-12-19 14:23] sbromberger commented on #1083
As brilliant as I think that suggestion is, I’m not sure what advantage it brings to add another struct to the mix. If we implement the function instead, I would like to see the `code_warntype` output to make sure it’s type stable.

I love James’ creativity but am I sure whether a new struct type would be understood and used.

We could also make a lazy variant of the function that provides an edge

[2018-12-19 14:37] jpfairbanks commented on #1083
The linegraph of a graph is bigger than the underlying graph, right?

If Linegraph(G) = (Vl, El) don't we have  |Vl| = |E| and |El| = |sum_i (degree_i choose 2)| or something?

I think the memory savings are worth it. Since all of the information is captured in the original graph.

[2018-12-19 16:17] sbromberger commented on #1083
The linegraph is indeed larger than the underlying graph (assuming a not-unresonably-sparse graph).

I guess my issue with the "lazy struct" (how perjorative!) is this: if you're creating a linegraph, presumably you want to *do* something with it, and you likely want to do more than one thing with it. Returning a larger graph via function is essentially "memoizing" the result; you can reuse the re

[2018-12-19 16:33] abhinavmehndiratta commented on #1083
I am new to julia.But does this mean writing seperate functions for directed and undirected graphs as the return type (i.e linegraph) will be different for both of them and so the function will not be type stable ?

[2018-12-19 16:38] sbromberger commented on #1083
Yes. Sometimes the compiler can infer the return type correctly, but many times it can't. The best way to do this is to create a "master function" that takes the graph/digraph `g` and an empty AbstractGraph `h`, makes sure the `g` and `h` are the same types, and then fills and returns `h` appropriately. Then you have two functions that take `g::::IsDirected` and `g::::(!IsDirected)` and use those

[2018-12-20 19:45] abhinavmehndiratta commented on #1083
Is this a right way to implement a lazy version of linegraph ?
[code]

[2018-12-21 08:56] matbesancon commented on #996
nope, will fix, a matter of finding the good design. I might give it a try during the winter holidays (next week-ish)

[2018-12-23 03:57] simonschoelly opened #1088 "Connectedness of directed graphs"
Currently `is_connected(g)` is equivalent to `is_weakly_connected(g)` if `g` is a digraph. The English Wikipedia on the other hand says, that for a digraph, `g` is connected if for every pair of vertices `(u, v)` there is either a path from `u`to `v` or one from `v` to `u`.
To make stuff more complicated, I can't find that definition anywhere else in the literature. But apparanently this concept i

[2018-12-23 04:22] simonschoelly opened #1089 "Articulation for directed graphs"
Right now, the function `articulation(g)` allows `g` do be a digraph. That is probably an error, as in PR #529 , `SimpleGraph` was replaced by `AbstractGraph` in a lot of places.

If we keep `articulation` for directed graphs, we should at least document what this exactly calculates. We could probably introduce functions for articulation points with respected to the different concepts of connectiv

[2018-12-23 15:59] sbromberger commented on #1088
There was a lot of discussion around this after #368. Paging @jpfairbanks.

[2018-12-27 16:08] #983 closed

[2018-12-28 17:26] orhanabar opened #1091 "Why can't we add label to the vertex and edges?"
It would be good if we can give vertex a label.
Also, add_vertex does not get any argument for vertex name(id) it creates it starting from one. Why can't we choose vertex id?

[2018-12-28 17:43] sbromberger commented on #1091
This is the way SimpleGraphs work. You might want to take a look at [MetaGraphs](https://github.com/JuliaGraphs/MetaGraphs.jl) if you need labels.

[2018-12-28 17:43] #1091 closed

[2019-01-02 16:11] sbromberger opened #1096 "Proposal: add custom types representing paths, walks, circuits, cycles, trails, ..."
per slack discussion. This could also pave the way for abstract types `AbstractPath` and `AbstractSubGraph` which might be useful later on.

[2019-01-02 16:16] sbromberger opened #1097 "Proposal: add BreadthFirst and DepthFirst types for use with other code"
`has_path`, etc. can use either BFS or DFS. It doesn't make sense to have separate functions for these.

[2019-01-02 23:44] simonschoelly opened #1103 "Documentation rem_edge!"
The documentation for `rem_edge! ` states the following:
[code]
In my opinion this is not true for `LightGraphs.SimpleGraphs`. Should we still keep that note in case some other package might error when a nonexisting edge gets removed?

[2019-01-03 15:17] jpfairbanks commented on #1103
Yeah. It might make sense to clarify that "the graph may be in an indeterminate state" is referring to the fact that the `AbstractGraph` API specification does not require ACID removals. It doesn't require Atomic, Consistent, Isolated, or Durable. SimpleGraph when used in serial programs is probably ACI but not D.

[2019-01-05 10:52] ChamanAgrawal commented on #1061
Bump, this issue is hanging due to #1080 , just wanted to know the status :)

[2019-01-10 17:12] simonschoelly opened #1106 "Iterative version of function articulation"
The function `articulation` is recursive at the moment which leads to stack overflows on large graphs.

For example this code gives a stack overflow on my computer.
[code]

[2019-01-10 22:17] ndinsmore opened #1107 "inneighbors and similar methods provide direct access to the node adjacency vectors"
Because methods like inneighbors provides effectively a reference to the node adjacency vectors, any operations on the graph can have strange side effects.

Imagine that want to remove all the inflowing edges of a given node... you would expect the following to work:
[code]
But strangely that ends up only removing every other edge.  With a little instrumentation, you can see why....  The for loop

[2019-01-11 00:21] sbromberger commented on #1107
This is documented in the docstrings:

[2019-01-11 14:08] ndinsmore commented on #1107
Fair enough, but I would read that as don't modify the array , not don't modify the graph.

[2019-01-11 15:07] sbromberger commented on #1107
If you’d like to propose a change to clarify the docs, I’d be grateful.

[2019-01-11 18:21] sbromberger opened #1108 "Add generic BFS / DFS traversal code that takes visitor structures"
In the old days, we had generic BFS / DFS code that you could pass visitor functions to, and you could then create your own traversal algorithms (like `gdistances`, for example) that would use BFS or DFS with custom state. Turns out in pre-1.0, this was very slow so we opted to create custom BFS implementations for specific functions.

@jpfairbanks suggests that performance may be improved post 1.

[2019-01-15 19:18] abhinavmehndiratta commented on #1106
A bit more optimized code -
[code]

[2019-01-18 17:37] sbromberger commented on #1030
Closed since all graphs have been implemented.

[2019-01-18 17:37] #1030 closed

[2019-01-22 11:29] AsileBcd opened #1114 "transitiveclosure for simple graphs"
Some time ago I added  `transitiveclosure` and `transitiveclosure!` to the library. These two functions are built for DiGraphs.

The equivalent for undirected graphs is missing, and as far as I can tell, looks like this.

[code]
It is simplified compared to the DiGraph version, as there is no need to look outside connected components. Otherwise it is almost a copy past of `transitiveclosure` for D

[2019-01-22 23:44] sbromberger opened #1116 "neighborhood and egonet functions broken."
The issue in a nutshell:
[code]

This is because
[code]

because
[code]

There's another  problem with `neighborhood_dists`:

[code]
![iterm2 orxhuc](https://user-images.githubusercontent.com/941359/51572989-5564ba80-1e5c-11e9-8b3c-622be178047c.png)

[code]

In any case, `neighborhood_dists` should only be unique vertices, and they should hold the minimum distance. This will result in `neighborhoo

[2019-01-22 23:50] jpfairbanks commented on #1116
Yes this is a problem. We have two questions for the solution.

Q1: What is the right answer mathematically?
A: `neighborhood(g, v, 3)` should be the set of vertices with dist <= 3 from v.

Q2: What is the right data structure to use for the return value of the function?
A: I think any iterable collection that contains every vertex in the set exactly once is a good candidate. This means that `sort

[2019-01-22 23:53] sbromberger opened #1117 "Go Forward direction: include an API guarantees section in docstrings"
Following a really great discussion with @jpfairbanks, I think it's important that we specify the API guarantees for each function in LightGraphs. This means, for example, when we have a function that currently returns a vector, but we really just want an iterable (for example, `neighbors()`), we can make the API guarantee that the function returns an iterable. This will allow us to change the ret

[2019-01-23 00:13] mcognetta commented on #1117
This would also be nice for the SimpleGraphs generators. I would be happy to help with it.

I have been working on a package for generic versions of the generators that we have implemented and having such guarantees would make testing much easier since the "indexing" of the graph would be guaranteed independent of the graph type.

[2019-01-23 03:09] AzamatB opened #1118 "Rename nv -> nvertices and ne -> nedges"
Would be more descriptive, and hence more Julian, IMO.

[2019-01-23 03:13] AzamatB commented on #1118
Also for consideration:
`all_neighbors` -> `allneighbors` (would be consistent with existing `inneighbors `, `outneighbors`)
`is_directed` -> `isdirected` (all methods in Base starting with `is` are written together)

[2019-01-23 04:49] sbromberger commented on #1118
1) `nv` and `ne` are pretty standard and are frequently used, so should be as simple as possible.
2) see https://github.com/JuliaGraphs/LightGraphs.jl/issues/828 for previous discussions on `*_neighbors` and `*_directed`.

[2019-01-23 04:59] sbromberger commented on #1118
See also https://discourse.julialang.org/t/naming-remove-all-underscores-to-matter-what/8549/59.

[2019-01-23 05:49] AzamatB commented on #1118
This convention seems rather arbitrary and hard to justify... IMO, In such situations it is best to follow [Julia's style guide](https://docs.julialang.org/en/v1/manual/style-guide/#Use-naming-conventions-consistent-with-Julia-base/-1), which is also arbitrary. But at least this way user has to remember only 1 random convention, instead of current situation where he has another random convention i

[2019-01-23 06:08] sbromberger commented on #1118
Our convention predates the style guide, I think, even if the formalization does not.

In any case, this would have to wait until our next major version, with a period of deprecation in between. We could consider it once we are closer to that point. I am not opposed.

[2019-01-23 10:50] juliohm commented on #1118
I agree with @AzamatB :+1: it would be nice to have the underscores gone.

[2019-01-25 21:48] simonschoelly opened #1119 "New Feature: Steiner Tree"
It would be nice, if we had an algorithm for computing Steiner-Trees. A description of the problem can be found here: [https://en.wikipedia.org/wiki/Steiner_tree_problem](https://en.wikipedia.org/wiki/Steiner_tree_problem).

The problem is NP-Hard, so there would also be the possibility of implementing an approximation algorithm or a parallel search.

Some solutions might use a linear programming

[2019-01-25 22:10] simonschoelly opened #1121 "New Feature: Counting the total number of triangles in a graph"
Right now, `LightGraphs` only has the ability to count the number of triangles in a neighborhood of a vertex `v`. with the function `triangles(g, vertices)`. Obviously we could then just calculate `triangles(g, vertices(g)) ÷ 3` but there should be a faster way to do that.
This problem is sometimes used in benchmarks such as the [GAP Benchmark Suite](http://gap.cs.berkeley.edu/benchmark.html). The

[2019-01-25 22:24] simonschoelly opened #1122 "New Feature: Randomly orient edges of graphs."
For benchmarking and testing graph algorithms we often need directed graphs, sometimes also ones without cycles.
While a directed Erdös-Renyi-graph could work in such a case, it has poor locality and has cycles. `LightGraphs` has some generators for graphs with certain properties, but these graphs are often undirected. It would therefore be nice, if we had some functions that would take a graph, a

[2019-01-25 23:20] jpfairbanks commented on #1122
These are interesting questions. Is there an existing literature on these problems. @sbromberger works with some people who have done serious thinking about counting directed cycles and their applications.

[2019-01-26 00:05] simonschoelly opened #1123 "New Feature: Adjanceny-matrix reordering algorithms."
Wikipedia can explain the bandwidth of a graph better than I: [https://en.wikipedia.org/wiki/Graph_bandwidth](https://en.wikipedia.org/wiki/Graph_bandwidth)
Reducing the bandwidth of a graph could possibly increase the speed of some algorithms because of better cache locality; but I cannot guarantee that it actually will, that is something that we have to try.

There are various algorithms for doi

[2019-01-26 00:14] jpfairbanks commented on #1123
I think should be a more general "Matrix reordering algorithms" issue. Reducing bandwidth is good for some algorithms and some sparsity patterns, but is not the most effective way to improve performance for sparse matrix algorithms.

[2019-01-26 00:22] simonschoelly commented on #1123
Alright, I changed the name. Hopefully the intent is still clear. If you know some better algorithms for reordering, you could maybe add them here - I'm mainly creating these issues so people interested in contributing to `LightGraphs` have something to do.

[2019-01-26 06:10] abhinavmehndiratta commented on #1121
For undirected graphs we could just calculate trace(A^3) / 6 where A is the adjacency matrix but that would use V^2 space is there a better solution ?

[2019-01-26 06:53] sbromberger commented on #1121
triangle counting is a hard problem on large graphs - that's why it's part of the [MIT Graph Challenge](https://graphchallenge.mit.edu/champions). Note that I work with Roger and Geoff; they're the ones that came up with the technique I referred to earlier.

[2019-01-26 07:38] abhinavmehndiratta commented on #1121
Oh I just looked at  _"Fast Triangle Counting Using Cilk"_  but I have limited knowledge regarding parallelism will have to read up on it

[2019-01-26 14:45] simonschoelly opened #1124 "Change fileformat of source files to linux/unix"
Some source files are stored in dos format instead of linx/unix format. This is not a big issue but it might result in some strange characters showing up when one uses `git diff`, as these formats use different kinds of line breaks.
I do not use windows, so it actually might be that for these people, dos format is better though.

One example of a file that is stored in dos-format is `src/cycles/jo

[2019-01-26 16:17] abhinavmehndiratta commented on #1123
I tried to implement the rcm algorithm , here -
https://github.com/abhinavmehndiratta/jupyter/blob/master/RCM.ipynb

[2019-01-26 17:45] simonschoelly opened #1125 "Exported symbols that are not defined"
`LightGraphs` exports some symbols that are not actually defined. One should check, if these symbols can be deleted or if they have the wrong name.

These symbols are:
[code]

In case of `MaximumAdjacency` and `nonbacktrack_embedding`, these are names are also mentioned in some comment or docstring, so maybe they should also be removed from there.

[2019-01-26 19:53] simonschoelly commented on #1121
It is usually best to avoid creating solutions that use V^2 space, as these will not work with large sparse graphs. Also, a first implementation does not have to be parallel, it would actually be good to have a sequential algorithm, so we can check if the parallel version is really faster.

[2019-01-26 20:03] simonschoelly commented on #1123
At one point you can create a PR with this code, that would make it easier to comment on your code. Here are some ideas:
- Maybe it would be sufficient if your algorithms outputs a permutation of the vertices as a vector. Then you can use `g[your_permutation]` to get the permutated graph.
- You could do some benchmarks now, to check if some algorithms are now faster with the permutated graph, for

[2019-01-26 21:36] simonschoelly opened #1127 "Proposal: Return NamedTuple instead of Tuple from functions"
In some functions, such as `label_propagation` we return two arguments in form of a `Tuple`. I would propose that we change that so that the return a `NamedTuple`. Then a user could write
[code]
or
[code]
instead of
[code]
where one would actually have to check the documentation of `label_propagation` to know, what actually happens.

The disadvantage of this is, that it might break some existing c

[2019-01-28 11:54] simonschoelly opened #1130 "adjaceny_matrix fails for certain arguments"
This seems to be a problem of choosing the wrong integer types.

[code]

[2019-01-28 16:43] sbromberger commented on #1127
I really like this idea.

[2019-01-28 20:37] abhinavmehndiratta commented on #1130
https://github.com/JuliaGraphs/LightGraphs.jl/blob/fbc6db0d5b77e463b78d347d7e6b7bfc0f844881/src/linalg/spectral.jl#L51
`colpt[nv(g)]` will be close to the number of edges in a connected graph and since colpt is of eltype(g) it cannot hold such a large value for all types.I think that might be the problem.

[2019-01-31 19:01] chethega opened #1132 "Interface / feature request: destructuring of edges"
It would be really convenient to write `src_vertex, dst_vertex = edge`, and likewise `for (u,v) in edges(g)`.

In order for this to work, we would need to add
[code]
and declare that the interface requires that edges destructure as source, destination, and then optional metadata. Weighted graphs people could just extend the method and use `i==3` and following for their own argument destructuring.

[2019-01-31 19:09] sbromberger commented on #1132
We had this before but ran into a few issues: specifically, what do we do with metadata and/or weights? Does this work only for `AbstractSimpleEdge`?

[2019-01-31 19:17] simonschoelly commented on #1132
We could either only do it for concrete types, then it is no problem at all and up to the developers of each packae.
Or we could get use `fieldnames` to get the names of the fileds.  Then we could write a generated function that does this.

[2019-01-31 20:16] bovine3dom commented on #982
I still think this is a good idea. It'll just take me a while to get around to it.

[2019-01-31 20:18] chethega commented on #1132
We can write this for `AbstractEdge`, and it will work for all `<: AbstractEdge` that don't specialize destructuring already. No need to go `@generated` or look at `fieldnames`.

Metadata / weight people can override for more destructured elements, as long as the first and second destructuring values are `src` and `dst` (which is pretty canonical, right?).

Specifying what comes in third or fourth

[2019-01-31 20:24] simonschoelly commented on #1132
You are right, we don't need to use `@generated`, we can use `getfield`, then we have
`indexed_iterate(e::AbstractEdge, i::Int, state=1) = (getfield(e, i), i + 1)`
Not sure yet, what `state` does.

[2019-02-01 00:03] chethega commented on #1132
No, we don't need `getfield`, we need exactly what I wrote: The first `indexed_iterate` gives the `src(e)`, the second `dst(e)`.

We do not want to know the memory layout of `AbstractEdge`; for all we know, some crazy person uses 14 bit `src`, 14 bit `dst` and 4 bits of flags, all packed into an `UInt32`, and implemented exactly our interface by extracting some bits and converting them to an integ

[2019-02-07 20:48] #982 closed

[2019-02-10 11:47] juliohm commented on #1036
A solution is being discussed in #1087

[2019-02-12 18:51] abhinavmehndiratta opened #1136 "Shortest path for unweighted graphs"
If i use BFS instead of Dijkstra it is much faster.It could be an addition for SimpleGraphs.
[code]

[2019-02-12 18:56] sbromberger commented on #1136
ref: #1077. It might be better instead to make this a version of Dijkstra's that works on unweighted graphs.

[2019-02-17 20:48] #1079 closed

[2019-02-18 21:55] chethega opened #1139 "Simd and generic interface"
It is not entirely clear from the documentation what `outneighbors(g::AbstractGraph, v)` must provide.

Especially bitmapped graphs can provide a fast iterator `outneighbors(g, v)`; but random access and `outneighbors(g, v)<:AbstractArray` is fundamentally impossible for bitmaps.

This conflicts with `@simd for vv in outneighbors(g, v)`: The `@simd` macro assumes that the iterator can provide the

[2019-02-19 10:24] chethega commented on #1139
An example implementation of bitmapped graphs that is incompatible with `@simd` usage in LightGraphs is https://github.com/chethega/BitmapGraphs

[2019-02-19 20:38] chethega commented on #1139
Ok. That was a failure on my side. Type-stable custom iterators that return `Int64` can opt out of the simd issues by defining
[code]
In theory that should be documented in `Base`; not sure whether the docs are lacking or I failed at RTFM. I apologize for spamming the tracker.

[2019-02-19 20:38] #1139 closed

[2019-02-20 08:37] abhinavmehndiratta commented on #1130
This should be easy to correct once https://github.com/JuliaLang/julia/issues/31024 is fixed.The only other option is to write a type unstable function or use only Int as colptr for all types.

[2019-02-23 07:47] simonschoelly opened #1142 "Add examples to documentation of graph generator functions."
The graph generators currently do have any examples in their docstring, but I think they should, at least the more complicated ones. These functions can be found in the files in the directory `src/SimpleGraphs/generators/`.

### Guidelines for examples:
These are some quick guidelines that I just invented.
* An example should serve as an alternative for the documentation.
* A users should be able

[2019-02-23 08:06] simonschoelly opened #1143 "Improve documentation for function isgraphical."
The docstring for the function `isgraphical` currently does not explain what it means for a degree sequence to be graphical and links to mathworld instead for an explanation.
This concept is not that difficult and should therefore be explained in one or two sentences directly in the docstring. A positive and negative example would also be helpful.

[2019-02-23 08:14] simonschoelly opened #1144 "Docstrings for function karger_cut_cost and karger_cut_edges contains a typos."
The functions can be found in the file `src/graphcut/karger_min_cut.jl`.

[2019-02-23 08:31] simonschoelly opened #1145 "Function length(g) returns incorrect values."
If `g` is a graph, then `length(g)` returns the number of entries (zero or not)  in the adjacency matrix of `g`. Unfortunately, the return type of `length(g)` is currently the same as `eltype(g)`. This leads to some unwanted behavior:

[code]
The reason is, that in the code we do `nv(g) * nv(g)` which overflows for `Int8`. An easy solution would be to convert `nv(g)` to `Int` before multiplying, s

[2019-02-23 09:04] simonschoelly opened #1146 "Tests for functions simplecycles, simplecyclescount, maxsimplecycles should test for different eltypes"
Currently the tests for the functions defined in `src/cycles/johnson.jl` do only test for graphs of eltype `Int`. We should loop over different eltypes and also test for these.
For that we have two helper functions `testgraphs` and `testdigraphs` that convert a graph to suitable eltypes that we want to test. For an example how that can be done, one can look at the tests defined in `test/cycles/kar

[2019-02-24 15:55] sbromberger commented on #1123
Sorry to jump in so late, but why are these algorithms unique to graphs and adjacency matrices? That is, RCM is a general matrix operation. It might have benefits to us in LightGraphs (?) but I would argue that it probably belongs in a different package altogether (like LinearAlgebra or SparseMatrices or ...)

I am open to persuasion. :)

[2019-02-24 15:57] sbromberger commented on #1145
More correct would be to use `widen`, I think.

[2019-02-24 17:28] simonschoelly commented on #1088
Can we revive this?

[2019-02-25 05:48] simonschoelly commented on #1123
The advantage is, that RCM (and other matrix reordering algorithms) can improve performance of graph algorithms as it improves locality, so caching performs better. I commented on some experiments on this #1128.

The inspiration for this issue actually came from the (Boost Graph Library)[https://www.boost.org/doc/libs/1_69_0/libs/graph/doc/table_of_contents.html] where they have several of these r

[2019-02-25 20:41] #1083 closed

[2019-02-26 10:13] #996 closed

[2019-02-26 13:20] dahtah opened #1151 "Wilson's algorithm for Uniform Spanning Trees"
I have an implementation of Wilson's classic algorithm for Uniform Spanning Trees that I can contribute, is there any interest in that?

[2019-02-26 17:04] ChamanAgrawal commented on #1146
I am working on this.

[2019-02-26 18:11] simonschoelly commented on #1123
Here is a benchmark, that shows how speed can improve by reordering the vertices:
[code]

[2019-02-27 12:06] ChamanAgrawal commented on #1146
On trying this
[code]
It gives error on all tests. The error on the first few is
[code]
Will this be because of the first argument to be of type Int64 ?

[2019-02-27 12:10] abhinavmehndiratta opened #1153 "Incorrect isgraphical"
[code]
This should return false.
Erdos-Gallai theorem requires the degrees are in descending order.The function does not check that.
Example -
[code]

[2019-02-27 12:41] adamglos92 commented on #1153
Another thing is that the algorithm can be improved in complexity
[code]

Output:
[code]
I haven't included sorting in order to compare it with the original definition.

[2019-02-27 12:41] adamglos92 commented on #1153
Please check the correctness of my code :)

[2019-02-27 13:05] abhinavmehndiratta commented on #1153
This seems correct, I was about to suggest the idea of storing prefix sum array initially instead of calculating each time.

[2019-02-27 14:15] adamglos92 commented on #1153
If I understand You correctly, you proposed to precompute the prefix sums with function similar to `cumsum`. Precomputing with `cumsum` requires more memory and is inefficient if the output is false, especially for small `r`.

[2019-02-27 14:27] abhinavmehndiratta commented on #1153
Yes,I realized your way of doing it is better :sweat_smile: .

[2019-02-27 19:47] simonschoelly commented on #1145
Not sure if if `widen` is the correct approach here, `length` returns `Int` for almost all arguments in `Base`. The only exception that I found where for ranges of `BigInt`.

[2019-02-28 09:57] abhinavmehndiratta commented on #1146
This appears to be a bug.Try correcting
https://github.com/JuliaGraphs/LightGraphs.jl/blob/2df8575d03e502d778ef1eafb56db6d34b304c01/src/cycles/johnson.jl#L275
to `circuit_iter(eltype(wdg)(1), wdg, visitor, vmap, cycle)` and run the tests again.

[2019-02-28 10:00] ChamanAgrawal commented on #1146
Yeah I was thinking the same, just got time to get my hands dirty :)

[2019-02-28 14:23] abhinavmehndiratta commented on #1130
@sbromberger any suggestions on how to fix this ?

[2019-03-02 10:14] simonschoelly commented on #1151
This algorithm will sample u.a.r a spanning tree from all spanning trees of a graph? Sounds interesting to me.

[2019-03-02 13:58] simonschoelly commented on #1103
I'm still not sure about this, but it might be better to close this now and maybe revisit it in the future.

[2019-03-02 13:58] #1103 closed

[2019-03-02 17:00] simonschoelly commented on #1089
@sbromberger  Do you have an opinion here?

[2019-03-03 19:25] simonschoelly commented on #1125
This has been solved in #1158, so I am closing this.

[2019-03-03 19:25] #1125 closed

[2019-03-04 07:41] dahtah commented on #1151
Yes, it's from this classic paper: Wilson, D. B. (1996). Generating random spanning trees more quickly than the cover time. In STOC (Vol. 96, pp. 296-303).
I'll prepare a pull request

[2019-03-04 07:49] eulerkochy opened #1159 "Dial's algorithm for shortest paths"
In reference to #1136 , we can even generalize this approach for implementing `0-1 BFS`, where weights of the edges can be either `0` or `1`, or similar binary weights, and then extend this further to implement `Dial's Algorithm` which constraints weights to be less than `k`, where `k` is small. I can implement this if there is any interest in its use-case. Opinion?

[2019-03-06 20:40] simonschoelly commented on #1146
This was was solved by #1156, so I am closing this.

[2019-03-06 20:40] #1146 closed

[2019-03-06 21:24] #1124 closed

[2019-03-06 22:02] sbromberger commented on #1088
Sure. But I think this does what you want: `is_weakly_connected` is exactly

So having `is_connected(g::::DiGraph)` equal `is_weakly_connected(g)` adheres to the Wikipedia definition. What am I misunderstanding?

[2019-03-06 22:10] simonschoelly commented on #1088
In the digraph
[code]
there is no path from u to w or from w to u, but the graph is still weakly connected.

[2019-03-06 22:11] sbromberger commented on #1089
Given that this function is probably not used for directed graphs right now, I'd suggest `@traitfn`ing it to undirected graphs only.

[2019-03-06 22:13] #1096 closed

[2019-03-06 22:14] sbromberger commented on #1097
I'll take this.

[2019-03-06 22:19] sbromberger commented on #1114
@AsileBcd do you want to work on this?

[2019-03-06 23:01] simonschoelly commented on #1089
This will eventually be implemented by #1111, so there is no point in making a PR for this only, so I am closing this.

[2019-03-06 23:01] #1089 closed

[2019-03-07 18:35] sbromberger commented on #1130
Yup, I'm testing a solution now.

[2019-03-07 18:41] FHell opened #1165 "Documentation for Custom GraphTypes...."
We are working on a small package to work with embedded graphs, and ran into some trouble along the way. It appears that the developer documentation is a bit out of date or some functions are overly specific in what they accept. Esepcially when it comes to weights.

Repo is here: https://github.com/FHell/EmbeddedGraphs.jl

For weights the developer documentation states that the output of weights o

[2019-03-07 19:29] sbromberger commented on #1130
so far my attempts to make this type-stable have failed. I'm going to keep trying :)

[2019-03-07 19:46] sbromberger commented on #1130
I actually think that, to be consistent, we should use `Int` across the board for the colptr:
[code]

[2019-03-09 18:40] simonschoelly commented on #1165
Actually I think it might be easier to define
[code]
and
[code]
but I agree with you, that if it is not mentioned in the documentation, then it should be.

What do you use the `zero` function for? As far as I know, that is usually not specified as part of the interface.

[2019-03-10 18:23] sbromberger commented on #1165
I think we should clarify `weights` as follows:

[code]

Thoughts?

[2019-03-11 06:17] abhinavmehndiratta commented on #1153
Closing this as fixed by #1155

[2019-03-11 06:17] #1153 closed

[2019-03-11 09:50] AsileBcd commented on #1114
Yes, sure! I will do that next weekend hopefully.

[2019-03-11 10:45] dahtah opened #1168 "performance of laplacian_matrix"
Comparing LightGraphs to igraph (a C library for graph processing), I'd noticed that computing the graph laplacian seemed quite a bit slower. The following experiment seems to bear that out. Here's my own naive attempt at forming the graph Laplacian:
[code]

Note that I'm not attempting to directly form a CSC representation, just passing indices to "sparse". On the following graph:
[code]
lap(G) t

[2019-03-11 17:32] simonschoelly commented on #1168
From the code:
[code]
There are a lot of unnecessary allocations happening here  so there is definitely room for improvement if you want to work on that.

[2019-03-11 17:42] simonschoelly commented on #1145
This has been resolved by #1155, so I am closing this.

[2019-03-11 17:42] #1145 closed

[2019-03-11 17:43] simonschoelly commented on #1144
This has been closed by #1155, so I am closing this.

[2019-03-11 17:43] #1144 closed

[2019-03-11 17:44] simonschoelly commented on #1143
Solved by #1155

[2019-03-11 17:44] #1143 closed

[2019-03-12 07:20] abhinavmehndiratta commented on #1106
@simonschoelly I think this should be fixed by #1111 ?

[2019-03-12 10:20] dahtah commented on #1168
All right, I'll take a look

[2019-03-13 11:49] #1061 closed

[2019-03-14 16:38] abhinavmehndiratta commented on #1136
Sorry my bad, I didn't realize that gdistances did that already. Should I close this then ?

[2019-03-19 19:30] #1108 closed

[2019-03-22 11:15] sinhatushar commented on #1159
I would like to work on this issue if @eulerkochy  has no objections. There has been no activity reagrding this issue for about 20 days now.

[2019-03-22 14:51] eulerkochy commented on #1159
Well, I was waiting for a green signal to go forward in implementing this. I am cool if you're wanting to work on this issue!

[2019-03-22 17:00] sbromberger commented on #1165
actually, `zero()` made it into the interface. I'll add the docs.

[2019-03-22 17:14] simonschoelly commented on #1165
I don't think we should require that the matrix that is returned by `weights` has eltype `Real` - that requirement should be left to the algorithms working with `weights`. Otherwise we might restrict ourself too much - for example `Unitful.jl` types are not subtypes of `Real`.

[2019-03-22 17:18] sbromberger commented on #1165
I don't know what breaks if we don't, though. I assume `Unitful` takes care of ordering, but...

[2019-03-22 17:21] sbromberger commented on #1165
Ah, I think we can `<: Number`.

[2019-03-22 18:01] sbromberger commented on #1136
No, but let's make a variant of `dijkstra_shortest_paths` that uses this when no weights are needed. Have it return a `DijkstraState` and have all the options (except for `distmx`).

[2019-03-22 18:03] sbromberger commented on #1122
Since we've merged #1148, can we close this or do we need to keep it open for more types of random graphs?

[2019-03-22 18:05] #1165 closed

[2019-03-22 18:10] simonschoelly commented on #1122
I would leave it open, it still would nice if we had a function that takes an undirected graph and returns a directed graph with every edge oriented randomly and a fraction of the edges directed in both directions.

[2019-03-22 18:20] sbromberger commented on #1122
that one sounds deceptively simple :)

[2019-03-23 06:09] abhinavmehndiratta commented on #1136
But wouldn't this be confusing as the name suggests that dijkstra algorithm would be used but instead we are using gdistances ?

[2019-03-23 07:41] #1119 closed

[2019-03-24 18:26] simonschoelly commented on #1106
You are right. Thanks.

[2019-03-24 18:26] #1106 closed

[2019-03-24 19:22] sbromberger opened #1184 "nested, parameterized testsets"
Testsets can be nested. They can also be parameterized, so that we can get rid of the `for g in testgraphs(gx)` code. This issue is to track progress towards making nested parameterized testsets (h/t @simonschoelly ).

- [x]  "simplegraphs/runtests",
- [x]  "simplegraphs/simpleedge",
- [x]  "simplegraphs/simpleedgeiter",
- [x]   "simplegraphs/generators/binomial",
- [x]   "simplegraphs/generators/

[2019-03-25 08:26] FHell commented on #1165
Thanks! Looks great and I learned something here! :)

[2019-03-31 00:23] #1117 closed

[2019-04-04 13:46] yuehhua opened #1192 "Add CUDA support"
I hope to add CUDA suuport for graph data structure, thus, graph could be calculated by GPU.

I checked the data structure of graph, for example, `SimpleGraph`:

[code]

The adjacency list  of a graph is `Vector{Vector{T}}`, while CUDA use `CuVector`.

A straight way to deal with this problem is change `Vector{Vector{T}}` to `AbstractVector{AbstractVector{T}}` for all graphs.

I have no idea wheth

[2019-04-04 14:09] sbromberger commented on #1192
In general, data structures should use concrete types for best performance. The way I'd recommend you approach this is to create a new graph type called `CudaGraph` or something, and implement the interface functions. Details can be found in [the developer documentation](http://juliagraphs.github.io/LightGraphs.jl/latest/developing.html).

[2019-04-04 14:22] yuehhua commented on #1192
Thank you for suggestion. I check my project again, and figure out I just have to make values of `PropDict` in `MetaGraphs` for CUDA support.

[2019-04-04 14:23] #1192 closed

[2019-04-04 14:27] sbromberger commented on #1192
I'm not sure how that would work. MetaGraphs uses SimpleGraphs as the backend.

[2019-04-04 14:33] yuehhua commented on #1192
I need vertex, edge, graph properties for  CUDA calculation.

[2019-04-05 17:41] #1127 closed

[2019-04-09 01:28] #1132 closed

[2019-04-13 03:49] sbromberger commented on #1168
Closed via #1191.

[2019-04-13 03:49] #1168 closed

[2019-04-13 03:52] sbromberger commented on #1107
Closing due to lack of interest/adoption. Feel free to continue discussion or submit a PR if you'd like to propose alternate wording.

[2019-04-13 03:52] #1107 closed

[2019-04-13 03:53] sbromberger commented on #1114
@AsileBcd are you still interested in working on this? If so, I'll keep it open. Thanks.

[2019-04-15 20:34] #1121 closed

[2019-04-18 12:29] #1036 closed

[2019-04-18 13:07] AsileBcd commented on #1114
Yes, I am, sorry for the delay. I will take care of this ASAP.

[2019-04-18 20:01] eulerkochy commented on #1159
@sinhatushar are you working on this?

[2019-04-29 07:46] mikeKAH opened #1203 "savegraph() does not save graph properties of metagraphs."
Dear folks,
I want to save a metagraph to file using
`savegraph("mygraph.txt", mg, GMLFormat() )`

The node/edge properties are correctly stored in mg, however, they to not appear in `mygraph.txt`.
I also opened a thread and provide a minimal example [here](https://discourse.julialang.org/t/metagraphs-graphio-how-to-save-graph-properties-to-file/23553).
Best regards, mike

[2019-05-01 21:50] sbromberger commented on #1203
MetaGraphs persistence is currently limited to `MGFormat()` and `DOTFormat()`.

[2019-05-01 21:50] #1203 closed

[2019-05-01 21:51] sbromberger commented on #1159
@eulerkochy given that there's been no response to this from @sinhatushar , I'll assign it to you.

[2019-05-01 21:56] sbromberger commented on #1151
ref: #1162

[2019-05-01 22:28] sinhatushar commented on #1159
@sbromberger , I'm sorry, I didn't see the latest comment by @eulerkochy . I'm not working on implementing dial's algorithm for now. I am more interested in LightGraphsFlows.jl at the current moment. So, @eulerkochy  can work on this. Also, please note that 0-1 BFS is not of interest to LightGraphs. I has discussed this in #graphs channel on slack.

[2019-05-02 02:30] eulerkochy commented on #1159
I'll straightaway get down to work.

[2019-05-12 23:05] #1088 closed

[2019-05-12 23:05] #1097 closed

[2019-05-28 16:27] Tarlan0001 opened #1207 "Maximum cost path problem"
Is it possible to solve the following problem using LightGraphs.jl?

I have a graph with 10 levels, on each level, there are 100 vertices. The tree is directed: from a vertex from level 1 it's possible only to go to any vertex of level 2.

I can begin from any vertex of level 1. Each pair of vertices `i` and `j` have `d()`-distance, and `c()`- cost. The distance should be less than some fixed valu

[2019-05-28 16:36] sbromberger commented on #1207
Others may have a better approach, but I'd probably look at this in three steps:

1) remove all edges that do not satisfy "distance < F". This may result in a disconnected graph.
2) reweight the edges based on cost, but map it so that the new distances are the inverses of the costs.
3) use dijkstra with a source set that includes level 1 vertices to find the shortest path from level 1 to each vert

[2019-05-28 16:40] Tarlan0001 commented on #1207
@sbromberger Thanks!
I can't remove edges that do not satisfy "distance < F", because, there are always two edges `n_i` and `n_j`, that can be connected.
Also, the initial edge is not fixed and there are 100 possibilities...

[2019-05-28 16:46] sbromberger commented on #1207
I'm not sure I understand what you mean by "there are always two edges." A given node at level `n` has edges only to nodes at level `n+1`, right? The constraint is that each edge must be at a distance less than `F`. What do you mean by connected edges?

[2019-05-28 16:49] Tarlan0001 commented on #1207
I mean, that for any edge on level 1 there is an edge exists on level 2,that the distance is less than F.
So, I can't remove any edge from the graph as you said.

[2019-05-28 16:50] sbromberger commented on #1207
Oh, so you've already filtered the graph (step 1). OK. Then you can just start w/ Step 2.

[2019-05-28 16:51] sbromberger commented on #1207
This would also be a great discussion for our Slack channel. :)

[2019-05-28 16:53] Tarlan0001 commented on #1207
No, I can't build the path on the basis of inversed costs ans ignore the distances. If the distance is more than F, the path can't go through that edge.

[2019-05-28 16:54] Tarlan0001 commented on #1207
Would you be so kind to forward this on the Slack?

[2019-05-28 17:00] sbromberger commented on #1207
There's no way to forward threads from github to slack. Join the Julia Slack (https://julialang.slack.com/; go to https://slackinvite.julialang.org/ if you need an invite) and then join the `#graphs` channel.

[2019-05-28 17:04] sbromberger commented on #1207
Also: I think this process described above will work. At the end of Step 2, before you "pick the one with the shortest distance", you have an (ordered) list of paths that meet the "maximum cost" requirement for each vertex in level 1 to each vertex in level 10. Then all you need to do is filter that list to remove all paths in the list that exceed `F`, and pick the first one.

[2019-05-28 17:06] sbromberger commented on #1207
I'm still a bit confused by `F`. Does `F` represent the maximum allowed distance for a path from level 1 to level 10, or does it represent the max distance allowed between levels `n` and `n+1`?

[2019-05-28 17:10] Tarlan0001 commented on #1207
It's maximum distance between 2 edges from levels `n` and `n+1`

[2019-05-28 17:32] sbromberger commented on #1207
Then you should filter the graph as I described in step 1. That will prune all edges that do not meet this requirement.

[2019-05-28 17:47] Tarlan0001 commented on #1207
Sorry, I meant vertices. Edited.

[2019-05-28 18:52] #1122 closed

[2019-05-28 19:38] sbromberger commented on #1207
Again, you'll probably get better help in Slack, but if there's a case that two vertices are connected by an edge that has a distance greater than `F`, then you need to prune those before you start (that's step 1 in the above process). From there you can then proceed to step 2.

[2019-05-28 20:48] Tarlan0001 commented on #1207
I have written in slack. But still no help :)

[2019-05-29 07:43] #1136 closed

[2019-05-30 19:21] szhorvat opened #1208 "The configuration model is implemented incorrectly"
Note: New Julia user here. I am not at all comfortable with the language, just exploring Julia for use with graphs.

The configuration model appears to be implemented incorrectly.  A giveaway is that something like

    random_configuration_model(100, fill(50,100))

finishes fast. This should never finish in reasonable time with a correct implementation due to a very high rejection rate.

Looking

[2019-05-30 19:54] simonschoelly commented on #1208
I think you are right on how the algorithm works, it creates stubs for all vertices, and then randomly tries to match them. Whenever a self-loop or multiedge would be created, we skip that edge. Then process is repeated with all the remaining stubs. When a point is reached, where the graph with the desired sequence cannot be created, the whole process starts anew.

So we either should find an argu

[2019-05-30 20:53] szhorvat commented on #1208
Some notes:

 - This process does not sample uniformly
 - To sample uniformly, the process must be restarted as soon as a multi-edge or self-loop was created. This is called the configuration model.
 - The function's name is "random_configuration_model`. Since it does not implement the configuration model, this is very misleading. It would still be misleading if the documentation states that the s

[2019-06-02 16:57] matbesancon opened #1209 "Assumption on vertices ordering"
As discussed in this blog [post](http://matbesancon.github.io/post/2019-05-30-vertex-safe-removal/), there are stronger assumptions in the interface than in the documentation on `vertices(g)`.

It is indeed used as an ordering in many algorithms that don't expect a specific graph type. The problem with the current state is that:

`vertices(g)` is completely redundant with `1:nv(g)`
Any graph for w

[2019-06-03 15:10] simonschoelly commented on #1208
You are right, the process is not uniform. It is possible though, that the process described here has the same distribution. Unfortunately, the author did not provide any sources and I haven't found a description of this process somewhere else. Do you have an intuitive argument at hand, why the process here should not result in the same distribution?

[2019-06-04 18:04] sbromberger commented on #1209
I think this is a good discussion to have but I don't know what can be done to remove the ordering requirement without rewriting significant parts of LightGraphs. Certainly specific graph types such as SimpleGraphs, StaticGraphs, MetaGraphs, and SimpleWeightedGraphs require ordered vertices, and I don't know a way around that short of rewriting the code which will make it less performant.

For new

[2019-06-04 18:07] sbromberger commented on #1209
The issue, I think, is that people are using `vertices` when they really mean `1:nv(g)`, and `1:nv(g)` when they really mean `vertices`. That is, `vertices` should really just promise an iterator over vertices, and `1:nv(g)` should produce a (self-explanatory) range.

[2019-06-04 18:24] matbesancon commented on #1209
Code like coloring, pagerank or Kruskal are using `vertices`, and then using its elements for indices in vectors that have size `nv(g)`.

We can use `VSafeGraphs` (or any other test graph) to test that code should not use vertices for `1:nv(g)`.

Agreed that this would start being a bit heavy to use another trait for that. The first thing we could do is for all those algorithms, see whether the ve

[2019-06-04 21:45] simonschoelly commented on #1209
Two comments on this:
1. In your blog post you are talking about the difference between vertex indices and vertex values. I think there might be a third kind, namely vertex label. The difference between a value and a label is, that you can use the label to refer to a certain vertex, And the difference between a label and an index is, that we have some restrictions on indices (consecutive integers

[2019-06-04 21:49] matbesancon commented on #1209
Ok interesting, so you are thinking value in terms of what MetaGraph would give right? I was using `vertex_value` as you are using `vertex_label`. But I would tend to agree that label is a more meaningful term here.

[2019-06-04 21:51] matbesancon commented on #1209
+1 for that, it's fairly easy to write this trait here.

[2019-06-11 15:16] sbromberger commented on #1130
Agreed.

[2019-06-13 13:34] matbesancon opened #1218 "[breaking?] Replace ErrorException for not-implemented"
`ErrorException` is too generic for not-implemented interface, `_NI("func")` should either throw a method error or a custom `Exception` type

[2019-06-13 13:35] matbesancon commented on #1218
The breaking is question-marked since it changes the interface in a breaking way if somebody is expecting an `ErrorException` when not implementing

[2019-06-13 13:45] matbesancon opened #1220 "LinAlg tests non-deterministic"
On one run, I had a bunch of errors. Without touching anything except my cup of coffee, the errors disappeared at next test run:

[code]

[2019-06-13 13:46] matbesancon commented on #1220
(I'm on master), Julia 1.1.1

[2019-06-13 15:22] matbesancon opened #1221 "[breaking] snake_case for the construction of new simple graphs"
`LightGraphs.CompleteGraph` and such can lead to confusion, because of the syntax one might think they are constructing something of type CompleteGraph. We should deprecate these constructors in favour of:
- `LightGraphs.complete_graph`
- `LightGraphs.path_graph`
- `LightGraphs.binary_tree`

[2019-06-13 15:35] sbromberger commented on #1221
Yes. This has been a disappointment of mine for a while. My suggestion is to create the snake case and alias the camel case with deprecation now, and then remove the deprecation in 2.0. PRs gratefully accepted.

[2019-06-13 16:17] simonschoelly commented on #1220
It is related to this: https://github.com/haampie/ArnoldiMethod.jl/issues/91

I don't think tests all have to be deterministic, but we should reduce the failure rate. This can be done with repeating the test multiple times, and accepting when it passes a certain number of times. If it fails, we can give an output that the test is randomized.

[2019-06-13 16:30] matbesancon commented on #1220
yes, it's more of a bother if the test run itself sometimes fails mysteriously as I had. The result was a method error on applying `<` to a float and a complex

[2019-06-13 16:35] simonschoelly commented on #1218
One option would be to just implement `function f end`. Then the symbol can still be exported, and shows `f (generic function with 0 methods)` in the REPL. Docstrings can also be attached.

The disadvantage of this is, that the information on the parameters get lost. We could get around this, by having a macro `@NI` or `@Interface` that takes a function declaration and strips the parameters off. N

[2019-06-13 16:40] sbromberger commented on #1218
I really prefer having an exception for this, as it means that the graph has not been specified adequately to conform to the interface.

[2019-06-13 19:54] matbesancon commented on #1218
That's why I was suggesting creating a new exception type `GraphInterfaceException` or such, and still throw it.

[2019-06-17 14:30] sbromberger commented on #1184
This is taking a bit longer than anticipated :)

[2019-06-17 14:56] sbromberger commented on #1218
Yes - I agree with you.

I do not view this as breaking since we're still throwing an exception, but I'd like to defer to @jpfairbanks who has a better understanding of SemVer than I do.

[2019-06-17 17:55] sbromberger commented on #1208
Can you give a proof of bias in edge selection? This assertion is not intuitive to me.

[2019-06-17 18:55] lafond1 commented on #1208
I think the confusion here comes from the name "configuration model" and exactly what people mean when they say "sample uniformly."  This is not a configuration model (which produces a graph with an exact degree sequence), it is an Erdos-Renyi model w/ no collisions or self-loops.  The **degree distribution** is not uniform, but the algorithm is **sampling possible edges uniformly at random** as a

[2019-06-17 20:25] simonschoelly commented on #1208
Here is a bit of an experiment, that shows, that the two models do not behave differently. Although connectivity might not be the best example, as the two models might behave behave asymptotically similar.

I will have to have a look at the algorithm again, but if if truly samples from Erdos Renyi, conditioned on the degree sequence, then that might be even better. We could rename it then, and imp

[2019-06-17 21:05] sbromberger commented on #1208
I think we're getting a bit far afield here. I am reluctant to change this function given that we're worried about very small differences in probability (that might be eclipsed by the nonuniformity of the PRNG used) for large graphs.

One thing that I *did* note is that we should be asserting `isgraphical` on this before we start; otherwise we can have a nonterminating condition:
[code]
will not c

[2019-06-18 06:08] szhorvat commented on #1208
I am not sure how to respond ... there seem to be too much confusion about concepts and misuse of terminology above to respond point by point. I would suggest familiarizing with the topic before proceeding. E.g., M.E.J. Newman: Networks, 2nd ed, has a good description of the configuration model.

I'll just note that the current situation severely diminishes my trust in this package.

[2019-06-18 06:29] sbromberger commented on #1208
Sorry to hear that. I hope you find a package that works better for your needs.

[2019-06-18 06:29] #1208 closed

[2019-06-18 07:06] sbromberger commented on #1220
so, I'm not sure that the testing frameworks allow a `m of n` pass rate, but what we could do is something like
[code]

or something like that.

[2019-06-18 15:41] sbromberger opened #1224 "Proposal: github issue template"
Given that having consistent bug reports is a good thing, I propose creating an issue template with (at least) the following information:

1) Julia version
2) LightGraphs version
3) Issue type (bug / enhancement / performance)
4) Description of issue (what happened)
5) Description of expected behavior (what did you expect to happen)
6) minimal working example demonstrating issue (optional but enco

[2019-06-18 16:06] simonschoelly commented on #1224
Roughly how the bug template looks for me at work, has maybe a fever items:
- Summary (Not sure if that is needed, most of the times people seem to copy the title here)
- How to reproduce (can also contain a MWE)
- Excepted behavior
- Actual behavior
- Additional stuff (so suspected cause, link to PR can all be here)

For point 1. and 2.  you could add the information that they should run
[code]
i

[2019-06-18 16:19] sbromberger commented on #1224
I don't think we can limit it to specific types of reports, so I tried to capture the type in question 3. Is there a better way?

[2019-06-18 16:31] simonschoelly commented on #1224
Not sure, I am not that familiar with issue templates here. But it looks as if users can adjust the text anyway if it does not fit their purpose, so it is not that big of a problem.
Just saw that the Julia repository contains a link to discourse for questions, might be worth doing here.

[2019-06-18 16:40] sbromberger commented on #1224
I'd rather have questions here, actually. I haven't logged into discourse in a while and it's nice to have a central place for all things LG.

In any case, let me try to get this template set up taking your comments into account. Thanks for the feedback.

[2019-06-18 16:50] sbromberger commented on #1224
I've added a bug report template. Comments please.

[2019-06-18 17:04] simonschoelly opened #1225 "[BUG] Function `edges` does not work for graphs of type `SimpleGraph{Integer}`"
**Description of bug**
The function `edges` does not work for graphs of type `SimpleGraph{Integer}`

**How To Reproduce**
- Create a graph of type `g = SimpleGraph{Integer}`
- run `edges(g)
- run collect on the result.

**Expected behavior**
A vector of eltype `Edge{Integer}` should be returned.

**Actual behavior**
A method errror is thrown.

**Code demonstrating bug**
[code]

**Version informati

[2019-06-18 17:06] simonschoelly commented on #1224
I created a (nonsense ?) test issue:
https://github.com/JuliaGraphs/LightGraphs.jl/issues/1225

`]stats LightGraphs` does not not work, should be `st` or `status`.

Looks like it would be good to have a bit more empty lines between the items, otherwise the markdown layout gets easily messed up.

[2019-06-18 17:08] sbromberger commented on #1225
This, exactly. Mind creating a PR?

[code]

[2019-06-18 18:59] abhinavmehndiratta commented on #1224
Maybe doing
[code]
is better since `status` doesn't work in Julia 1.0

[2019-06-20 07:58] simonschoelly commented on #1225
Should be easy to fix, will try to do it tonight.

[2019-06-20 21:08] #1142 closed

[2019-06-22 17:43] simonschoelly commented on #1225
Turns out, it is not completely trivial, because at the moment
[code]

I will have to come up with some solution here.

[2019-06-24 14:23] #1114 closed

[2019-06-27 14:44] andferrari opened #1227 "normalized Laplacian"
The type ``NormalizedLaplacian`` is defined but not the function to compute the normalized Laplacian from the graph.

Did I miss something?

[2019-06-28 20:17] #1123 closed

[2019-06-30 00:34] simonschoelly opened #1228 "[BUG] issymmetric incorrect for directed graphs."
**Description of bug**
The function `issymetric` only uses the type of a graph and not what edges there actually are. Therefore a directed graph is always considered as not symmetric, even if all edges are there in both directions. This is not intuitive, especially as it is not the case for the adjacency matrix of such a graph.

**How to reproduce**
[code]

**Expected behavior**
`issymmetric` shou

[2019-06-30 15:48] sbromberger commented on #1228
Is there a way to test symmetry for digraphs that's not O(E) in lookups?

[2019-06-30 23:12] simonschoelly commented on #1228
I don't think there is.

[2019-07-01 01:04] jnkh opened #1229 "[BUG] Serialization of large graphs for pmap fails"
**Description of bug**
When large graphs are sent to worker processes, an error occurs. It is more likely with larger graphs and more workers.

`
ERROR: LoadError: IOError: write: bad address in system call argument (EFAULT)
Stacktrace:
 [1] (::getfield(Base, Symbol("##696#698")))(::Task) at ./asyncmap.jl:178
 [2] foreach(::getfield(Base, Symbol("##696#698")), ::Array{Any,1}) at ./abstractarray.jl

[2019-07-01 02:19] sbromberger commented on #1229
I'm not seeing how this is LG-related. I'd recommend transferring this issue to https://github.com/JuliaLang/julia/issues and seeing what they say.

FWIW, I can reproduce it, but I'm just not seeing that it's something that LG can fix.
My setup:
[code]

[2019-07-01 02:48] jnkh commented on #1229
Ok, I made an issue at https://github.com/JuliaLang/julia/issues/32459 .

[2019-07-07 23:31] #1151 closed

[2019-07-08 04:31] #1159 closed

[2019-07-09 16:26] sbromberger opened #1232 "[BUG] PathGraph, etc deprecations aren't exported"
**Description of bug**
After the merge of #1223 `PathGraph` and other camel case constructors were deprecated in favor of their snake-case equivalents. Deprecations were listed in `src/SimpleGraphs/generators/deprecations.jl`, and the new snake case functions were exported in `src/LightGraphs/jl`,  but the old names were never exported top-level. This means that any code using `PathGraph` after th

[2019-07-09 16:29] matbesancon commented on #1232
Dang, the doc of `@deprecate` is misleading then:
[code]

[2019-07-09 19:37] mcognetta commented on #1228
`issymmetric` isn't exported but it should be right? I have a PR for this for generic graphs but it could potentially be optimized a bit more.

[2019-07-09 19:39] sbromberger commented on #1228
I don't think we need this functionality at all. Worst-case, it devolves into `issymmetric(adjacency_matrix(g))` but perhaps without the extra allocation to create the matrix.

O(E) makes it prohibitive for all but small graphs in any case, so it's not something that's going to be generally useful, and for small graphs it's not too onerous to create the adjacency matrix.

[2019-07-13 11:22] cormullion opened #1235 "Can't find greedy things"
The documentation (Latest version as of July 13th) refuses to tell me about anything with the word `greedy`. There is apparently some support for greedy colouring algorithms... ?

This might be a problem with Documenter's search... (?) But I think that Documenter lets you make an [index of all functions](https://juliadocs.github.io/Documenter.jl/dev/man/syntax/#@index-block-1), which might be a la

[2019-07-25 14:00] sbromberger commented on #1235
Nope, all exported functions should have docs. This is probably an omission.

[2019-07-25 14:02] sbromberger opened #1237 "Figure out approach to use of randomness"
Following on to #1236 - the way we currently handle randomness is not quite consistent: some functions/processes use seeds to the RNG returned via `getRNG()`, an unexported function, and some use instances of an RNG directly (SBM).

I'm not quite sure what the best approach is, so opening to discussion. Assigning to @simonschoelly and @matbesancon since they were both involved in discussions aroun

[2019-07-25 14:14] cormullion commented on #1235
👍 (We used SimpleGraphs.jl for a while, until I searched the LightGraphs source. :))

[2019-07-25 14:16] sbromberger commented on #1235
a general request: if you see missing docs, please file an issue (just like this). LG functionality has grown by leaps and bounds and the docs unfortunately have not kept up. We're trying to fix this.

[2019-07-26 10:02] #1235 closed

[2019-07-26 18:21] sbromberger opened #1240 "A* should not return a vector of edges"
Right now, A* returns a vector of edges. This is undesirable for a few reasons: it's inconsistent with `enumerate_paths`, and it takes up almost twice as much memory for no additional information.

This proposal (a breaking change) is to modify A* to return a standard "path-like" vector of `eltype(g)`.

[2019-08-03 21:44] #1207 closed

[2019-08-10 23:19] #1209 closed

[2019-08-14 23:07] sbromberger commented on #1240
This is now the behavior of the new shortest-path algorithm collection (#1242).

[2019-08-14 23:09] sbromberger commented on #1237
ping on this - would be nice to see some discussion and a decision here :)

[2019-08-14 23:12] sbromberger commented on #1227
@andferrari sorry for the delayed response.

ping @jpfairbanks

[2019-08-14 23:23] matbesancon commented on #1237
This PR: https://github.com/JuliaGraphs/LightGraphs.jl/pull/1212 makes it consistent but the result is breaking. Overall, it's way more flexible to allow users to pass a RNG in keyword, defaulting to `Random.GLOBAL_RNG`. They can change the default one for a faster, a thread safe RNG, etc depending on their needs

[2019-08-15 09:46] matbesancon commented on #1237
Regarding the first from https://github.com/JuliaGraphs/LightGraphs.jl/pull/1236, maybe we could pull out the RNG from the struct and requiring it on random operations. This would allow removing the `mutable`

[2019-08-15 20:00] sbromberger commented on #1228
Thoughts on removing this function entirely?

[2019-08-16 16:53] sbromberger commented on #1184
still working on this.

[2019-08-16 17:14] sbromberger opened #1244 "v1.3.0"
@JuliaRegistrator register()

[2019-08-16 17:14] JuliaRegistrator commented on #1244
Registration pull request created: [JuliaRegistries/General/2739](https://github.com/JuliaRegistries/General/pull/2739)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-08-17 15:31] #1130 closed

[2019-08-19 07:58] matbesancon commented on #1218
nope, I'll do it soon

[2019-08-19 08:08] matbesancon commented on #1232
@sbromberger closed by #1233

[2019-08-19 08:09] matbesancon commented on #1220
still an issue, go away bot

[2019-08-19 08:10] matbesancon commented on #1221
fixed in #1233

[2019-08-23 16:22] epatters opened #1246 "Inserting vertices at a particular position in the vertex order"
In LightGraphs, the vertices of a graph are labelled by consecutive integers starting at 1, which gives them a definite order (see #1209). Sometimes I want to perform graph mutations that respect this order.

For example, given a graph on n vertices, I'd like to replace vertex i with another graph on k vertices and then reconfigure the edges in some way. Ideally, the new vertices would be labeled

[2019-08-24 20:23] #1224 closed

[2019-08-28 09:28] matbesancon commented on #1244
close this?

[2019-08-28 09:29] #1221 closed

[2019-08-28 11:40] matbesancon commented on #1218
fixed by #1245

[2019-08-28 18:41] #1225 closed

[2019-08-29 06:44] simonschoelly commented on #1246
Maybe would also help, if we had a function that would do inplace permutation/subgraph ?

[2019-08-29 14:53] epatters commented on #1246
Right, if LightGraphs had an efficient in-place permutation operation, we could do the insertion I describe by adding the vertices at the end, as usual, and then permuting them into the right place.

[2019-08-29 15:38] sbromberger commented on #1246
I don't think there's an efficient way to do this. As far as inplace subgraph, I'm not sure what that means. If I understand it, it means that we violate the requirement that vertices can be represented by a consecutive 1-indexed range.

[2019-08-29 15:39] sbromberger commented on #1246
This isn't hard and fast, but I am leaning more and more towards the idea that once you've got your data in a graph structure, it should be more or less immutable.

[2019-08-29 16:04] simonschoelly commented on #1246
`induced_subgraph!` would just do, what `induced_subgraph` currently does, but just inplace, so no unnecessary allocation happens.

As for mutable graphs, I think they are important. Several reasons for having them:
1. Would allow one to build the graph stepwise.
2.There are a lot of graph algorithms that depend on mutating a graph. See for example that maximum independent set algorithm that was r

[2019-08-29 16:47] epatters commented on #1246
Agreed @simonschoelly, re: mutation. While I like functional code and try to write it when it can, many graph algorithms are most easily expressed in imperative style, with lots of small mutations performed in sequence.

[2019-09-06 04:13] #1229 closed

[2019-09-13 18:50] jpfairbanks commented on #1227
So the way the `NormalizedLaplacian` type works is that it uses multiple dispatch to evaluate matrix vector products with the Normalized Laplacian matrix  `L = NormalizedLaplacian(g); x = ones(nv(g)); y = L*x` multiplies `x` by the normalized laplacian of `g` without ever explicitly forming the laplacian matrix. This memory bandwidth because you don't need to store the matrix in memory (since you

[2019-09-13 19:17] andferrari commented on #1227
Thank you for your detailed answer.

However, I am not able to reproduce your example.
`L = NormalizedLaplacian(NormalizedAdjacency(SimpleGraph(10)))`
gives me `ERROR: MethodError: no method matching NormalizedAdjacency(::SimpleGraph{Int64})`

[2019-09-15 09:04] mwien opened #1248 "add_edge! potentially slow"
**Description of the bug**
The complexity of adding the edge (u, v) to a graph G with the function add_edge!(G, u, v) is O(d(u)) where d(u) is the degree of node u in G. This is due to the fact that v might have to be inserted in the middle of the vector which stores the neighbors of u (this has cost O(n) compared to inserting at the beginning or end which has cost O(1)). This might be a conscious

[2019-09-16 17:25] simonschoelly commented on #1248
This should not be a bug.

While it is indeed true, that the datastructure used for `SimpleGraph` is not ideal for random insertion, you should consider it as a compromise between various demands.

First, there is a big parallel between sparse matrices and graphs - for sparse matrices one often also uses formats like CSR or CSO, which behave quite similar as the adjancency lists used here do.

It

[2019-09-17 07:13] mwien commented on #1248
Thanks for your extensive reply!

First of all, I'm sorry that the issue is labeled as a Bug, that was unintentional and for some reason I wasn't able to remove the label afterwards.

I understand that you prioritize neighbor iteration over modifying existing graphs and I agree that the latter is of much less importance. Also, I don't have much experience with these practical aspects of writing hi

[2019-09-17 07:13] #1248 closed

[2019-09-20 22:04] Dom-Skinner commented on #1116
Hi all,

I think I'm still having the same issue as above with neighborhood not giving what I was expecting.

If I define a graph:

[code]

Then neighborhood(g,1,1) is as expected
[code]

but neighborhood(g,1,2) I would expect to be [1,2,3,4] as all vertices are at most 2 edges away from vertex 1. Instead I get
[code]

I tried deleting the package and reinstalling. Package version I'm using:

[cod

[2019-09-21 05:37] sbromberger commented on #1116
Apparently fails on triangle with tail.

[2019-09-21 05:37] #1244 closed

[2019-09-21 05:38] #1232 closed

[2019-09-21 14:30] 000Justin000 opened #1249 "Is this line redundant (of previous line)?"

[2019-09-21 16:11] #1249 closed

[2019-09-21 20:18] Dom-Skinner commented on #1116
Sorry! I realized the updated LightGraphs version fixed this bug. I removed and reinstalled LightGraphs, but that didn't change anything until I restarted my IDE and only then was the updated package used. It's working now.

[2019-09-21 22:28] sbromberger commented on #1116
Good to hear. Thanks for the update!

[2019-09-21 22:28] #1116 closed

[2019-09-23 00:08] sbromberger commented on #1240
Closing this out since we've implemented it in the new algorithm collection.

[2019-09-23 00:08] #1240 closed

[2019-09-23 13:48] #1218 closed

[2019-09-26 18:23] mroavi opened #1250 "Base.eltype link leads to 404"
Clicking on `Base.eltype` here:

![image](https://user-images.githubusercontent.com/19517248/65714267-0d590000-e09b-11e9-98f7-0b0ea900160b.png)

leads to:

![image](https://user-images.githubusercontent.com/19517248/65714311-22ce2a00-e09b-11e9-91c7-bf0e8c38ecdf.png)

[2019-10-03 19:44] rafreeman opened #1251 "[BUG] incidence_matrix can produce invalid instances of SparseMatrixCSC"
**Description of bug**
The function `incidence_matrix` can produce matrices that do not conform to the SparseMatrixCSC type assumption that the entries in the `rowval` field of a sparse matrix are sorted by column.  As a result, arithmetic operations involving outputs of `incidence_matrix` can be incorrect.  The assumptions on the sparse type are listed at the top of

and the relevant assumption i

[2019-10-03 20:39] sbromberger commented on #1251
ping @jpfairbanks

[2019-10-03 20:40] sbromberger commented on #1251
[code]

[2019-10-07 12:58] jpfairbanks commented on #1251
Yeah that is bad, our `incidence_matrix` implementation definitely precedes v1.0 so I'm curious when this assumption was added. I guess the easiest fix is to just sort the incidence matrix after we make it. The most efficient way would be to create in such a way that it would be sorted. Let me take a look at the code now.

[2019-10-10 10:18] rodrigolece commented on #1080
I'm joining the conversation a bit late but this is something that interests a lot. I have raised a separate issue before that is related to self-edges (JuliaGraphs/SimpleWeightedGraphs.jl#41).

From what I understand (correct me if I'm wrong) the defining characteristic of SimpleGraphs.jl is that you want the package to be lightweight and this is why you leave 'features' like weight outside of it

[2019-10-10 12:54] sbromberger commented on #1080
But this is [demonstrably untrue](https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/src/linalg/spectral.jl#L56-L63) as just one example. Depending on how you measure cost, the multiple issues filed over the span of the years since we implemented them count as another real cost (to developers).

Some history may be in order: Simple graphs (at least as they're traditionally defined) don't al

[2019-10-10 13:36] rodrigolece commented on #1080
Okay, that clarification was important. Yes, a simple graph is defined to be a graph with no multiedges and no self-edges. I thought the main distinction you were making in the ecosystem was about weighted (for which you would use SimpleWeightedGraphs) vs unweighted (LightGraphs), now I know this is not the case.

I understand that you have limited resources and yes, I imagine how difficult it wou

[2019-10-10 13:37] rodrigolece commented on #1080
BTW I meant that it comes at no extra cost because the adjacency matrix already has a 2 in the diagonal. That allows you for a straightforward implementation of the degree (the sum of entries along a row or a column).

[2019-10-10 14:28] sbromberger commented on #1080
In my mind, there's the "quick fix" and the "correct fix". What we've been doing is a series of "quick fixes" which may make one person's code work, but does nothing for others, and may introduce regressions throughout the codebase. "Fixing the degree" is an example of a "quick fix" - because degree is a fundamental operation, we need to make sure that any change to it won't impact anything else.

[2019-10-10 15:24] sbromberger commented on #1225
I think this has been fixed by #1226.

[2019-10-10 15:36] sbromberger commented on #1246
`LightGraphs` shouldn't, since this will require specialized implementations for all graph types. For what graph type are you needing this?

[2019-10-10 15:52] sbromberger commented on #1250
Closed via #1255. Thanks for the report!

[2019-10-10 15:52] #1250 closed

[2019-10-10 17:55] epatters commented on #1246
Thanks for the followup. I was hoping to have this feature for `Simple(Di)Graph` and eventually also `Meta(Di)Graph`.

[2019-10-10 18:03] #1251 closed

[2019-10-11 14:19] rodrigolece commented on #1080
I understand your point of view and I think I generally agree with you. The correct fix for me would also be to promote self-edges.

I think I'm interested enough in Julia and networks that I want to give it a go. It is true that I've never really contributed to a codebase and it might take me some time and effort to get up to speed, but I can definitely give it a try. Let's carry on with the conv

[2019-10-14 01:14] tomerarnon opened #1256 "`unique` on graphs doesn't work (possibly a hash issue)"
Given an array of graphs (`Graph` or `DiGraph`) with duplicate values, `unique` does not remove the duplicates.

[code]
Whereas I would expect to see behavior like:
[code]

Tested on Julia v1.2 and v1.0, LightGraphs v1.3.0

No idea why this is happening, but from playing around at the REPL, maybe it has something to do with how either `hash` or `==` are implemented on graphs?
[code]

[2019-10-14 01:26] tomerarnon commented on #1256
Not to say that this is necessarily a great fix, but implementing a custom hash like
[code]
does seem to solve the problem.

[code]

That said, maybe there is another approach that doesn't involve defining `hash` for each type...

[2019-10-14 11:45] matbesancon commented on #1237
I think with the current PRs we have a good approach to randomness:
- Don't store RNG in types
- Optionnally pass a `rng::Random.AbstractRNG` element to any function requiring it

[2019-10-21 21:36] #1228 closed

[2019-10-22 07:06] sbromberger commented on #1228
Reopen

[2019-10-22 20:01] sbromberger commented on #1184
Reopen

[2019-10-25 09:35] #1220 closed

[2019-10-30 14:10] cormullion opened #1257 "Documentation needs an update"
Just working through the 'latest' version of the documentation, I noticed, while trying each of the graph types:

<strike> `EuclideanGraph` -> deprecated, now `euclidean_graph` </strike>
`WheelDiGraph`  -> deprecated, now `wheel_graph`
`PathGraph` -> is deprecated, now `path_graph`
`BarbellGraph` -> is deprecated, now `barbell_graph`
`CircularLadderGraph` is not defined, use `circular_ladder_graph

[2019-11-06 02:26] Katsutoshii opened #1258 "[BUG] a_star fails on 1.2"
`a_star` throws the following error when updating a distance:
[code]

Reproducible by running the following with Julia 1.2, DataStructures 0.17.5:
[code]

**Version information**

[code]

[code]

[2019-11-06 02:34] Katsutoshii commented on #1258
Fixable by replacing `enqueue!(open_set, neighbor, priority)` with `open_set[neighbor] = priority` on line 50 of `astar.jl`

[2019-11-08 15:39] oskarddfa opened #1259 "New feature: Characteristic Length"
I would like to implement a function that returns the characteristic length (aka average shortest path) of a graph.

This is how I wrote it:
[code]
I am not using the floyd_warshall_shortest_paths function since for me iterating multiple time the dijkstra algorithm was faster, but I didn't do a real benchmarking. However, it is trivial to implement the several functions to calculate the characteri

[2019-11-10 09:05] karlwessel opened #1260 "Support tuple as dims parameter for grid"
If i want to create a grid graph representing connections between elements in an existing array i have to write

[code]
it would be a bit nicer and more readable if I could just write `grid(size(data))` instead of `grid(collect(size(data)))`.

This is a really minor improvement and I am willing to create a PR myself for it as soon as I have a bit of time and nobody has objections. Just wanted to r

[2019-11-10 21:47] sbromberger commented on #1259
just a few thoughts in no particular order:
1) this is going to be REALLY expensive – it's essentially doing what a full-bore betweenness centrality is doing. I would look at F-W instead. Try it with dense graphs with large numbers of vertices - say, 1M - and see what happens.

What's the real purpose of cutoff/clamp?

Also, think about removing `silent` - either this works for disconnected graphs

[2019-11-10 21:48] sbromberger commented on #1258
@Katsutoshii - thanks. Would you mind making a PR?

[2019-11-10 21:54] sbromberger commented on #1256
Is there a reason you need `unique` on graphs? Equality of graphs is a bit tricky. (Are isomorphic graphs equal?)

If you can describe your use case, then maybe we can offer alternatives. Hashing `fadj` will only work for undirected graphs; we'd need to override `Base.hash` for each graph type.

[2019-11-10 22:01] sbromberger commented on #1246
I think the best way of handling this right now is to use the built-in operators:
[code]

[2019-11-10 22:08] sbromberger commented on #1257
I don't understand the bug report: [`euclidean_graph`](https://juliagraphs.github.io/LightGraphs.jl/latest/generators.html#LightGraphs.SimpleGraphs.euclidean_graph) is now the correct function name. The docs are consistent with this.

[2019-11-10 22:20] sbromberger commented on #1227
ping @jpfairbanks :)

[2019-11-10 22:21] sbromberger commented on #1260
No objections to you making a PR for this. I think it makes sense.

[2019-11-10 22:47] tomerarnon commented on #1256
Turns out I actually don't need it at all, but ran into it in the early stages of something and figured it could be good to report. I was doing `if g in G...` with some newly generated graph and a running set of prior graphs. Afterwards I was generating many graphs and running `unique` at the end to see if that was better, etc. I'm not doing any of this any more, so it's a moot point by now 😅

As

[2019-11-10 22:56] sbromberger commented on #1256
yeah, sorry, you were right about `fadj` (you can tell how often I use it.)

We have equality defined for simplegraphs[1], but I don't think we've got them for others. I think it's better if we allow the users define their own equality for their graphs, as some might need structure, some might need structure + metadata, ...

Glad to hear you were able to work around this.

[1]
[code]

[2019-11-10 22:56] #1256 closed

[2019-11-10 23:05] tomerarnon commented on #1256
True, but since `DiGraph() == DiGraph()`, which is covered by the defined `==` you have there, I was expecting `unique` to return only one of the two `DiGraphs`, not both (since they're equal). But looks like unique uses `hash` rather than `==` directly, hence the mismatch. Anyway, I'm not using this at all anymore so it's fair enough to close it, but a hash function equivalent to that `==` should

[2019-11-10 23:11] sbromberger commented on #1256
OK, but are these two graphs equal? Why / why not?
[code]

or what about these?
[code]

This is why I think equality should be in the eye of the user :)

[2019-11-11 01:18] tomerarnon commented on #1256
I would say they're unequal by default, since they're not even the same type. Though I agree that this is just one interpretation 😜
Adding an `==` that is as robust as it is for numeric types is surely impossible, so you'll get not argument from me there!

[2019-11-11 08:48] cormullion commented on #1257
Oops, I think you're right about EuclideanGraph - I must have made a mistake in my notes.... :(

<img width="939" alt="Screenshot 2019-11-11 at 08 41 12" src="https://user-images.githubusercontent.com/52289/68573210-2bb66780-045f-11ea-9fee-859067e2c2e7.png">

<img width="918" alt="Screenshot 2019-11-11 at 08 39 53" src="https://user-images.githubusercontent.com/52289/68573224-37a22980-045f-11ea-87

[2019-11-11 15:31] sbromberger commented on #1257
yup, I see it now.

[2019-11-11 19:12] sbromberger commented on #1257
Fixed via #1263. Thanks - it gave me an excuse to update a bunch of scripts :)

[2019-11-11 19:12] #1257 closed

[2019-11-13 03:44] epatters commented on #1246
I see. Thanks for the guidance.

[2019-11-15 16:11] sbromberger commented on #1260
Closed via #1262

[2019-11-15 16:11] #1260 closed

[2019-11-15 16:12] sbromberger commented on #1246
I'll go ahead and close this, but if you would like to continue discussing it, let me know.

[2019-11-15 16:12] #1246 closed

[2019-11-15 20:37] jpfairbanks commented on #1227
You should be able to do `NormalizedLaplacian(NormalizedAdjacency(g))` or something like that. I can take a look later

[2019-11-18 14:58] Chakerbh opened #1265 "[BUG] Triangles with loops are counted as valid ones"
Self-edges are considered valid when counting the number of triangles. I faced this issue when counting triangles in the SNAP twitter dataset.

[code]
Which of course wrong compared to http://snap.stanford.edu/data/ego-Twitter.html

A minimal example is
[code]
For the second vertex, the result should be 1 instead of 3. I changed [src/community/clustering.jl#L47](https://github.com/JuliaGraphs/Ligh

[2019-11-18 15:45] sbromberger commented on #1265
Self-loops are not really supported in SimpleGraphs. There's no guarantee that graphs with self-loops will perform well (or correctly) for all algorithms. This is a known limitation at this point.

If you have a performant fix (that is, better than `has_self_loops()` which is O(V)), then we'd appreciate a PR.

[2019-11-18 16:11] Chakerbh commented on #1265
For the triangle count case, the extra check `&& ( j != v) && ( i != v )` should be sufficient to ignore self-loops. And performance wise, it doesn't seem that it introduce more overhead. I couldn't find any benchmarks in this repo to verify how this change could affect performance.

[2019-11-18 16:14] sbromberger commented on #1265
Can you run a test with that change and without it using `BenchmarkTools` and post the results here?

[2019-11-18 16:25] Chakerbh commented on #1265
[code]
And
[code]

[2019-11-18 16:26] sbromberger commented on #1265
Is that a 3x performance hit? (That last block of benchmarks - are they equivalent functions?)

[2019-11-18 16:44] Chakerbh commented on #1265
I may be doing something wrong. But I declared
[code]
And the result
[code]
BTW I'm using the SNAP Twitter dataset
[code]

[2019-11-19 10:58] Chakerbh commented on #1265
Probably this is more clear
[code]

[2019-11-19 20:53] Chakerbh commented on #1265
@sbromberger Should I open a PR for this?

[2019-11-19 21:07] sbromberger commented on #1265
Hold off until we can figure out the performance impact.

[2019-11-19 21:20] sbromberger commented on #1265
I've gotten it down to
[code]

[2019-11-19 21:48] sbromberger commented on #1265
Ref #1266

[2019-11-19 22:15] Chakerbh commented on #1265
Thanks @sbromberger

[2019-11-20 13:11] #1265 closed

[2019-11-20 20:52] jpfairbanks opened #1267 "Merging vertices in directed graphs"
I found this code in
https://github.com/IBM/semanticflowgraph/blob/master/src/SemanticEnrichment.jl#L202
 and figured it might want to come home to LG. Does anyone know if the merge_vertices in https://github.com/JuliaGraphs/LightGraphs.jl/blob/84c21997a5df176cfc142d2309c8e21189fff283/src/operators.jl#L746 works on directed graphs?

[code]

[2019-11-20 22:41] sbromberger commented on #1267
[code]

[2019-11-21 14:58] siccegge opened #1268 "yen_k_shortest_paths always returns at least one path [BUG]"
`yen_k_shortest_paths` will always return at least one path, even if that path is longer than `maxdist`. This considerably slows down my application that can only use relatively short paths as longer paths are rather slow to find.

[code]

**Version information**
[code]

[code]

[2019-11-21 17:48] dietercastel opened #1269 "Support for mixed graphical models."
Hi all,

Is there a plan to add mixed graphs (having both directed and undirected edges) to LightGraphs? I'd like to visualize some of them with GraphPlot.jl but currently I don't see a way to even create a mixed graph.

I'm not confident enough in Julia to write an efficient implementation just yet, maybe I'll give a prototype a go in the coming weeks/months. I've got some idea how that would be

[2019-11-21 20:16] sbromberger commented on #1269
I don't know what the general utility of such a graph would be - currently we don't specialize on the edges (that is, edges vs arcs - we don't make a distinction at the edge level, just at the graph level).

In the meantime, one of the ways we can represent a "mixed graph" is to create a directed graph and ensure the edges that represent undirected edges have a reverse edge created.

[2019-11-22 15:14] dietercastel commented on #1269
Good point, thanks @sbromberger. Glad I asked! That is indeed a more trivial way of creating such a mixed graph.

The general utility would be in using it for e.g. [Chain Graphs](https://en.wikipedia.org/wiki/Mixed_graph#Bayesian_inference). That's why I asked. I don't know any other applications of it yet. But I wouldn't be surprised there are more (graph theory is a vast field).

I'll give your

[2019-11-22 16:37] jpfairbanks commented on #1269
Yeah definitely just have edges with both directions. What application do you have in mind for mixed graphical models? Describing Bayesian models where some relations are causal and some are noncausal (but correlational)? I've recently started thinking about this in my own research.

[2019-11-24 18:03] sbromberger commented on #1080
@rodrigolece Looping back to this (pun intended): if you want to take a shot at this, the best thing to do (IMO) is to copy the SimpleGraph/SimpleDiGraph code into a new graph type (`LoopyGraph` seems like it was the preferred name but we can bikeshed later) and then try to get self-loops working on all the algorithms.

Reopening for further discussion. If you're no longer interested/available, le

[2019-11-24 18:18] sbromberger commented on #1268
@Thuener - question for you: what is `maxdist` supposed to do?

[2019-11-25 13:47] Thuener commented on #1268
You can define a maximum distance of the path, the algorithm will stop if any path is higher then that. There is a bug when there isn't any path lower than maxdist, the code now returns the fist path found by Dijkstra. This can be fixed just verifying the value, however, this will not increase the performance since the algorithm has to construct the path in order to verify the length of it. The al

[2019-11-26 11:49] oskarddfa commented on #1259
Sorry for the late answer, I didn't get any notification and didn't look at it again.

1. Indeed it depends a lot how big and dense the graph is. I did not try it for big graphs. However the implementation is quite the same.

2. The cutoff/clamp is something I specifically used, it is indeed not too useful. However the distance does not really make sense if the graph is disconnected, because it be

[2019-11-26 12:09] Chakerbh opened #1270 "k-clique count?"
Is there a plan to implement k-clique count? I'm comparing LightGraph to other systems and it would be wonderful if there's a builtin function that can count the number of cliques of size k that an node is a part of.

I currently have a naive implementation to count 4-clique
[code]
As you can probably notice, the performance is terrible. But it doesn't even return the correct result for some datas

[2019-11-26 12:21] simonschoelly commented on #1270
There isn't such functionality in LightGraphs yet. Actually there is not much functionality for any kind of  #P and #NP hard problems, apart from some approximation algorithms. In the meantime, you could use the VF2 subgraph algorithm in the `LightGraphs.Experimental` submodule for counting k-cliques.

[2019-11-26 15:00] sbromberger commented on #1268
@Thuener - thanks for jumping in. I don't understand this behavior:
[code]

[2019-11-26 15:48] sbromberger commented on #1258
Ref: #1271

[2019-11-27 00:19] Thuener commented on #1268
In your example all edges weights are one, thus:
- The path [1, 5, 6, 8] has 3 edges, dist of 3;
- The [1, 2, 3, 4, 8] has 4 edges, dist of 4.
The path is only rejected if dist > maxdist.

[2019-11-27 07:29] Chakerbh commented on #1270
@simonschoelly Sorry, but is there any example of that? I couldn't find a way to use the function in the VFS module to implement clique count.

[2019-11-27 07:52] simonschoelly commented on #1270
Something like this should work:
[code]
Of course its not very efficient, especially as we overcount all the permutations and thus have to divide by `k!` afterwards.

For this case, one should also be able to use `count_induced_subgraphisomorph` instead, as it should give the same result. Maybe one of them is slightly faster than the other one.

[2019-11-27 09:57] Chakerbh commented on #1270
Thanks @simonschoelly, that works indeed. Unfortunately as you mentioned, the performance is bad for this one.
[code]

[2019-11-27 10:39] simonschoelly commented on #1270
Triangle counting is a special case anyway. If you just need that, I think there was also a PR for some algorithm for triangle counting, that was never merged to LightGraphs for some reason.

[2019-11-28 15:01] oskarddfa commented on #1259
Moreover, for a possible implementation the name should be decided between `characteristic_length`, `characteristic_path_length`, `average_path_length` or `average_shortest_path`. Literature is not really consistent in it.

[2019-12-05 17:31] rodrigolece commented on #1080
@sbromberger I'm on it! Let's see how far along I can get over this coming Christmas break.

[2019-12-05 17:46] sbromberger commented on #1080
Awesome! Good luck and feel free to reach out on github or on Slack if you need help or want to share ideas.

[2019-12-08 02:33] joseortiz3 commented on #10
So painful to implement state-of-the-art algorithms when indices are not preserved. Such algorithms recursively subgraph and keep track of sets of nodes at each recursion layer.

[2019-12-08 04:50] sbromberger commented on #10
@joseortiz3 assuming [this is your post on SO](https://stackoverflow.com/questions/59232027/julia-module-for-subgraphing-a-graph-nodes-vertices-and-edges-without-changi), my advice is to try implementing the interface functions for a graph data structure of your choosing.

[2019-12-08 22:00] joseortiz3 commented on #10
@sbromberger I found that SimpleGraphs preserves node identity during subgraphing already, so am wondering if implementing the interface for a homebrewed graph structure would still result in LightGraphs consolidating node indices.

[2019-12-20 13:38] #1237 closed

[2020-01-07 08:52] Hofsmo opened #1272 "Return order of vertices visited by DFS"
Hi,
I have problem where it is convenient to iterate from a source vertex `s` over a tree `t` given by `t = dfs_tree(G, s)`. If `s=1` this can easily be done by the following code:
[code]
However, if `s != 1` this does not work, since the fist vertex given by `vertices` is 1.  I guess my problem could easily be solved by having a `dfs_tree` function that also returns the order of which the vertice

[2020-01-10 12:53] alainchau opened #1273 "Add `target` parameter for shortest path"
Currently, `dijkstra_shortest_paths(g, srcs, distmx=weights(g))` computes all the paths between a vertex (or vertices) and the rest of the vertices. Can we add a method or adjust the function signature to accommodate a `target` parameter? I think the source code change should be minor; the algorithm terminates as soon as it reaches the target.

I was curious to see how Python's NetworkX handles th

[2020-01-10 14:51] sbromberger commented on #1273
If you have source and target, it's probably better to just use A*.

[2020-01-10 14:56] sbromberger commented on #1272
The way I'd normally suggest doing this is to take the general DFS algorithm and write a custom function with the visitors you want. The algorithm in [`dfs_parents()`](https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/src/traversals/dfs.jl#L102) is probably a good starting place.

We used to have custom visit functions for BFS and DFS, but that was back in the pre-1.0 days when they added

[2020-01-10 14:58] sbromberger commented on #1270
I wrote a naive triangle counting function using Roger Pearce's and Geoff Sanders's degree-sorted  algorithm but it was never optimized. I suppose I could go back and figure out how to make it fast but I'm swamped for the foreseeable future.

[2020-01-10 15:00] sbromberger commented on #1259
Looping back to this: given that it's essentially a one-liner, and there is an inconsistency in the name, I don't know that this is needed in LightGraphs at this point. It might be a good thing to put in a "recipes" section of the documentation, though. I've been thinking lately about adding such a section.

[2020-01-10 15:02] sbromberger commented on #1268
@Thuener can you take a look at this bug report? Thank you.

[2020-01-14 23:34] sbromberger commented on #1273
@alainchau let me know if A* won't work for you, and I'll go ahead and re-open for discussion. Thanks.

[2020-01-14 23:34] #1273 closed

[2020-01-14 23:47] sbromberger commented on #1269
@dietercastel I'll assume this works for you; if not, let me know and I'll reopen this issue. Thanks.

[2020-01-14 23:47] #1269 closed

[2020-01-15 03:51] sbromberger commented on #1258
Thanks for the report. Fixed via #1271.

[2020-01-15 03:51] #1258 closed

[2020-01-15 08:35] Hofsmo commented on #1272
Thanks for the suggestion.
I think I will implement a custom DFS function as you suggested, but it would definitively be nice with a DFS algorithm that accepted a custom visitor function. I am working with power systems and there are many cases where iterating the network using DFS or BFS could be quite useful.

Cheers Sigurd

[2020-01-16 09:41] pjgorski opened #1276 "[BUG] SimpleGraphs.erdos_renyi with p=1 runs forever"
**Description of bug**
Running SimpleGraphs.erdos_renyi with parameter p=1 will make Julia enter a while infinite loop.
The reason is SimpleGraphs.erdos_renyi uses `function randbn` ([link](https://github.com/JuliaGraphs/LightGraphs.jl/blob/1d4c341fdad3cfb6954361c107c7a5ca32903ae2/src/generators/randgraphs.jl#L41)), which has following code:

    log_q = log(1.0 - p)
    x = 0
    sum = 0.0
    wh

[2020-01-20 18:24] sbromberger commented on #1276
I can't repeat this:

[code]

We have [an explicit check](https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/src/SimpleGraphs/generators/randgraphs.jl#L124) for this.

[2020-01-20 18:29] sbromberger commented on #1272
If you wanted to do some benchmarking with implementing visitor functions (use an `@inline` directive and make the function do nothing by default), that'd be a big help. If we can show that having a NOP visitor function does not impact performance, it's a straightforward PR.

[2020-01-20 18:30] sbromberger commented on #1270
I'm going to close this out since we have an equivalent and since nobody seems to be stepping up to make a PR. :) Feel free to do so, though! It might be better off in Experimental or in its own repo.

[2020-01-20 18:30] #1270 closed

[2020-01-20 18:32] sbromberger commented on #1259
I'm going to close this out but if we ever start a LG recipes section of the documentation, this should be considered. Thanks!

[2020-01-20 18:32] #1259 closed

[2020-01-21 11:43] pjgorski commented on #1276
I have version 1.2.0

julia> pkgs["LightGraphs"]
v"1.2.0"

But I don't have function `complete_graph`...

ERROR: type UnionAll has no field complete_graph

[2020-01-21 12:40] simonschoelly commented on #1276
I think you have to write `LightGraphs.SimpleGraphs.complete_graph(5)`.

The reason is, that there is a type called `SimpleGraph` and a submodule called `SimpleGraphs`. That might sound a bit confusing, but its a convention often used in Julia projects, that the data type is a singular noun and the module that contains it is just the plural version of that noun,

[2020-01-21 12:42] simonschoelly commented on #1276
Also, as you are still using version v1.2.0 of LightGraphs, you have to write `CompleteGraph` instead of `complete_graph`.

[2020-01-21 12:48] pjgorski commented on #1276
I wrote it once with 's', one without and I copied the wrong line. I do have `CompleteGraph`. So I understand, I should upgrade the `LightGraphs`.

[2020-01-22 11:50] diegozea commented on #259
That's true! I encountered an obstacle related to the two language problem trying to use these fast python libraries coded on C/C++/Cython (there is a [benchmark here](https://www.timlrx.com/2019/05/05/benchmark-of-popular-graph-network-packages/)): **They are almost impossible (or at least annoying) to install in Windows because of compiling issues!** That is a big show-stopper if you need a grap

[2020-01-22 16:56] sbromberger commented on #1276
Please ensure you're running the latest release. Closing out as a duplicate of #1070

[2020-01-22 16:56] #1276 closed

[2020-01-22 22:17] Chakerbh commented on #1270
Thanks @sbromberger

[2020-01-23 01:29] jpfairbanks commented on #1227
So you have to chain the constructors. Like the following:

[code]

We could add additional constructors like `NormalizedLaplacian(A::SimpleGraph) = NormalizedLaplacian(NormalizedAdjacency(A .+ 0.0))`

[2020-01-23 11:57] Hofsmo commented on #1272
Thanks, I will give it a shot next week. I am quite new to Julia, so I am not guaranteeing anything ;)

Cheers Sigurd

[2020-01-23 14:55] andferrari commented on #1227
many thanks!

I was missing the ``.+ 0.0``...

It would indeed be a good idea. Do you mean ?
[code]
or
[code]

[2020-01-23 23:23] sbromberger commented on #1272
Ref #1278 - benchmarks look good for BFS. Want to try DFS next week? You can use my ugly code as a reference.

[2020-01-25 10:55] ajoanni opened #1279 "New Feature: Dominator Tree"
It would be nice to have an implementation of the Lengauer-Tarjan algorithm for creating the dominator tree from a given directed graph. [Dominator](https://en.wikipedia.org/wiki/Dominator_(graph_theory))

Is this planned for the near future?

[2020-01-25 14:31] sbromberger commented on #1279
Only if someone steps up to implement it... :)

[2020-01-26 19:09] sbromberger opened #1282 "Discussion: return type of `{in|out}degree`"
Right now, `degree` functions return whatever type is returned from `length` (currently int64). It seems to me that `degree` should return `eltype(g)`, especially since we don't support multigraphs (this could change via an override for any graph type in which a vertex's degree could  exceed the number of vertices in the graph). This has implications for, e.g., degeneracy where the core number of

[2020-01-27 12:59] matbesancon commented on #1282
IMO it's fine for some algorithms to return Int and not the integer type we use for storage, and then let users do the conversion when needed

[2020-01-27 15:44] sbromberger commented on #1282
A problem with the current setup is that if we have degrees > 2^63 (unlikely, but still), things will fail.

[2020-01-27 19:16] simonschoelly commented on #1282
If we have degrees > 2^63, then we also have more than 2^63 edges, so we also have an issue with `ne`.

[2020-01-27 20:06] sbromberger commented on #1282
yup. We force `eltype(ne)` to be `widen(nv(g))` in some places. I think we need to consider whether or not it makes sense to complete the abstraction work to include the possibility that we go beyond `Int64`.

[2020-02-10 18:08] #1080 closed

[2020-02-15 09:05] Thuener commented on #1268
@sbromberger
Should I just implement the solution of verifying the dist of the returned path returned by Dijkstra algorithm and return [] if it is strictly higer? I will create some test cases also. There is some way to limit the path distance in dijkstra_shortest_paths?

[2020-02-15 15:13] sbromberger commented on #1268
I don't think there's a way to limit the distance in dijkstra right now, but if you wanted to implement it, that'd be great. Please do so in LightGraphs.Experimental.ShortestPaths, though, since we're going to be deprecating the old functions to use the new way of doing things.

[2020-02-15 15:51] sbromberger commented on #1272
@Hofsmo did you get a chance to work on this? If not, I can do it, but I wanted to give you an opportunity to contribute if you had the time/desire to do so.

[2020-02-15 21:05] sbromberger commented on #1272
I've added DFS-based traversals to #1278.

[2020-02-15 21:05] #1272 closed

[2020-02-16 22:10] sbromberger opened #1284 "2.0.0 notes / discussion"
Here's the list of things I'd like to do in order to release LG 1.3.1:

- [x] merge #1278

For 1.4.0:
- [x] move `Experimental/ShortestPaths` and `Experimental/Traversals` into `src/`
- [ ] create necessary deprecations
- [ ] finish modularization of centrality measures (not into `Experimental`) and create deprecations
- [ ] remove all uses of `seed` in favor of an RNG

This will allow us to remov

[2020-02-17 02:29] sbromberger commented on #1284
cc @matbesancon @jpfairbanks @simonschoelly @somil55

[2020-02-17 09:10] matbesancon commented on #1284
Looks like a good plan to me

[2020-02-19 18:20] sbromberger commented on #1279
https://dl.acm.org/doi/10.1145/357062.357071

[2020-02-19 18:39] matbesancon opened #1287 "Fallback for all edge operations"
It would be handy for all edge operations to have both f(g, e) and f(g, src(e), dst(e)) defined by default on abstract graphs

[2020-02-19 21:28] sbromberger commented on #1287
(Agreed, but since this currently isn't manifesting as incorrect / unintended behavior, I've removed the "bug" tag.)

[2020-02-19 21:28] sbromberger commented on #1287
@matbesancon could you start compiling a list of functions that will require new methods?

[2020-02-19 22:19] sbromberger opened #1288 "Development of tutorials"
It would be great to have some tutorials / notebooks outlining what things can be done with LightGraphs.

[2020-02-20 17:08] matbesancon commented on #1287
Indeed the bug tag was my mistake, the github mobile interface is a bit of a pain

[2020-02-20 17:12] matbesancon commented on #1287
I've mostly noticed it for `add_edge!` `rem_edge!` `has_edge`

[2020-02-21 20:05] zierenberg opened #1289 "Question: API randbn() and usage in stochastic_block_model()"
Let me start by saying thank you for an awesome (light-weight) package for generating graphs. I am new to julia, but the first thing that entered my regular workflow is to use LightGraphs both for implementing neural networks as well as problems in statistical physics. Currently, I am starting to develop a ComplexNetworks module which builds on LightGraphs. So I looked at the graph generators and

[2020-02-21 20:27] sbromberger commented on #1289
I think we haven't yet "fixed" this (see #1237 and #1247). cc @matbesancon @simonschoelly for comments since they were involved in the original discussion.

Bottom line: I think we should eliminate the use of seeds as parameters to functions like this. Open to feedback here.

[2020-02-21 21:03] jpfairbanks commented on #1289
I just reviewed this code: https://github.com/JuliaGraphs/LightGraphs.jl/blob/351a0bdd04e0262f8ae4073baaf7d5381e3d9d5b/src/SimpleGraphs/generators/randgraphs.jl#L1046

It looks like the current interface for generating an SBM graph is to call
[code]
This approach uses the default global RNG. I guess you would want to use something like this:

[code]

The reason for this design is that I was workin

[2020-02-22 06:33] sbromberger opened #1290 "OpenStreetMapX's A* algorithm is much faster than ours"
https://github.com/pszufe/OpenStreetMapX.jl/blob/master/src/a_star.jl#L35

It's true.
[code]

We should incorporate those changes.

cc @bartoszpankratz @pszufe

[2020-02-22 08:03] pszufe commented on #1290
This has been implemented by @bartoszpankratz. We can help porting it to LightGraphs. Our implementation might be though not so well tested as yours so and the user's base of LightGraphs is much bigger. Hence I propose starting with excessive randomized testing.

[2020-02-23 17:30] sbromberger commented on #1290
Sounds great, @pszufe - I can rig up a test harness for it.

If there's anything else you find that can be faster, please feel free to open up PRs or issues here. We'd love to have LG meet your needs without having to resort to overriding our algorithms.

[2020-02-24 00:37] sbromberger opened #1293 "v1.3.1"
@juliaregistrator Register()

[2020-02-24 00:37] #1293 closed

[2020-02-24 00:38] sbromberger opened #1294 "v1.3.1"
@juliaregistrator Register()

[2020-02-24 00:50] sbromberger commented on #1294
@JuliaRegistrator register

[2020-02-24 00:50] JuliaRegistrator commented on #1294
Registration pull request created: [JuliaRegistries/General/9956](https://github.com/JuliaRegistries/General/pull/9956)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2020-02-24 01:39] sbromberger commented on #1294
@JuliaRegistrator register

[2020-02-24 01:40] JuliaRegistrator commented on #1294
Registration pull request updated: [JuliaRegistries/General/9956](https://github.com/JuliaRegistries/General/pull/9956)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2020-02-24 05:56] #1294 closed

[2020-02-24 06:21] sbromberger commented on #1284
1.3.1 released tonight. [Discourse announcement](https://discourse.julialang.org/t/ann-lightgraphs-1-3-1-and-the-upcoming-roadmap/35063).

[2020-02-24 08:14] abhinavmehndiratta opened #1295 "all_neighbors could be faster for SimpleDiGraph"
Here is the current definition for `all_neighbors` -
https://github.com/JuliaGraphs/LightGraphs.jl/blob/13ca5e013fd68082f84519844fef0e5b5a8803c6/src/core.jl#L282
SimpleGraphs store neighbors in sorted order, we could exploit that to make `union` faster, this would improve other algorithms. For eg. here is `kcore` with the new `all_neighbors`, I've just replaced `all_neighbors` with `new_all_neighb

[2020-02-24 20:28] zierenberg commented on #1289
Thank you for the explanation - I did not get to the edge_stream concept before but it looks really nice. For my current implementation, I was fine with standard iteration over the to-be-made adjacency matrix, but that might not always work.

As for the discussion on the API, I would agree that internal function should not receive seeds but the rng. This would be consistent with `make_edgestream`

[2020-02-25 18:13] sbromberger commented on #1295
Looks good:
[code]

[2020-02-25 18:14] sbromberger commented on #1295
Could you make a PR to `src/SimpleGraphs/digraphs.jl` ?

[2020-02-25 18:17] sbromberger commented on #1295
I got it :)

Ref: #1298

[2020-02-27 03:03] sbromberger commented on #1267
For HackIllinois: even though we have #1291, it'd be good to get benchmarks using the above code to compare against the PR.

[2020-02-27 16:10] alimamdouh212 opened #1301 "Lowest common ancestor"
i think Lowest common ancestor will be helpful, is there any interest of that ?

[2020-02-27 19:42] birm opened #1302 "Explore ways to eliminate/reduce random test failures"
Some of the non-deterministic methods have tests that fail sometimes.
This has been noticed in #886 for label propagation and in #534 in spectral (though that seems to have been resolved).

I'm sure there are other methods for which this happens too.

[2020-02-27 19:42] birm commented on #1302
One solution is to seed the tests themselves to avoid unpredictability. Another is to identify which random values(s) cause the methods to behave differently and, if the different results are wrong or otherwise undesired, avoid/fix that situation.

[2020-02-28 23:31] sbromberger commented on #1295
Closed via #1298.

[2020-02-28 23:31] #1295 closed

[2020-02-28 23:34] sbromberger commented on #1302
There's a third option: fail after "n of m" tests fail. This has the advantage of handling randomness with probability, but has the disadvantage of making the test suite more complex (and longer in the worst case).

cc @simonschoelly @jpfairbanks since I think they were involved in the original discussion.

[2020-02-28 23:36] sbromberger commented on #1227
Hey all, I'm going to close this out. If either / both of you want to work on a PR to implement the additional constructors, please have at it :)

[2020-02-28 23:36] #1227 closed

[2020-02-28 23:39] sbromberger opened #1305 "Enhancement to shortest paths algorithms to cap by distance/weight"
We could have a nice fix for #1268 if we had a consistent cap on distance/weight for SPAs. this could be fairly easily done with the new shortest paths visitor function syntax.

[2020-02-29 05:25] sbromberger opened #1306 "Enhancement: add friendship graph constructor for SimpleGraphs"
https://en.wikipedia.org/wiki/Friendship_graph

This would be good to have in SimpleGraphs.

[2020-02-29 16:23] sbromberger commented on #1284
OK, so we're a bit stuck. Here's the dilemma:

We can deprecate the various shortest path algorithms (SPAs) to use `shortest_paths`, no problem. However, the return types have also changed. Instead of getting a `AStarState`, you get an `AStarResult`. There is no way to make this nonbreaking – if we provide an `AStarState` constructor that takes an `AStarResult`, we're still not encouraging the use

[2020-02-29 16:28] matbesancon commented on #1284
I think we should create a 2.0 branch and merge all the breaking stuff on
it. This allows us to make a last 1.x release with either deprecations
(when possible) or warnings when not avoidable

On Sat, Feb 29, 2020, 17:23 Seth Bromberger <notifications@github.com>
wrote:

[2020-02-29 17:07] sbromberger commented on #1284
OK. I'm making `sbromberger/2.0.0` right now (we can change the name).

[2020-02-29 19:52] sbromberger opened #1307 "Modify Johnson's simple cycles to use our visitor-based DFS"
This would eliminate the need for the recursive function and would get us more consistent.

[2020-02-29 20:18] sbromberger opened #1308 "Methodize centrality"
Do for centrality what we just did for shortestpaths, and make centrality its own module.

[2020-02-29 22:18] #1305 closed

[2020-02-29 23:40] sbromberger commented on #1268
cc @estelle0500

[2020-02-29 23:47] #1268 closed

[2020-03-01 00:15] #1290 closed

[2020-03-01 00:41] sbromberger commented on #1284
Another thing that I want to try: moving complex functionality into submodules. Examples are:
- [ ] centrality
- [ ] cycles
- [ ] shortest paths
- [ ] traversals
- [ ] community
- [ ] biconnectivity
- [ ] dominating set
- [ ] independent set
- [ ] vertex cover

Basically, anything where we have a directory of related functions is fair game. (Things that are in a single file off of `src` MAY be eli

[2020-03-01 00:54] juliohm commented on #1284
Hi @sbromberger , sorry for not being so active recently with LG development. Have been really busy with the GeoStats.jl stack, it is consuming all my research time :)

Regarding the submodule question, I wonder if you considered the usual approach to large projects in Julia in which LightGraphs.jl becomes an umbrella package reexporting the submodules, and a package like LightGraphsBase.jl is cre

[2020-03-01 01:31] sbromberger commented on #1284
@juliohm - great to hear from you!!!!

Yes, I did consider this but I'm not quite sure I want to do that. The reason is that it's too hard to keep so many moving parts in sync and working well together. At least it was - maybe the new Pkg system will make things easier, but I remember doing this a couple years ago and having to pull a bunch of stuff back in.

I think for now I'd like to move slowl

[2020-03-01 04:50] sbromberger opened #1312 "[BUG] DFS is horribly broken"
**Description of bug**
Experimental DFS is broken (as is the nonexperimental `topological_sort_by_dfs()`. It takes way too long to traverse; there is some massive problem with the algorithm.

**How to reproduce**
Create a `star_graph(100_000)`. Run DFS. Note that it takes SECONDS to work.

**Expected behavior**
This should be much faster.

**Actual behavior**
This is too slow.

**Code demonstratin

[2020-03-01 09:51] alimamdouh212 commented on #1312
i think the problem is that we rescan every neighbours array, instead of resuming from the last index we were in the last time were in the node, the star graph is the perfect example for that problem, only one neighbours  that we care about, but we rescan it over and over which lead to O(n^2) .

that code will avoid this problem

`function dfs2(g::AbstractGraph{T},source) where{T}
s=Vector{}([])
p

[2020-03-01 12:36] alimamdouh212 commented on #1307
The current DFS algorithm prevent the node that have been visited before to be visited again, but
 in Johnson's the same node can be visited multiple times,
i can imagine calling the algorithm again in visitfn!, but that is just mutual recursion, which mean that we didn’t solve the problem, but still the algorithm can be made iterative, and i think it will be good PR.

[2020-03-01 20:29] alimamdouh212 opened #1317 "[BUG] using experimental dfs might prevent some optimization for he code"
sometimes we need to label the node in this  forum

`label[v] = somefunc( [ labe[i] for for i in children[v] ]) `

a good example of that is if we wanted to know how many nodes some node v can reach, then

`reachs[v] = sum(1+reachs[i]... for i in children[v] `

then we need just to keep track of the the node that we started processing them, but not yet completed, aka dfs stack nodes.
then it is a

[2020-03-01 20:32] sbromberger commented on #1317
We're in the middle of a fix for DFS given #1312 . Let's not make multiple issues.

[2020-03-01 20:32] #1317 closed

[2020-03-01 20:37] alimamdouh212 commented on #1317
@sbromberger  the problem with the star graph is different from the problem with the cycle graph,
so i wanted to point it.

[2020-03-01 20:50] sbromberger commented on #1317
Understood. We're getting ready to do a pretty comprehensive rewrite of DFS, so let's hold off on opening any other issues until we can evaluate the new function's correctness. If you see problems after the merge, please open up issues then.

[2020-03-02 02:57] sbromberger commented on #1284
Ref: #1318

[2020-03-03 20:13] sbromberger opened #1323 "Make biconnectivity/visit! use the new DepthFirst traversal algorithm (2.0)"
Right now `visit!` implements its own DFS. We should use the one in `Traversals`.

[2020-03-03 20:14] sbromberger commented on #1284
Ref: #1323

[2020-03-05 17:23] sbromberger commented on #1284
OK, here's the current status:

branch `1.4.0-dev` has been created. This branch will hold all the new (non-breaking) functionality and will provide deprecations. As of now `Traversals` (#1330) and `ShortestPaths` (#1331) are in queue for review and merge.

branch `2.0.0-dev` has also been created. This branch will hold breaking changes only. I'm not quite sure how we keep it current with 1.4.0-de

[2020-03-05 22:42] SyxP opened #1333 "Bikeshedding submodule name consisting of algorithms for Dominating Sets and Independent Sets"
@sbromberger wants to group these algorithms under a common submodule. The key issue here is to think of where a user would think these algorithms will go under.

Ideas include:

1. NPComplete, but this might end up being a huge space of algorithms and functions.
2. Clique, as the algorithms here are Clique related.
3. Perhaps these algorithms are distinct enough and each warrant their own submodu

[2020-03-07 17:07] sbromberger opened #1337 "[BUG] 1.4.0 topological_sort(g) is broken."
The new `topological_sort` is broken in master.
[code]

[2020-03-08 01:43] birm commented on #1287
Do you have an example of code that demonstrates a case where one of those definitions doesn't work?

[2020-03-08 08:28] alimamdouh212 commented on #1337
the problem is that the search starts from arbitrary nodes, it should start from the which has no inneighbours

[2020-03-08 16:14] simonschoelly opened #1342 "Implement a circulant graph generator."
It would maybe be nice to have a circulant graph generator in LightGraphs. I think we can have  two versions, with the signatures
[code]
The first function creates a `SimpleGraph` with `n` vertices where there is an edge between vertex i and j, whenever `j - i ∈ connection_set  (mod n)` or  `i - j ∈ connection_set (mod n)`
and the second function creates `SimpleDiGraph` with `n` vertices where the

[2020-03-08 16:35] alimamdouh212 commented on #1337
@sbromberger i think i have solved the bug in #1340, it produce the correct result for that case, would  you please review it.

[2020-03-09 14:29] sbromberger commented on #1312
Fixed in #1330 via https://github.com/JuliaGraphs/LightGraphs.jl/pull/1330/files#diff-b259d5b41b81a584f831146116a78501

[2020-03-09 14:29] #1312 closed

[2020-03-09 15:01] sbromberger commented on #1337
Closed via #1340

[2020-03-09 15:01] #1337 closed

[2020-03-09 18:47] sbromberger commented on #1307
Wouldn't that require us to expose `visited` and other internal state to the new function?

[2020-03-09 18:48] sbromberger commented on #1307
(Also - does our new dfs solve this problem?)

[2020-03-09 23:32] srv-twry commented on #1342
@simonschoelly @sbromberger Hi, I am looking to participate in GSoC with this project and want to work on this issue in order to get started. Can I?

[2020-03-10 00:02] sbromberger commented on #1342
Be my guest! Please make sure you’re using the latest master and yell if you need help.

[2020-03-10 07:32] rapus95 opened #1349 "Common API to create parallel traversal variants of existing algorithms"
first iteration of an API proposal. That means that each chosen name is subject to change arbitrarily. This design is mainly for outlining call, dispatch and type hierarchies of the proposal. Most of those structs are still singletons but for actual usage each struct needs to contain the flags the given resource, problem and traversalstyle may depend upon. (but none of the others)

[code]

Dependi

[2020-03-10 15:47] sbromberger commented on #1349
Some quick comments before I have had a chance to go deep into your proposal:

There's no reason to keep the number of threads and the number of nodes inside the `Resource` struct. These can change; the functions don't depend on them at all; and you discount other combinations (different `cores-per-node` settings on different nodes of a cluster) that might be relevant. But the bottom line is that

[2020-03-10 19:38] alimamdouh212 commented on #1307
@sbromberger if `visted` was was exposed we can solve that, but we can’t solve it now .

[2020-03-10 19:42] sbromberger commented on #1307
copying @estelle0500 here - she's been working on this.

[2020-03-10 20:47] birm opened #1352 "Consistent Style Standards"
re #1351

It'd be nice to have an agreed-upon set of rules that could be used to automatically or semi-automatically applied on LightGraphs.

In 1351, I ended up using JuliaFormatter with the following rules:
indent = 4, margin = 100, always_for_in = true, whitespace_typedefs = true, whitespace_ops_in_indices = false, remove_extra_newlines = true

However, some other changes needed to be made afte

[2020-03-10 20:50] sbromberger commented on #1352
Not really a bug :)

This is an overdue conversation, so thanks for starting it. Could I ask you to put together some concrete style rules we can use as the basis for discussion? I tried to give some feedback in the now-closed PR.

This will be a gigantic task, but the first step is agreeing on some style conventions, and publishing them.

[2020-03-10 23:08] birm commented on #1352
Ah, I didn't notice that it created a bug by default; maybe we want to add a feature request option to the .github issue templates?

I think that the suggestions on the base [JuliaLang/julia](https://github.com/JuliaLang/julia/blob/master/CONTRIBUTING.md#general-formatting-guidelines-for-julia-code-contributions) repo is at least a good start, if a bit vague.

I think that one of the decisions tha

[2020-03-10 23:12] sbromberger commented on #1352
- my preference is to break it down so each item gets its own line.
- agreed, but that's a pretty big undertaking. (I'm so used to `gofmt` that this seems really primitive.)

[2020-03-11 01:12] sbromberger commented on #1284
More info on the strategy here: https://gist.github.com/sbromberger/bc119e33e894582df0eddc35be4d20bd

[2020-03-11 07:59] rapus95 commented on #1349
How can they explore the available implementations right now? There MUST be a place somewhere, if it's not, THAT's hostile 😄 The only suggestion I made was to group the implementation per traversal or problem since usually people don't try to find an implementation but to solve a problem and then have to weight the possibilities against each other and finally choose one.

As I understood it, `BFS`

[2020-03-11 08:00] rapus95 commented on #1349
Maybe make the Graph part of the problem instance aswell. Technically that would make sense.

[2020-03-11 12:12] sbromberger commented on #1349
The current docstrings are short and provide pointers to the related functions.

shortest_paths(g, 1, BreadthFirst(Sort.QuickSort)) since it should be clear that this should result in a BFS state object anyway.

See `Travesals.dists(g, s, BreadthFirst())` and `Traversals.parents(g, s, BreadthFirst())`. The reason we provide `BFS` as a shortest-paths algorithm is to allow `dists` and `parents` simu

[2020-03-11 12:15] sbromberger commented on #1333
I think we might use `Clique` and move the other clique functions in as well. But I'd really like some more discussion first, and soon.

cc @jpfairbanks @simonschoelly @matbesancon @SohamTamba

[2020-03-11 14:19] estelle0500 commented on #1307
Yes, I’m planning to expose `visited` to the visitor functions.

[2020-03-11 18:33] alimamdouh212 commented on #1121
@sbromberger  @simonschoelly  what is the statue of that issue now, i would like to work on it.

[2020-03-11 18:47] sbromberger commented on #1121
I'd prefer if we merge/close out some of your other PRs first.

[2020-03-14 19:25] #1342 closed

[2020-03-14 19:26] sbromberger commented on #1306
closed via #1316.

[2020-03-14 19:27] #1306 closed

[2020-03-16 09:40] dr0pdb opened #1359 "[Feature] Add a way to detect a Tree & Implement faster diameter algorithm"
It would be great if there was a way to detect if a passed in undirected graph is a Tree.

A tree has the following properties:
1. `n` vertices
2. `n-1` edges
3. connected i.e. for every pair of vertices, there is a unique path between them.

## Usefulness

There are several instances where a problem has an extremely easier solution for a tree in comparison to a general graph.

For instance: `diam

[2020-03-16 14:34] alimamdouh212 opened #1360 "Isomorphism for trees"
#1359 reminded me that there is there is `o(nlgn)`  tree isomorphism algorithm, so i am asking if that is ok as a PR.

[2020-03-16 15:09] sbromberger commented on #1360
You've currently got 4 open PRs, each in a different state of readiness. As I mentioned before, I'd prefer you work on concluding those before starting any more, especially in the `Experimental` tree.

[2020-03-16 18:06] srv-twry commented on #1359
@sbromberger @simonschoelly If it seems a reasonable thing, I can implement this.

[2020-03-22 21:09] alimamdouh212 opened #1361 "gsoc 2020"
Hello,
i am willing to participate in gsoc 2020 with JuliaGraphs ,till now, i have fixed the topological sort bug, and the dfs performance bug, and i am willing for more contributions.
I want to support JuliaGraphs with the following :
1- till now wee don’t have min-cost-max-flow algorithm, so i want to implement the, the network simplex algorithm and cost scaling algorithm, the two considered to

[2020-03-23 05:33] abhinavmehndiratta commented on #1361
https://github.com/JuliaGraphs/LightGraphsFlows.jl have you checked this out ? Might be useful.

[2020-03-23 06:40] alimamdouh212 commented on #1361
@abhinavmehndiratta  yes i have, and found it missing some algorithms that i suggest to add, if you will be mentor and have some interest in this proposal or can help me contact some mentor that may be interested in this proposal i would be grateful.

[2020-03-23 15:22] sbromberger commented on #1361
Have you looked at https://julialang.org/jsoc/gsoc/graphs/ ? Those are the topics for which we're entertaining applications this year.

[2020-03-23 20:49] alimamdouh212 commented on #1361
@sbromberger Yes. i have, but i feel very Enthusiastic for this proposal, will it be acceptable ?

[2020-03-23 21:00] alimamdouh212 commented on #1361
most graph libraries support min-cost-max-flow, it is very important algorithm, and from what i have studied , it is very fun topic to work in.

[2020-03-23 21:05] sbromberger commented on #1361
Only if we have an extra slot (after prioritizing the other two topics) and a willing mentor, each of which is unlikely in itself and even less likely in combination.

[2020-03-23 21:17] alimamdouh212 commented on #1361
@sbromberger  why it is unlikely ?

[2020-03-23 21:27] sbromberger commented on #1361
Because if we get any GSOC slots at all, they will be used to prioritize those proposals that match what we're currently looking for. While the topics you're proposing might be interesting, they're not among our current priorities.

If we, by some miracle, have an extra slot after accepting proposals that are on-topic, then we'll consider other proposals. But it's more likely that we would give th

[2020-03-23 21:33] alimamdouh212 commented on #1361
@sbromberger  i mean you mentioned that even two slots are unlikely.

[2020-03-23 21:37] sbromberger commented on #1361
In the past, we've gotten anywhere from 0 - 2 slots. Even if we get a third slot, it is unlikely that we'll keep it. It's more likely that we'd give it to some other project that was underfunded.

I just want to set the expectation that we're going to prioritize proposals that address our stated needs, and that we most likely will not be entertaining any other proposals.

(The other way we might p

[2020-03-23 21:47] alimamdouh212 commented on #1361
@sbromberger  could you tell me which one is that topic, co i can pursue the other, and don’t have conflicts.

[2020-03-23 21:52] sbromberger commented on #1361
nope. I don't know for sure myself, and won't know until after the submission deadline. It also wouldn't be fair to the other applicants.

[2020-03-24 20:41] alimamdouh212 opened #1363 "bug in neighborhood function"
[code]
will result in `[1, 3]` despite 2 can be reached from 1 by a path of length 2 .

[2020-03-24 20:55] sbromberger commented on #1363
Possibly related to #1116

[2020-03-24 20:59] sbromberger commented on #1359
Is there a way to do this that's not |V|^2? Otherwise couldn't we just implement
[code]
?

[2020-03-24 21:10] alimamdouh212 commented on #1363
no, the issue in  #1116 no longer exists.

[2020-03-24 21:19] sbromberger commented on #1363
I know the issue no longer exists, since it was closed in #1166, but the fix that we used there may be the cause or otherwise related.

[2020-03-24 21:36] alimamdouh212 commented on #1363
The cause of this issue, is that with the first vist to any node, it
considered visited, and its distance cannot be modified, even if there is
some other path that have shorter distance, but haven't been discovered
yet, the only way to address this isuue is by using Dijkstra's algorithm.

On Tue, Mar 24, 2020, 11:20 PM Seth Bromberger <notifications@github.com>
wrote:

[2020-03-24 21:40] alimamdouh212 commented on #1363
Can I submit a PR for it?

On Tue, Mar 24, 2020, 11:36 PM Ali Mamdouh <alimamdouh1809@gmail.com> wrote:

[2020-03-24 21:43] sbromberger commented on #1363
It will be fixed once we merge #1332 and migrate neighborhood to use the new shortest paths / traversal code.

[2020-03-25 04:18] srv-twry commented on #1359
Yes, we could and should implement what you're suggesting. I just wrote the conditions for a tree. A simple connectivity check using a dfs from any vertex should be fine as you've suggested.

[2020-03-25 22:03] sbromberger commented on #1361
Closing this particular thread since the discussions are happening in our #graphs slack channel.

[2020-03-25 22:03] #1361 closed

[2020-03-26 16:55] sbromberger opened #1366 "New Temporary PR Policy"
Hi all,

I am grateful for all the assistance in maintaining LightGraphs, and I'm very impressed by the quality of the code that's being submitted as PRs.

We are gearing up for a major 2.0.0 release, and we're in the middle of migrating most functionality into new modules. This migration is being rolled out in a systematic, serial manner to ensure the continued stability of the codebase.

This me

[2020-03-26 22:31] sbromberger opened #1369 "[BUG] merge_vertices() doesn't work as expected"
**Description of bug**
merge_vertices doesn't work properly.

**How to reproduce**
[code]

**Expected behavior**
Describe what you expected to happen.
[code]

**Actual behavior**
[code]

`merge_vertices!` exhibits correct behavior.

[2020-03-26 22:59] birm commented on #1267
@sbromberger we can probably close this too :)

[2020-03-26 23:27] birm commented on #1369
So, maybe this isn't an issue, but #1368 turns out not to work with duplicated entries in `vs`
[code]

[2020-03-26 23:35] sbromberger commented on #1369
nothing that a simple `unique` can't fix, right? I'll try a quick PR.

[2020-03-26 23:42] birm commented on #1369
I'm at it anyway, so unless you've already done it, I will.

[2020-03-26 23:43] sbromberger commented on #1369
I've done it. There were a couple of other minor things to check also :)

[2020-03-26 23:48] sbromberger commented on #1369
ref: #1370. Doesn't close this issue, but does fix the unique vertices issue.

[2020-03-27 01:54] #1369 closed

[2020-03-27 04:26] sbromberger commented on #1369
@birm - please consider joining us on the Julia slack - we hang out in the #graphs channel.

[2020-03-27 04:33] #1267 closed

[2020-03-27 20:36] sbromberger opened #1376 "[2.0.0] revamp documentation"
cc @kshyatt - we'll want to create docstrings for all new modules and ensure that all public functions have correct docs (preferably with examples).

Might also take the opportunity to standardize on a format.

[2020-03-27 22:38] #1363 closed

[2020-04-02 21:27] Lucasslimam opened #1383 "Adding functions to work with planarity graphs"
I would like to add a function to test if something called "combinatory description" (I don't know if the term is exactly the same in English) and to do that we can work with adjacency lists but the order of the vertices in the adjacency lists is important to do that. Unfortunately I noticed that the vertices are always stored in ascending order so I would like to know what is the best, work with

[2020-04-02 21:31] sbromberger commented on #1383
For `SimpleGraphs`, the output from `fadj` and `badj` adjacency list accessors will always be in sorted order. Can you use those?

[2020-04-02 21:33] Lucasslimam commented on #1383
I would need an unsorted order, for exemple, if someone does add_edge!(g,1,3) and later add_edge!(g,1,2) I would like to have g.fadjlist[1] = [3,2]

[2020-04-02 21:33] Lucasslimam commented on #1383
I would need an unsorted order, for exemple, if someone does add_edge!(g,1,3) and later add_edge!(g,1,2) I would like to have g.fadjlist[1] = [3,2]

[2020-04-02 21:34] sbromberger commented on #1383
Oh. nope. That won't work then. We keep the adjacency lists sorted internally.

[2020-04-02 21:39] Lucasslimam commented on #1383
What would you recommend ? If I am going to do my function with my own structure I would probably use something like this: function name(desc::Vector{Vector{Int}}, num_edges::Int) do you think that would be a problem ? I would like to use structures Like AbstractGraph and its functions so the function would be more resembling to the rest of the functions in LightGraphs

[2020-04-02 21:43] sbromberger commented on #1383
What I'd recommend just off the top of my head is something like what we do in MetaGraphs:
[code]

and then just implement the interface and core functions, and you should be all set.

[2020-04-02 21:59] Lucasslimam commented on #1383
Hmmm ok, thanks!! As soon as I check the feasibility of this idea to my project I will continue the discussion!

[2020-04-02 22:45] sbromberger commented on #1383
Sounds good. I'll close this out for now.

[2020-04-02 22:45] #1383 closed

[2020-04-03 21:02] #1282 closed

[2020-04-09 17:58] bonakdarf92 opened #1388 "[BUG] incidence_matrix deliver wrong values"
Working for my Masterthesis and tried to work on a simple model to verify my algorithm. Found that the resulting incidence matrix is wrong, despite the fact the adjacency matrix is correct.

[code]
![bugreport](https://user-images.githubusercontent.com/12588566/78925718-33c11480-7a9c-11ea-8bc9-40d928139ff6.png)

It easy to verify that the last column must be somethin like this:
[code]

But suprisi

[2020-04-09 19:47] sbromberger commented on #1388
Yup, this definitely looks wrong.

[2020-04-10 13:24] abhinavmehndiratta commented on #1388
https://github.com/JuliaGraphs/LightGraphs.jl/blob/8df46376140234f48ae9f2a11f2185fd4fecb616/src/linalg13/spectral.jl#L171

Seems like the code is changing the value of u & v inside the loop resulting in the wrong neighbors. Possible fix, change it to -

[code]

[2020-04-10 14:36] jpfairbanks commented on #1388
Yeah that is def a bug. How does this even get the first 7 cols right?

[2020-04-11 05:18] #1184 closed

[2020-04-12 04:51] #1388 closed

[2020-04-13 00:14] sbromberger commented on #1308
Closed via #1377.

[2020-04-13 00:14] #1308 closed

[2020-04-13 18:18] CameronBieganek opened #1395 "Feature request: Dynamic shortest-path algorithms"
This is probably not a priority, but it would be cool if LightGraphs had some algorithms for dynamic/incremental shortest-paths. In other words, an algorithm that efficiently updates shortest-paths as edges and nodes are added to and deleted from a graph. Example references include the following:

https://www.dis.uniroma1.it/~demetres/docs/dapsp-full.pdf

https://arxiv.org/pdf/1607.05132.pdf

...a

[2020-04-13 23:59] sbromberger opened #1397 "[BUG] Floyd-Warshall is consistently slower than Dijkstra"
**Description of bug**
With or without a distance matrix, Floyd-Warshall is slower than a function that calls Dijkstra across all vertices.

**How to reproduce**
[code]

**Expected behavior**
I'd expect Floyd-Warshall to be faster than Dijkstra for all pairs shortest paths calculations.

**Actual behavior**
In my tests, Dijkstra completed in ~8s. FW completed in ~21s.

**Version information**
Curr

[2020-04-14 11:30] abhinavmehndiratta commented on #1397
Isn't this expected for a sparse graph? Since, time complexity for floyd-warshall is O(V^3) and for dijkstra O(VElog(V)). In this example V^2 > Elog(V), so dijkstra will perform better.

[2020-04-14 14:43] sbromberger commented on #1397
Yup, that's the issue.
[code]
Even more argument for a benchmarking package.

[2020-04-14 14:44] #1397 closed

[2020-04-16 14:44] EliasBcd opened #1401 "[BUG] ncycles_n_i produces incorrect results"
**Description of the bug**
The function `ncycles_n_i(n, i)` that computes the maximal number of cycles of length `i` in a directed graph of size `n` has two issues:
1. It yields incorrect results, because the formula employed is actually incorrect;
2. It does cannot take into account self-loops.

**How to reproduce**
For instance
[code]
yield a result of 2, whereas we would expect a result of 1, a

[2020-04-16 15:57] sbromberger commented on #1401
Would you mind making a PR for this? I'll do a quick review and merge.

Thanks!

[2020-04-17 06:53] EliasBcd commented on #1401
Sure, I will do!

[2020-04-19 04:34] sbromberger commented on #1401
Closed via #1402. Thank you!

[2020-04-19 04:34] #1401 closed

[2020-04-21 16:50] sergio-gomez opened #1405 "[BUG] Wrong values of Betweenness centrality"
**Description of bug**
Betweenness centrality reports meaningless values when the network is a bit large

**How to reproduce**
julia> G = SimpleGraphs.grid([50, 50])
julia> btw = betweenness_centrality(G, normalize=false, endpoints=false)
julia> maximum(btw)
6.360647079664976e10

**Expected behavior**
I've calculated the maximum betweenness with a different software (Radatools), and the result sho

[2020-04-21 17:36] sbromberger commented on #1405
Yup, confirmed.

[2020-04-21 18:53] sergio-gomez commented on #1405
Looking at the code, it does not seem a good idea to find first all the paths (Dijkstra or BFS) and then use them all to calculate the betweenness. This means storing a lot of information, which is not needed, and may harm the analysis of large networks. It would be better to directly implement Brandes' algorithm. Moreover, the same algorithm could be used to calculate the betweenness of all the e

[2020-04-22 06:39] sbromberger commented on #1405
We don't do that. We accumulate after each path calculation and then throw away the shortest path result, keeping only one in memory at any time.

It looks like there are two problems here, and they manifest particularly easily with grid graphs. The path counts for vertices in the bottom right of a grid grow exponentially large. This is to be expected (and confirmed with NetworkX), but this overfl

[2020-04-22 07:10] sbromberger commented on #1405
Some notes:

divergence happens sometime around `grid(35, 35)` and increases from there. Changing the variables in `_accumulate_basic!` to `BigFloat` with default (256-bit) precision doesn't help, so if it's a FP accuracy error it's happening elsewhere.

I still think this is a problem when the pathcount gets too high. With `grid(36,36)` the maximum pathcount is at the last vertex (1296) with `1.1

[2020-04-22 08:30] sergio-gomez commented on #1405
I can confirm that the four corners of the grid  (not only node 1296) generate 1.12e20 shortest paths:
julia> sum([multinomial(BigInt(i), BigInt(j)) for i in 0:34 for j in 0:34]) - 1
112186277816662845430

[2020-04-22 14:04] sergio-gomez commented on #1405
Ups, the value 112186277816662845430 is for the grid 35x35, not 36x36, as you can see in the loops, ranging from 0 to 34.

My working code (Radalib/Radatools), written in Ada, makes use of Doubles instead of Ints to accumulate the paths, and directly implements the Brandes' algorithm. Anyway, a solution based on BigInt seems much more appropriate.

[2020-04-22 15:14] sbromberger commented on #1405
It's not, because it would kill performance. Even with Float64 where the upper bound is ~1e308, we're seeing accumulation errors because the denominator is so large. `BigFloat` with 256-bit precision fares no better.

The implementation of Brandes' algorithm is a red herring, I think. Both algorithms calculate the total number of shortest paths to each vertex, and both produce the same large numbe

[2020-04-22 22:42] sbromberger commented on #1405
As it turns out the troubleshooting problem was developer error: I was using a deprecated version of the centrality measure that defaulted to Dijkstra, which I hadn't applied the fix to yet. Once we moved both shortest paths algorithms to `Float64` pathcounts from whatever Integer type they were using, things started working. Waiting for tests to finish and then will merge #1406 and close this out

[2020-04-22 23:40] #1405 closed

[2020-04-23 00:13] sbromberger opened #1407 "register"
@JuliaRegistrator register branch=sbromberger/fix-pathcounts

[2020-04-23 00:13] JuliaRegistrator commented on #1407
Registration pull request created: [JuliaRegistries/General/13499](https://github.com/JuliaRegistries/General/pull/13499)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-04-23 02:47] sbromberger commented on #1405
Version 1.3.2 was released with this fix.

[2020-04-23 03:23] #1407 closed

[2020-04-25 17:45] sbromberger opened #1408 "Tracking 2.0 - move RandomOrientationDAG from Generators to operators"
As @simonschoelly notes, this is really an operation, not a generator.

[2020-04-28 20:26] CameronBieganek opened #1411 "Rename Simple[Di]GraphFromIterator for v2.0"
The name `Simple[Di]GraphFromIterator` implies that you are constructing an object of type `Simple[Di]GraphFromIterator`, but they in fact return objects of type `Simple[Di]Graph`. So, it seems like those functions should either be renamed to `Simple[Di]Graph`, or perhaps to something like `simple_[di]graph`.

[2020-04-28 20:33] sbromberger commented on #1411
The problem is that there is no generic type for an iterator, and we don't really want to have an untyped constructor that assumes iteration, since that becomes the default.

[2020-04-28 20:35] sbromberger commented on #1411
[code]
[code]

[2020-04-28 20:44] CameronBieganek commented on #1411
Hmm, I don't know what your current state of development on the 2.0 branch is, but on v1.3.2, the method table looks like this:

[code]

So, all of the existing methods are more specific than `SimpleGraph(iter)`, so it seems like you could get away with renaming `SimpleGraphFromIterator` to `SimpleGraph`. (At least on v1.3.2, and ignoring the fact that it's a breaking change.)

Otherwise I would s

[2020-04-28 20:51] simonschoelly commented on #1411
If I remember correctly, when I implemented this constructor, there were some issues, because we also had a constructor that accepted a matrix.

Maybe it is time to reconsider that for 2.0. Currently we have way too many constructors for my taste, which makes deliverability difficult, but maybe the Erdos-Renyi constructors will go away with 2.0. On the other hand we will introduce there some new c

[2020-04-28 20:52] sbromberger commented on #1411
If you did that, and created `SimpleGraph(iter)`, then it would be used for ALL `iters` that didn't match another constructor type, regardless of whether `iter` was actually an iter. An example would be `SimpleGraph("hello")`, which wouldn't produce a method error, but some other error deep in the bowels of the constructor. This is not a great user experience.

[2020-04-28 21:03] sbromberger commented on #1411
... and fwiw I agree that we have way too many constructors.

[2020-04-28 21:12] CameronBieganek commented on #1411
There are plenty of functions in Base with a generic `itr` method. Examples:

- [sum](https://github.com/JuliaLang/julia/blob/b8e9a9ecc62ab49003bd4f1834771bdeb8cb1aa2/base/reduce.jl#L503)
- [mean](https://github.com/JuliaLang/Statistics.jl/blob/a87c385b812e6576be984cae96beae64252214f0/src/Statistics.jl#L44)

And they have the property you mentioned where you can feed them an arbitrary iterator and

[2020-04-28 21:21] sbromberger commented on #1411
fair enough, but then you run into the problem of the type of iterable. In this case, we're saved because we actually have a type of iterator, called `AbstractEdgeIter`, which is really all this function accepts anyway. So we could create a specialized method for `AbstractEdgeIter`.

[2020-04-28 21:22] sbromberger commented on #1411
although if we're zipping things, it won't work.

[2020-04-28 21:36] CameronBieganek commented on #1411
Sorry, I'm ignorant of the details of `AbstractEdgeIter`, but could you add `first` and `last` methods to `Edge` so that you could write a generic `SimpleGraph(itr)` constructor that would work for an iterator over `Edge`s, pairs, and length 2 tuples or arrays? Or, alternatively you could add a `getindex` method to `Edge` so that you can do `e = Edge(4, 5); e[1]`.

Just brainstorming here. I don't

[2020-04-28 22:09] sbromberger commented on #1411
if we're going to be eliminating constructors, I'd say that we should let people write what they need. :) The number of constructors in 2.0 has ballooned to over 40 (randgraphs, smallgraphs, etc). I think we need to figure out which legacy ones we should get rid of. There are a few, but the issue is type parameterization requires two per. That is,

[code]

[2020-04-29 04:59] birm commented on #1302
I think we want to keep this open for now. So that we don't have to, is a retry n times, expect >m successes loop or macro around certain tests reasonable? Does this still apply with 2.x?

[2020-04-30 17:04] CameronBieganek commented on #1376
One note on documentation:

Currently the [Core Functions](https://juliagraphs.org/LightGraphs.jl/stable/core/) page of the documents is only accessible if you happen to search for one of the functions, like `degree`. There's no menu link to Core Functions page.

[2020-05-02 07:16] #1289 closed

[2020-05-06 05:10] #1302 closed

[2020-05-07 05:40] #1301 closed

[2020-05-09 09:15] matbesancon commented on #1287
bump

[2020-05-09 09:15] matbesancon commented on #1287
(just for stalebot)

[2020-05-09 18:18] sbromberger opened #1415 "hotfix for corenum bug (will be v1.3.2)"
@JuliaRegistrator register branch=sbromberger/fix-corenum

[2020-05-09 18:18] JuliaRegistrator commented on #1415
Error while trying to register: Version 1.3.2 already exists

[2020-05-09 18:28] #1415 closed

[2020-05-09 18:32] sbromberger opened #1416 "Hotfix v1.3.3 fixes corenum bug"
@JuliaRegistrator register branch=sbromberger/fix-corenum-1.3.3

[2020-05-09 18:33] JuliaRegistrator commented on #1416
Registration pull request created: [JuliaRegistries/General/14474](https://github.com/JuliaRegistries/General/pull/14474)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-05-09 23:49] sbromberger commented on #1416
Merged and tagged.

[2020-05-09 23:49] #1416 closed

[2020-05-10 03:44] sbromberger commented on #1284
bump

[2020-05-10 03:44] sbromberger commented on #1352
bump

[2020-05-10 14:43] sbromberger commented on #1333
Closing. We’ve chosen `VertexSubsets`.

[2020-05-10 14:43] #1333 closed

[2020-05-14 14:04] #1349 closed

[2020-05-16 02:34] #1288 closed

[2020-05-16 02:34] #1279 closed

[2020-05-16 18:26] dietercastel commented on #1269
I'm doing a course on Uncertainty using graphical models and working on a Julia library [found here](https://github.com/KULeuven-MAI/UAI.jl) to accompany my studying.

Thanks for the response! I've finally taken this up again and indeed that seems to work (so far). I created the following function to get the "chain components" for such a graph.

[code]

Small example:
[code]

[2020-05-16 19:37] bkamins opened #1423 "Katz centrality for weighted graphs"
Why in https://github.com/JuliaGraphs/LightGraphs.jl/blob/master/src/Centrality/katz.jl#L46 there is the restriction to `Bool` type. I think that allowing `Float64` should be enough and it would allow for weighted graphs.

[2020-05-16 19:38] bkamins commented on #1423
(it is not a bug but feature request - the "bug" label was added automatically and I do not know how to remove it)

[2020-05-16 19:58] sbromberger commented on #1423
If you'd like to make a PR, please do (to the code in master branch). But do you have a reference for Katz on weighted graphs? I've not seen this before.

[2020-05-16 20:21] bkamins commented on #1423
igraph supports weights https://igraph.org/r/doc/alpha_centrality.html

Also from a linear algebra perspective there is no problem with the definition.

Of course one has to be careful to make weights meaningful (as e.g. negative weights clearly do not make sense). But since SimpleWeightedGraphs defines `pagerank` for weighted graphs then in the same way Katz centrality can be accepted.

[2020-05-16 20:24] bkamins commented on #1423
Also `eigenvector_centrality` now just works for weighted graphs

[2020-05-16 20:28] sbromberger commented on #1423
I would suggest we make this a different centrality type, say, `Bonacich`. It's one of many in the class of eigenvector centrality measures. I think the most common use for `Katz` is without weights.

[2020-05-16 20:48] bkamins commented on #1423
I leave it up to you to decide (as I have a minimal understanding of the LightGraphs.jl design). But the only change required in the code is to change `Bool` to `Float64`, all else is the same (it can be called `Bonacich` if you prefer this).

[2020-05-16 22:24] sbromberger commented on #1423
OK. Let me make a quick PR and you can review it? I have a special way I'd like to do it.

[2020-05-17 03:33] #1323 closed

[2020-05-17 14:30] #1307 closed

[2020-05-20 13:39] radium42 opened #1427 "Edge Betweenness with LightGraphs"
Hi! Im having trouble calculating the edge betweenness of a graph with LighGraphs. Is there a quick way to do this?

[2020-05-20 15:02] sbromberger commented on #1427
We don’t have edge betweenness as an algorithm yet.

[2020-05-20 16:07] sbromberger commented on #1423
After talking with one of our Katz experts here, I think your original proposal (add a method to Katz for weights) is the right one. Let me put up a PR for review.

[2020-05-20 16:18] sbromberger commented on #1423
I think I've done it. @bkamins - Would you mind providing an example of a proper result with a very small graph and weight matrix? I'll include that in our tests.

[2020-05-21 09:51] bkamins commented on #1423
Here is what igraph produces. Is 5x5 small enough? Tested for 4 values of alpha centrality. I have also hand-checked that the results follow the theory
[code]
to test `isapprox` is probably needed.

I am not sure if you allow SimpleWeightedGraphs.jl as a dependency in tests, because I guess within LightGraphs.jl it is not possible to test it, unless your implementation allows for passing weights a

[2020-05-21 18:06] sbromberger opened #1429 "2.0 discussion: revamp LinAlg"
cc @bkamins @haampie @jpfairbanks @simonschoelly @matbesancon

Hi all,

I wanted to get the Linear Algebra experts I know together to discuss how to better structure the linear algebra stuff in LightGraphs (now in the `linalg13` directory) for LG 2.0.

I think there have been some significant changes to linear algebra functions since we originally wrote this code, so there are undoubtedly some opt

[2020-05-21 18:23] simonschoelly commented on #1429
One approach would be to not create a new matrix out of a graph. but instead have a wrapper class that that implements the matrix interface.

Some experiments that I did with this can be found here: https://github.com/simonschoelly/SimpleValueGraphs.jl/blob/3a010f1ecf09d0cf50064b0a125bf05680cd1277/src/matrices.jl#L5

Advantages:
- The user can choose themselves if they want to convert that matrix

[2020-05-21 18:52] bkamins commented on #1429
This was similar what I was thinking. I.e. maybe we can allow users to choose a linear operator or a materialized matrix. Maybe accessible via a different function.

The point is that e.g. `(I - alpha*transpose(A)) \ v` where `A` is an adjacency matrix (this is solved to find Katz centrality) could possibly be made more efficient if we did not materialize `A` as sparse matrix (and additionally you